<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- Container-fluid starts -->
  <div class="container-fluid mt-0">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-block auth-body mr-auto ml-auto">
          <form class="md-float-material" [formGroup]="forgotPasswordForm" (ngSubmit)="sendSMS()">
            <div class="text-center logo-text">
              <img class="pb-2" width="60px" src="../../../assets/images/logo.png" alt="SinknLink">
              <h1><strong>
                  <span>Sink</span>
                  <span class="ngb-dp-weekday">n</span>
                  <span>Link</span>
                </strong>
              </h1>
            </div>
            <div class="auth-box">
              <div class="row">
                <div class="col-md-12">
                  <p class="text-left">Recover your password</p>
                </div>
              </div>
              <div *ngIf="errMessage" class="alert alert-danger">
                <strong>{{errMessage}}</strong>
              </div>
              <div *ngIf="sucMessage" class="alert alert-success">
                <strong>{{sucMessage}}</strong>
              </div>
              <div class="input-group">
                <input class="form-control" formControlName="mobileno" type="text" placeholder="Mobile Number">
                <span class="md-line"></span>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button [disabled]="validatingUser" type="submit"
                    class="btn btn-primary btn-md btn-block waves-effect text-center">{{validatingUser == true ? 'Verifying user..,' : 'Submit'}}</button>
                </div>
              </div>

              <p class="text-inverse text-right">Back to <a [routerLink]="['/auth/login']">Login.</a></p>


            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>