<!-- <div class="header-title m-t-60 mb-3">
    <h3 class="f-18 text-primary m-l-15">Gigs</h3>
</div> -->
<div class="header-title addeditpage m-t-40 mb-3">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <h3 class="f-18 text-primary m-l-15 p-t-10">History</h3>
        </div>
        <div class="col-md-4 col-sm-4 p-r-40">
            <div class="text-right">
                <label> Search :
                    <input #gigsSearch type='text' class="header-search form-control input-sm full-data-search" placeholder='Search for here'
                        (keyup)='search($event)' placement="bottom" ngbTooltip="Type here to search" />
                    <button type="button" class="btn search-close" (click)="gigsSearch.value='';search();"><i class="fa fa-close"</button>
                </label>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 p-r-0">
            <button type="button" placement="bottom" ngbTooltip="Click to add gig" class="btn btn-primary waves-effect" (click)='addGig()'><i class="fa fa-plus-circle m-r-5"></i> New</button>
        </div>
    </div>
</div>

<div class="header-block">
    <div class="table-header fixed-table-header">
        <app-card [classHeader]="true">
            <ngx-datatable #gigstable class="table data-table expandable" [rows]='gigsList' [columnMode]="'flex'" [headerHeight]="50" [rowHeight]="'auto'" [reorderable]="false">
                <!-- Row Detail Template -->
                <ngx-datatable-column prop="postname" name="Post Name" [resizeable]="false">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        <span>{{row.postname}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="posttype" name="Post Type" [resizeable]="false">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        <span>{{row.posttype}}</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Posted By" [resizeable]="false">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        <span class="updatename">{{row.updatedby}}</span>
                        <span class="updatedate">{{row.updateddt|date:datedisplayformat}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Status" [sortable]="false" [flexGrow]="0.5" [cellClass]="'text-center status'" headerClass="text-right">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        <ui-switch class="js-small" placement="bottom" ngbTooltip="Click to change status" color="#03ADED" switchColor="#fff" size="small" [checked]="row.status == 'Active'" (change)="updategigStatus(row,rowIndex,false)"></ui-switch>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Action" [sortable]="false" [flexGrow]="0.5" [cellClass]="'text-center action'" headerClass="text-right">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        <a placement="bottom" ngbTooltip="Click to edit gigs" class="m-r-15 crm-action-edit text-primary">
                            <i class="fa fa-pencil"></i></a>
                        <a placement="bottom" ngbTooltip="Click to delete gigs" class="crm-action-delete text-danger" (click)="updategigStatus(row,rowIndex,true)">
                            <i class="fa fa-trash"></i></a>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </app-card>
    </div>
</div>
<app-add-edit-gig [gigObj]="gigObj" [customerid]="customerid" (notifyGigChange)="notifyGigChange($event)"></app-add-edit-gig>