<div class="header-title">
    <h3 class="f-18 text-primary m-l-25">Gigs List</h3>
</div>


<div class="header-title addeditpage m-t-10 mb-3">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <input #gigsSearch type="text" class="header-search form-control col-md-5 col-sm-5 p-l-0 p-r-0 input-sm full-data-search" placeholder="Search here" (keyup)='search($event)' placement="bottom" ngbTooltip="Type here to search">
            <button type="button" class="btn search-close col-md-1 col-sm-1 p-l-0 p-r-0" (click)="gigsSearch.value='';search();"><i class="fa fa-close"></i></button>
        </div>
        <div class="col-md-6 col-sm-6 p-r-10 text-right">
            <button type="button" placement="bottom" ngbTooltip="Click to add customer" class="add-btn btn btn-primary waves-effect m-r-10" (click)='addgig()'><i class="fa fa-plus-circle m-r-5"></i> New</button>
            <button type="button" placement="bottom" ngbTooltip="Reload" (click)="getgigsList(customerObj)" class="btn btn-inverse btn-primary waves-effect"><i
    class="ti-reload "></i></button>
        </div>
    </div>
</div>

<div class="header-block">
    <div class="table-header fixed-table-header">
        <div class="card p-r-15 p-l-15">
            <ngx-datatable #gigstable class="table data-table expandable" [rows]='gigsList' [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [limit]="5" [rowHeight]="'auto'" [reorderable]="false" [messages]="emptymessages">
                <ngx-datatable-column prop="postname" name="Post Name" [resizeable]="false">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        <span>{{row.postname}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="posttype" name="Post Type" [resizeable]="false">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        <span>{{row.posttype}}</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Posted By" [resizeable]="false">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        <span class="updatename">{{row.updatedby}}</span>
                        <span class="updatedate">{{row.updateddt|date:datedisplayformat}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Status" [sortable]="false" [flexGrow]="0.5" [cellClass]="'text-center status'" headerClass="text-right">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        <ui-switch class="js-small" placement="bottom" ngbTooltip="Click to change status" color="$primary-color" switchColor="#fff" size="small" [checked]="row.status == 'Active'" (change)="updategigStatus(row,rowIndex,false)"></ui-switch>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Action" [sortable]="false" [flexGrow]="0.5" [cellClass]="'text-center action'" headerClass="text-right">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        <a placement="bottom" ngbTooltip="Click to edit gigs" class="m-r-15 crm-action-edit text-primary" (click)="editgig(row)">
                            <i class="fa fa-pencil"></i></a>
                        <a placement="bottom" ngbTooltip="Click to delete gigs" class="crm-action-delete text-danger" (click)="updategigStatus(row,rowIndex,true)">
                            <i class="fa fa-trash"></i></a>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>
<app-add-edit-gig [gigObj]="gigObj" [customerObj]="customerObj" (notifyGigEntry)="notifyGigEntry($event)"></app-add-edit-gig>