<section class="login p-fixed d-flex text-center common-img-bg">
    <!-- Container-fluid starts -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <!-- Authentication card start -->
                <div class="col-md-12 col-lg-6 pull-left logo-text">
                    <div class="text-center">
                        <!-- <img src="assets/images/fo-log.png" alt="Business Directory"> -->
                        <h1>BUSINESS DIRECTORY</h1>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 pull-right">
                    <div class="login-card card-block">
                        <form class="md-float-material">

                            <div class="auth-box">
                                <div class="row m-b-10">
                                    <div class="col-md-12">
                                        <h3 class="text-left txt-primary">Sign In</h3>
                                    </div>
                                </div>

                                <div class="input-group">
                                    <input type="mobile number" class="form-control" placeholder="Mobile Number">
                                    <span class="md-line"></span>
                                </div>
                                <div class="input-group">
                                    <input type="password" class="form-control" placeholder="Password">
                                    <span class="md-line"></span>
                                </div>
                                <div class="row m-t-25 text-left">
                                    <div class="col-12">
                                        <div class="forgot-phone text-right f-right">
                                            <a [routerLink]="['/auth/forgot']" class="text-right f-w-600 text-inverse"> Forgot Password?</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-t-30">
                                    <div class="col-md-12">
                                        <button type="button" routerLink="/dashboard" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Sign
                      in</button>
                                    </div>
                                </div>
                                <hr />
                            </div>
                        </form>
                        <!-- end of form -->
                    </div>
                </div>


                <!-- Authentication card end -->
            </div>
            <!-- end of col-sm-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container-fluid -->
</section>