<div class="header-title addeditpage">
    <div class="col-md-5 col-sm-5">
        <h3 class="f-18 text-primary m-t-10 m-l-15">Branches</h3>
      </div>
  <div class="row p-l-15 p-r-15">
    <div class="col-md-10 col-sm-6">
      <input #customerBranchSearch type="text" class="header-search form-control col-md-5 col-sm-5 p-l-0 p-r-0 input-sm full-data-search"
        placeholder="Search here" (keyup)='search($event)' placement="bottom" ngbTooltip="Type here to search">
      <button type="button" class="btn search-close col-md-1 col-sm-1 p-l-0 p-r-0" (click)="customerBranchSearch.value='';search();"><i
        class="fa fa-close"></i></button>
    </div>
    <div class="col-md-2 col-sm-2 text-right">
      <button type="button" placement="bottom" ngbTooltip="Click to add customer" class="add-btn btn btn-primary waves-effect"
        (click)='newBranch()'><i class="fa fa-plus-circle m-r-5"></i> New
      </button>
    </div>
  </div>
</div>
<div class="header-block m-t-15">
  <div class="table-header view-table fixed-table-header">
    <div class="card p-r-15 p-l-15">
      <ngx-datatable #branchtable class="table data-table expandable" [rows]='branchesList' [columnMode]="'flex'"
        [headerHeight]="50" [footerHeight]="50" [limit]="10" [rowHeight]="'auto'" [reorderable]="false" [messages]="emptymessages">
        <!-- Row Detail Template -->
        <ngx-datatable-column prop="bizname" name="Name" [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <span>{{row.bizname}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="membershipid" name="Membership ID" [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <span>{{row.membershipid}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="location" name="Location" [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <span>{{row.location?.city}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="payment" name="Payment" [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <span>{{row.payment}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="duedate" name="Due Date" [resizeable]="false" [cellClass]="'text-center'">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <span>{{row.updateddt|date:datedisplayformat}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Status" [sortable]="false" [resizeable]="false" [cellClass]="'text-center status'">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <ui-switch class="js-small" placement="bottom" ngbTooltip="Click to change status" color="$primary-color"
              switchColor="#fff" size="small" (change)="updateBranchStatus(row,rowIndex,false)" [checked]="row.status=='Active'"></ui-switch>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Action" [sortable]="false" [resizeable]="false" [cellClass]="'text-center action'">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <a placement="bottom" ngbTooltip="Click to view branch" class="m-r-15 crm-action-edit text-primary text-center"
              (click)="redirectToBranch(row.membershipid);"><i class="fa fa-eye"></i></a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
