<div class="fixedheader">
  <div class="header-title pos-fixed">
    <div class="row">
      <div class="col-md-7 col-sm-6">
        <h2>Roles</h2>
        <p>Define your organization's role descriptions and permissions</p>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="text-right">
          <label class="col-md-3 p-l-0"><b>Search:</b></label>
          <input #roleSearch type="text" class="header-search form-control col-md-8 col-sm-8 p-l-0 p-r-0 input-sm full-data-search"
            placeholder="Search here" (keyup)='search($event)' placement="bottom" ngbTooltip="Type here to search">
          <button type="button" class="btn search-close col-md-1 col-sm-1 p-l-0 p-r-0" (click)="roleSearch.value='';search();"><i
              class="fa fa-close"></i></button>
        </div>
      </div>
      <div class="col-md-1 col-sm-1 p-r-0">
        <button *ngIf="add" type="button" placement="bottom" ngbTooltip="Click to add role" class="add-btn btn btn-primary waves-effect"
          (click)='addRole()'><i class="fa fa-plus-circle m-r-5"></i> New
        </button>
      </div>
    </div>
  </div>
</div>
<div class="header-block m-t-60">
  <div class="table-header fixed-table">
    <app-card [classHeader]="true">
      <ngx-datatable #roletable class="table data-table expandable" [rows]='rolesList' [columnMode]="'flex'"
        [headerHeight]="50" [rowHeight]="'auto'" [reorderable]="false" [footerHeight]="50" [limit]="10" [messages]="emptymessages">
        <ngx-datatable-column prop="rolename" name="Role Name" [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <span>{{row.rolename}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="dataaccess" name="Data Access" [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <span>{{row.dataaccess}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="updatedby" name="Updated By" [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <span class="updatename">{{row.updatedby}}</span>
            <span class="updatedate"> {{row.updateddt|date:displayformat}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Status" [sortable]="false" [flexGrow]="0.5" headerClass="text-center" [cellClass]="'text-center'"
          [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <ui-switch class="js-small" placement="bottom" (change)="updateRoleStatus(row,rowIndex,false)" [checked]="row.status == 'Active'"
              [disabled] = "row.rolename ==='Admin' || row.rolename ==='Dealer' || row.rolename ==='Customer'"
              ngbTooltip="Click to change status" color="$primary-color" switchColor="#fff" size="small"></ui-switch>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column *ngIf="edit || delete" name="Action" [sortable]="false" [flexGrow]="0.5" headerClass="text-center"
          [cellClass]="'text-center'" [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <a [ngClass]="{
                            'disabled': ( row.rolename ==='Admin' || row.rolename ==='Dealer' || row.rolename ==='Customer')
                          }"
              *ngIf="edit" placement="bottom" ngbTooltip="Click to edit role" class="m-r-15 crm-action-edit text-primary"
              (click)='editRole(row.roleid)'>
              <i class="fa fa-pencil"></i></a>
            <a [ngClass]="{
                            'disabled': ( row.rolename ==='Admin' || row.rolename ==='Dealer' || row.rolename ==='Customer')
                          }"
              *ngIf="delete" placement="bottom" ngbTooltip="Click to delete role" class="crm-action-delete text-danger"
              (click)="updateRoleStatus(row,rowIndex,true)">
              <i class="fa fa-trash"></i></a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </app-card>
  </div>
</div>
