<div class="fixedheader">
  <div class="header-title pos-fixed">
    <div class="row">
      <div class="col-md-5 col-sm-5">
        <h2>Roles</h2>
        <p>Define your organization's role descriptions and permissions</p>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="text-right">
          <label>Search:
            <input type="search" [(ngModel)]="filterQuery" class="header-search form-control input-sm full-data-search"
              placeholder="Search for here" placement="bottom" ngbTooltip="Type here to search">
          </label>
        </div>
      </div>
      <div class="col-md-1 col-sm-1 p-r-30">
        <button type="button" placement="bottom" ngbTooltip="Click to add roles" class="btn pull-left btn-primary waves-effect"
          (click)='addRole()'><i class="fa fa-plus-circle m-r-5"></i> New
        </button>
      </div>
    </div>
  </div>
</div>
<!-- <div class="no-data p-0 m-0">
    <h3><i>No data found</i></h3>
</div> -->
<div class="card table-header fixed-table-header m-t-60">
  <div class="card-body">
    <div class="table-content crm-table">
      <div class="project-table">
        <div class="dt-responsive">
          <!-- <div class="panel-heading">User information</div>-->
          <div class="table-responsive">
            <table class="table table-striped table-bordered full-data-table roles-table" [mfData]="data | dataFilter : filterQuery"
              #mf="mfDataTable" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
              <thead>
                <tr>
                  <th>
                    <mfDefaultSorter by="rolename">Role Name</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="dataaccess">Data Access</mfDefaultSorter>
                  </th>
                  <th class="p-l-0">
                    <mfDefaultSorter by="updatedby">Updated By</mfDefaultSorter>
                  </th>
                  <th class="text-center p-l-0">
                    <mfDefaultSorter by="status">Status</mfDefaultSorter>
                  </th>
                  <th class="text-center">
                    <mfDefaultSorter>Action</mfDefaultSorter>
                  </th>
                </tr>
              </thead>

              <tbody class="m-r-2">
                <tr *ngFor="let items of mf.data; let i = index;">
                  <td>{{items.rolename}}</td>
                  <td>{{items.dataaccess}}</td>
                  <td>
                    <span class="updatename">{{items.updatedby}}</span>
                    <span class="updatedate">{{items.updateddt}}</span>
                  </td>
                  <td class="text-center">
                    <ui-switch class="js-small" placement="top" ngbTooltip="Click to change the status" color="#03ADED"
                      switchColor="#fff" size="small" checked></ui-switch>
                  </td>
                  <td class="action-icon text-center">
                    <a href="javascript:;" placement="top" ngbTooltip="click to edit role" class="m-r-15 crm-action-edit text-primary"
                      (click)='editRole()'><i class="fa fa-pencil"></i></a>
                    <a href="javascript:;" placement="top" ngbTooltip="click to delete role" class="crm-action-delete text-danger"><i
                        class="fa fa-trash"></i></a>
                  </td>
                </tr>

              </tbody>
              <!-- <tfoot>
                <tr class="page-nav">
                  <td colspan="12">
                    <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot> -->
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>