<div class="modal-size gigs-modal">
    <app-modal-animation [modalID]="'gigmodal'" [modalClass]="'md-effect-7'">
        <h3 class="f-26">{{formTitle}}</h3>
        <form [formGroup]="gigForm">
            <div class="form-header pt-2">
                <div class="col-md-12">
                    <div class="form-group required">
                        <label>Post Name</label>
                        <input type="text" class="form-control" placeholder="Post Name" formControlName="postname">
                    </div>
                    <div class="form-group  required">
                        <label>Post Type</label>
                        <div class="input-box">
                            <ng-select [allowClear]="true" [ngClass]="'ng-select w-100'" formControlName="posttype"
                                [options]="posttypes" placeholder="Select Post type"></ng-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Salary</label>
                        <input type="text" class="form-control" placeholder="Salary" formControlName="salary"></div>
                    <div class="form-group required">
                        <label>Contact Person</label>
                        <input type="text" class="form-control" placeholder="Contact Person"
                            formControlName="contactperson">
                    </div>
                    <div class="form-group  required">
                        <label>Contact Mobile</label>
                        <input type="text" class="form-control" placeholder="Contact Mobile"
                            formControlName="contactmobile">
                    </div>
                    <div class="form-group">
                        <label>Details</label>
                        <textarea class="form-control" rows="3" cols="50" formControlName="description"></textarea>
                    </div>
                    <div class="form-group" *ngIf="gigObj?.gigid">
                        <label>Status <small>*</small></label>
                        <div class="form-radio">
                            <div class="radio radio-inline">
                                <label>
                                    <input type="radio" value="Active" formControlName="status">
                                    <i class="helper"></i>Active
                                </label>
                            </div>
                            <div class="radio radio-inline">
                                <label>
                                    <input type="radio" value="Inactive" formControlName="status">
                                    <i class="helper"></i>Inactive
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" placement="top" (click)="saveOrUpdateGig()" ngbTooltip="Click to save details"
                    class="btn pull-right btn-primary waves-effect saveupdate 
                m-b-10 m-r-15">{{saving == true ? 'Saving..':'Save'}}</button>
            </div>
        </form>
        <button (click)="close()" aria-label="Close" class="md-close-btn"><i class="fa fa-close"></i></button>
    </app-modal-animation>
</div>