<div class="fixedheader">
    <div class="header-title pos-fixed">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 p-l-30">
                <div class="form-group required row role-input">
                    <label class="col-md-4 p-r-0 col-form-label"><b>Role Name</b></label>
                    <div class="col-md-8 p-l-0 p-r-0">
                        <input type="text" class="header-search form-control input-sm full-data-search"
                            placeholder="Role Name" [(ngModel)]="rolename" maxlength=50>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group required row">
                    <label class="col-sm-4 p-l-0 p-r-0 col-form-label"><b>Data Access</b></label>
                    <div class="col-sm-8 p-l-0 p-r-0 role-select">
                        <select class="form-control" name="dataaccess" [(ngModel)]="dataaccess">
                            <option value="">Select Data Access</option>
                            <option value="All">All</option>
                            <option value="Own">Own</option>
                            <option value="Team">Team</option>
                        </select>
                    </div>
                </div>
            </div>
            <div *ngIf="roleid" class="col-md-2 col-sm-2 text-center">
                <div class="form-group row">
                    <label class="col-sm-6 p-r-0 col-form-label text-right"><b>Status</b><small>*</small></label>
                    <div class="col-sm-4 p-l-0 p-r-0 p-t-5">
                        <ui-switch class="js-small" color="$primary-color" [(ngModel)]="status" switchColor="#fff"
                            size="small" checked></ui-switch>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 save-button text-right p-r-30">
                <button type="button" placement="bottom" ngbTooltip=" Go back" routerLink="/masters/roles"
                    class="btn pull-right btn-inverse btn-primary waves-effect"><i
                        class="fa fa-arrow-circle-left"></i></button>
                <button type="button" placement="bottom" ngbTooltip="Click to {{buttontext}} role"
                    (click)="saveOrUpdateRole()" [disabled]='disableButton'
                    class="btn pull-right btn-primary waves-effect m-r-10 text-capitalize">{{disableButton == true ? 'Saving' : buttontext}}</button>
            </div>
        </div>
    </div>
</div>
<div class="header-block">
    <div *ngIf="!loadingIndicator">
        <div class="table-header fixed-table">
            <div class="card p-r-15 p-l-15">
                <ngx-datatable #addroletable class="table data-table expandable" [rows]='screensList'
                    [columnMode]="'flex'" [headerHeight]="50" [rowHeight]="'auto'" [reorderable]="false"
                    [footerHeight]="50" [limit]="10" [messages]="emptymessages">
                    <ngx-datatable-column prop="screenname" name="Screen Name" [resizeable]="false">
                        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                            <span>{{row.screenname}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="permissions" name="Available Permissions" [resizeable]="false">
                        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                            <span>{{row.permissions}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="assignedpermissions" name="Granted Permissions" [resizeable]="false">
                        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                            <span>{{row.assignedpermissions?row.assignedpermissions:'-'}}</span>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Action" [sortable]="false" [flexGrow]="0.5" headerClass="text-center"
                        [cellClass]="'text-center'" [resizeable]="false">
                        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                            <div class="row checkbox-column text-center">
                                <div class="border-checkbox-section">
                                    <div class="border-checkbox-group border-checkbox-group-primary m-r-15">
                                        <input  class="border-checkbox" type="checkbox" id={{rowIndex}}
                                            (change)="onSelectPermissions(rowIndex)" [(ngModel)]="row.checked">
                                        <label  class="border-checkbox-label" for="{{rowIndex}}" ></label>
                                    </div>
                                </div>
                                <a placement="bottom" ngbTooltip="Click to edit permissions"
                                    class="m-r-15 crm-action-edit text-primary"
                                    (click)="openPermissionModal('permission',row,rowIndex)">
                                    <i class="fa fa-pencil"></i></a>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
</div>
<app-loader [loadingIndicator]="loadingIndicator"></app-loader>
<!-- Add Contact Start Model -->
<div class="modal-size" [hidden]='!permissionModal'>
    <app-modal-animation [modalID]="'permission'" [modalClass]="'md-effect-7'">
        <h3 class="f-26">Permissions</h3>
        <div class="form-header">
            <div class="form-group required row">
                <label class="col-sm-12">Permissions</label>
                <div class="col-sm-12">
                    <ng-select [ngClass]="'ng-select w-100'" [(ngModel)]="permissions" [options]="permissionList"
                        [multiple]="true" placeholder="Permissions"></ng-select>
                </div>
            </div>
            <button type="button" (click)="updatePermissions()" placement="top" ngbTooltip="Click to save permissions"
                class="btn pull-right btn-primary waves-effect m-b-10"
                [disabled]="savepermissions">{{savepermissions == true ? 'Saving' : buttontext}}</button>
        </div>
        <button (click)="closePermissionModal($event)" aria-label="Close" class="md-close-btn"><i
                class="fa fa-close"></i></button>
    </app-modal-animation>
</div>