<div class="fixedheader">
  <div class="header-title pos-fixed">
    <div class="row">
      <div class="col-md-6">
        <h2>Role</h2>
        <p *ngIf="roleid" class="m-b-0">ID: 875643</p>
      </div>
      <div class="col-md-6  col-sm-6 save-button text-right p-r-30">
        <button type="button" placement="bottom" ngbTooltip=" Go back" routerLink="/masters/roles" class="btn pull-right btn-inverse btn-primary waves-effect"><i
            class="fa fa-arrow-circle-left"></i></button>
        <button type="button" placement="bottom" ngbTooltip="Click to {{buttontext}} role" (click)="submit()" class="btn pull-right btn-primary waves-effect m-r-10 text-capitalize">{{buttontext}}</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 p-l-30">
        <div class="form-group required row role-input">
          <label class="col-md-4 p-r-0 col-form-label"><b>Role Name</b></label>
          <div class="col-md-8 p-l-0 p-r-0">
            <input type="text" class="header-search form-control input-sm full-data-search" placeholder="Role Name">
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="form-group required row">
          <label class="col-sm-3 p-l-0 p-r-0 col-form-label"><b>Data Access</b></label>
          <div class="col-sm-9 p-l-0 p-r-0"><select class="form-control" name="select">
              <option value="opt1">Select Data Access</option>
              <option value="opt2">All</option>
              <option value="opt3">Own</option>
              <option value="opt3">Team</option>
            </select></div>
        </div>
      </div>
      <div *ngIf="roleid" class="col-md-2 col-sm-2 text-center">
        <div class="form-group row">
          <label class="col-sm-6 p-r-0 col-form-label text-right"><b>Status</b><small>*</small></label>
          <div class="col-sm-4 p-l-0 p-r-0">
            <ui-switch class="js-small" color="#03ADED" switchColor="#fff" size="small" checked></ui-switch>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-block m-t-90">
  <div class="table-header fixed-table-header">
    <app-card [classHeader]="true">
      <ngx-datatable #addroletable class="table data-table expandable" [rows]='data' [columnMode]="'flex'" [headerHeight]="50"
        [rowHeight]="'auto'" [reorderable]="false">
        <ngx-datatable-column prop="screenname" name="Screen Name" [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <span>{{row.screenname}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="availablepermission" name="Available Permissions" [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <span>{{row.availablepermission}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="assignedpermission" name="Assigned Permissions" [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <span>{{row.assignedpermission}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Action" [sortable]="false" [flexGrow]="0.5" headerClass="text-center" [cellClass]="'text-center'"
          [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <a placement="bottom" ngbTooltip="Click to edit permissions" class="m-r-15 crm-action-edit text-primary"
              (click)="openMyModal('effect-7')">
              <i class="fa fa-pencil"></i></a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </app-card>
  </div>
</div>
<!-- Add Contact Start Model -->
<div class="modal-size">
  <app-modal-animation [modalID]="'effect-7'" [modalClass]="'md-effect-7'">
    <h3 class="f-26">Permissions</h3>
    <div class="form-header">
      <div class="form-group required row">
        <label class="col-sm-12">Permissions</label>
        <div class="col-sm-12">
          <ng-select [ngClass]="'ng-select'" [options]="simpleOption" [multiple]="true" placeholder="Permissions"></ng-select>
        </div>
      </div>
      <button type="button" placement="top" ngbTooltip="Click to save permissions" class="btn pull-right btn-primary waves-effect m-b-10">Save</button>
    </div>
    <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn"><i class="fa fa-close"></i></button>
  </app-modal-animation>
</div>