<div class="card" *ngIf="!loadingIndicator && reviewsList.length>0">
    <div class="card-body">
        <ul class="media-list">
            <li class="media m-b-15" *ngFor="let review of reviewsList">
                <!-- <a class="media-left">
                    <div class="profile-image">{{review.fullname.substring(0,1).toUpperCase()}}</div>
                </a> -->
                <img style="width:40px; max-width:100%;" [src]="review.docurl != null ? review.docurl : 'assets/images/avatar-blank.png'" alt="img">
                <div class="media-body ml-2">
                    <h6 class="media-heading mb-0 cursor-text">{{review.fullname}}<span class="f-12 text-muted m-l-5">{{review.updateddt | date:datedisplayformat}}</span></h6>
                    <div class="stars-example-css review-star">
                        <bar-rating class="star-rating" [(rate)]="review.rating" [max]="5" [readOnly]="true">
                        </bar-rating>
                    </div>
                    <p *ngIf="review.comments" style="line-height: 0;">{{review.comments}}</p>
                    <!-- <div class="m-b-25" *ngIf = "review.reply == null"> -->
                    <div *ngIf="review.reply==null && this.userstoragedata.roleid === 3" class="m-b-25">
                        <button (click)="toReply(review.reviewid)" class="btn btn-primary waves-effect text-uppercase py-1 px-2">
                            <i class="fa fa-mail-reply"></i> Reply</button>
                    </div>
                    <div class="modal-size">
                        <app-modal-animation [modalID]="'replyModal'" [modalClass]="'md-effect-7'">
                            <h3>Reply</h3>
                            <div class="row pb-0">
                                <textarea class="form-control" placeholder="Write comment..." type="text" [(ngModel)]= replyComment></textarea>
                            </div>
                            <span class="input-group-append pull-right">
                                <button class="input-group-text btn my-2 mr-3" (click)="reply()" >Reply</button>
                            </span>
                        </app-modal-animation>
                    </div>
                    <!-- <div *ngIf="review.reply==null && this.userstoragedata.roleid === 3" >
                        <form [formGroup]="replyForm">
                            <div class="input-group input-group-button input-group-primary p-t-10 form-group form-group">
                                <input class="form-control" placeholder="Write Comment" type="text" formControlName="reply">
                                <span class="input-group-append">
                                    <button class="input-group-text cursor-pointer required" (click)="reply(review.reviewid)" >
                                        <i class="icofont icofont-plus"></i> Reply
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <hr> -->
                    <!-- Nested media object -->
                    <div class="media mt-2" *ngIf="review.reply!=null">
                        <div class="media-left">
                            <!-- <a>
                                <div class="profile-image">{{review.reply?.fullname.substring(0,1).toUpperCase()}}
                                </div>
                            </a> -->
                            <img class="userimg" [src]="review.reply?.docurl != null ? review.reply.docurl : 'assets/images/avatar-blank.png'" alt="img">
                        </div>
                        <div class="media-body">
                            <h6 class="media-heading">
                                {{review.reply?.fullname}}<span class="f-12 text-muted m-l-5"> <i class="fa fa-reply"
                                        aria-hidden="true"></i>
                                    {{review.reply?.updateddt | date:datedisplayformat}}</span></h6>
                            <p class="m-b-0"> {{review.reply?.comments}}</p>
                        </div>
                    </div>
                </div>
                <hr />
            </li>
        </ul>
    </div>
</div>
<div *ngIf="!loadingIndicator && reviewsList.length==0" class="text-center no-data">
    <div class="nodata-text nodata-image">
        <img class="hand-icon" src="assets/images/no-data.png">
        <h3>No Review(s) posted</h3>
    </div>
</div>
<app-loader [loadingIndicator]="loadingIndicator"></app-loader>