<!-- <div class="header-title">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h2>Location</h2>
      <p>lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    </div>
    <div class="col-md-5 col-sm-5">
      <div class="text-right">
        <label>Search:
          <input type="search" [(ngModel)]="filterQuery" class="header-search form-control input-sm full-data-search"
            placeholder="Search for here" placement="bottom" ngbTooltip="Type here to search">
        </label>
      </div>
    </div>
    <div class="col-md-1 col-sm-1 p-r-30">
      <button type="button" placement="bottom" ngbTooltip="Click to add new location" class="btn pull-right btn-primary waves-effect"
        (click)="addLocation()">
        <i class="fa fa-plus-circle m-r-5"></i> NEW
      </button>
    </div>
  </div>
</div> -->
<div class="fixedheader">
  <div class="header-title pos-fixed">
    <div class="row">
      <div class="col-md-5 col-sm-5">
        <h2>Location</h2>
        <p>lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="text-right">
          <label>Search:
            <input type="search" [(ngModel)]="filterQuery" class="header-search form-control input-sm full-data-search"
              placeholder="Search for here" placement="bottom" ngbTooltip="Type here to search">
          </label>
        </div>
      </div>
      <div class="col-md-1 col-sm-1 p-r-30">
        <button type="button" placement="bottom" ngbTooltip="Click to add location" class="btn pull-left btn-primary waves-effect"
          (click)='addLocation()'><i class="fa fa-plus-circle m-r-5"></i> New
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="data.length==0" class="no-data p-0 m-0">
  <h5><i>No data found</i></h5>
</div>
<div class="card table-header fixed-table-header m-t-60">
  <div class="card-body">
    <div class="table-content crm-table">
      <div class="project-table">
        <div class="dt-responsive">
          <div class="table-responsive">
            <table class="table table-striped table-bordered full-data-table location-table" [mfData]="data | dataFilter : filterQuery"
              #mf="mfDataTable" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
              <thead class="p-r-1">
                <tr>
                  <th>
                    <mfDefaultSorter by='pincode'>Pincode</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by='area'>Area</mfDefaultSorter>
                  </th>
                  <th class="p-l-3">
                    <mfDefaultSorter by='state'>State</mfDefaultSorter>
                  </th>
                  <th class="p-l-3">
                    <mfDefaultSorter by='city'>City</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by='lastupdatedby'>Updated by</mfDefaultSorter>
                  </th>
                  <th class="text-center">Status</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody class="p-r-1" *ngIf="data.length!=0">
                <tr *ngFor="let items of mf.data; let i = index;">
                  <td>{{items.pincode}}</td>
                  <td>{{items.area}}</td>
                  <td>{{items.state}}</td>
                  <td>{{items.city}}</td>
                  <td>
                    <span class="updatename">{{items.lastupdatedby}}</span>
                    <span class="updatedate">{{items.lastupdateddt}}</span>
                  </td>
                  <td class="text-center">
                    <ui-switch class="js-small" placement="bottom" ngbTooltip="Click to change the status" color="#03ADED"
                      switchColor="#fff" size="small" checked></ui-switch>
                  </td>
                  <td class="action-icon text-center">
                    <a placement="bottom" (click)="editLocation(data)" ngbTooltip="Click to edit location" class="m-r-15 crm-action-edit text-primary">
                      <i class="fa fa-pencil"></i></a>
                    <a href="javascript:;" placement="bottom" ngbTooltip="Click to delete location" class="crm-action-delete text-danger">
                      <i class="fa fa-trash"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-add-edit-location [title]="formTitle"></app-add-edit-location>





<!-- <div class="accordion-header product-setup">
  <div class="row">
    <div class="col-md-12">
      <app-card [blockClass]="'accordion-block'" [cardOptionBlock]="true">
        <div class="accordion-table">
          <ngb-accordion #acc="ngbAccordion" activeIds="ngb-color-p1" class="ngb-accordion color-accordion">
            <ngb-panel id="ngb-color-p1" title="State">
              <ng-template ngbPanelContent>
                <div class="add-button">
                  <button type="button" class="pull-right btn btn-primary btn-outline-primary btn-icon" placement="bottom"
                    ngbTooltip="Click to add state" (click)="openMyModal('statemodal')"><i class="fa fa-plus"></i></button>
                </div>
                <div class="card table-header">
                  <div class="dt-responsive">
                    <div class="table-responsive">
                      <table class="table table-striped table-bordered full-data-table">
                        <thead>
                          <tr>
                            <th>State Name</th>
                            <th>Updated By</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>TamilNadu</td>
                            <td>
                              <span class="updatename">TamilNadu</span>
                              <span class="updatedate">07-Dec-2018 19:41</span>
                            </td>
                            <td class="text-center">
                              <ui-switch class="js-small" placement="top" ngbTooltip="Click to change the status" color="#03ADED"
                                switchColor="#fff" size="small" checked></ui-switch>
                            </td>
                            <td class="action-icon text-center">
                              <a href="javascript:;" placement="top" ngbTooltip="Click to edit the state " class="m-r-15 crm-action-edit text-primary"><i
                                  class="fa fa-pencil"></i></a>
                              <a href="javascript:;" placement="bottom" ngbTooltip="Click to delete the state " class="crm-action-delete text-danger"><i
                                  class="fa fa-trash"></i></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                  </div>
                </div>

              </ng-template>
            </ngb-panel>
            <ngb-panel id="ngb-color-p2" title="City">
              <ng-template ngbPanelContent>
                <div class="add-button">
                  <button type="button" class=" pull-right btn btn-primary btn-outline-primary btn-icon" placement="bottom"
                    ngbTooltip="Click to add city" (click)="openMyModal('citymodal')"><i class="fa fa-plus"></i></button>
                </div>
                <div class="card table-header">
                  <div class="dt-responsive">
                    <div class="table-responsive">
                      <table class="table table-striped table-bordered full-data-table">
                        <thead>
                          <tr>
                            <th>City Name</th>
                            <th>Updated By</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Coimbatore</td>
                            <td>
                              <span class="updatename">Coimbatore</span>
                              <span class="updatedate">07-Dec-2018 19:41</span>
                            </td>
                            <td class="text-center">
                              <ui-switch class="js-small" placement="top" ngbTooltip="Click to change the status" color="#03ADED"
                                switchColor="#fff" size="small" checked></ui-switch>
                            </td>
                            <td class="action-icon text-center">
                              <a href="javascript:;" placement="top" ngbTooltip="Click to edit the city " class="m-r-15 crm-action-edit text-primary"><i
                                  class="fa fa-pencil"></i></a>
                              <a href="javascript:;" placement="bottom" ngbTooltip="Click to delete the city " class="crm-action-delete text-danger"><i
                                  class="fa fa-trash"></i></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </app-card>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="business-input">
      <div class="form-group role-input p-l-5 ">
        <label class="p-r-0 col-form-label p-l-5"><b>Business Area</b></label>
        <div class="row">

          <div class="col-sm-4">
            <div class="p-l-5 p-r-0">
              <input type="text" class="p-l-5 m-t-5 form-control input-sm full-data-search m-b-5" placeholder=" Define your own business area">
            </div>
          </div>
          <div class="col-sm-4 button-align">
            <button type="button" placement="top" ngbTooltip="Click to add business area" class="btn btn-primary waves-effect m-r-10 text-capitalize"
              (click)="showDetails=true">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showDetails">
  <div class="accordion-header product-setup">
    <div class="row">
      <div class="col-md-12">
        <app-card [blockClass]="'accordion-block'" [cardOptionBlock]="true">
          <ngb-accordion #acc="ngbAccordion" activeIds="ngb-color-p1" class="ngb-accordion color-accordion">
            <ngb-panel id="ngb-color-p3">
              <ng-template ngbPanelTitle>
                <div class="header-title region-section">
                  <span *ngIf="showRegion==false" class="col-md-1 p-l-0 p-r-0">Region</span>
                  <a *ngIf="showRegion==false" placement="top" style="padding:0 !important;" ngbTooltip="Click to edit the region"
                    class="col-md-1 crm-action-edit text-center fa fa-pencil" (click)="showRegion=true">
                  </a>
                  <input *ngIf="showRegion==true" type="text" class="col-md-6 col-sm-6 form-control input-sm full-data-search"
                    placeholder="Region">
                  <a *ngIf="showRegion==true" placement="top" style="padding:0 !important" ngbTooltip="Click to close the region"
                    class="m-l-15 col-md-1 crm-action-edit text-left fa fa-close" (click)="showRegion=false">
                  </a>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="add-button region-button">
                  <button type="button" class=" pull-right btn btn-primary btn-outline-primary btn-icon" placement="bottom"
                    ngbTooltip="Click to add region" (click)="openMyModal('regionmodal')"><i class="fa fa-plus"></i></button>
                </div>
                <div class="card table-header">
                  <div class="dt-responsive">
                    <div class="table-responsive">
                      <table class="table table-striped table-bordered full-data-table">
                        <thead>
                          <tr>
                            <th>Region Name</th>
                            <th>Region Code</th>
                            <th>Updated By</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>South</td>
                            <td>005</td>
                            <td>
                              <span class="updatename">Kannan Kumar</span>
                              <span class="updatedate">08-Dec-2018 19:41</span>
                            </td>
                            <td class="text-center">
                              <ui-switch class="js-small" placement="top" ngbTooltip="Click to change the status" color="#03ADED"
                                switchColor="#fff" size="small" checked></ui-switch>
                            </td>
                            <td class="action-icon text-center">
                              <a href="javascript:;" placement="top" ngbTooltip="Click to edit the  region " class="m-r-15 crm-action-edit text-primary edit-icon"><i
                                  class="fa fa-pencil"></i></a>
                              <a href="javascript:;" placement="bottom" ngbTooltip="Click to delete the region " class="crm-action-delete text-danger"><i
                                  class="fa fa-trash"></i></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </app-card>
      </div>
    </div>
  </div>
</div>

<div class="modal-size">
  <app-modal-animation [modalID]="'statemodal'" [modalClass]="'md-effect-7'">
    <h3 class="f-26">Add State</h3>
    <div class="form-header">
      <div class="row ">
        <div class="col-md-12">
          <div class="form-group required">
            <label>State Name</label>
            <input type="text" class="form-control" placeholder="">
          </div>
          <div class="form-group ">
            <label>Status <small>*</small></label>
            <div class="form-radio">
              <form>
                <div class="radio radio-inline">
                  <label>
                    <input type="radio" name="radio" checked="checked">
                    <i class="helper"></i>Active
                  </label>
                </div>
                <div class="radio radio-inline">
                  <label>
                    <input type="radio" name="radio">
                    <i class="helper"></i>Inactive
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <button type="button" placement="top" ngbTooltip="Click to save state " class="btn pull-right btn-primary waves-effect m-b-10">Save</button>
    </div>
    <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn"><i class="fa fa-close"></i></button>

  </app-modal-animation>
</div>
<div class="modal-size">
  <app-modal-animation [modalID]="'citymodal'" [modalClass]="'md-effect-7'">
    <h3 class="f-26">Add City</h3>
    <div class="form-header">
      <div class="row ">
        <div class="col-md-12">
          <div class="form-group required">
            <label class="">State Name</label>
            <select name="select" class="form-control">
              <option value="opt1">Select State</option>
              <option value="opt2">Tamil Nadu</option>
            </select>

          </div>
          <div class="form-group required">
            <label>City Name</label>
            <input type="text" class="form-control" placeholder="">
          </div>
          <div class="form-group">
            <label>Status <small>*</small></label>
            <div class="form-radio">
              <form>
                <div class="radio radio-inline">
                  <label>
                    <input type="radio" name="radio" checked="checked">
                    <i class="helper"></i>Active
                  </label>
                </div>
                <div class="radio radio-inline">
                  <label>
                    <input type="radio" name="radio">
                    <i class="helper"></i>Inactive
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <button type="button" placement="top" ngbTooltip="Click to save city " class="btn pull-right btn-primary waves-effect m-b-10">Save</button>
    </div>
    <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn"><i class="fa fa-close"></i></button>

  </app-modal-animation>
</div>

<div class="modal-size">
  <app-modal-animation [modalID]="'regionmodal'" [modalClass]="'md-effect-7'">
    <h3 class="f-26">Add Region</h3>
    <div class="form-header">
      <div class="row ">
        <div class="col-md-12">
          <div class="form-group required">
            <label>Region Name</label>
            <input type="text" class="form-control" placeholder="">
          </div>
          <div class="form-group">
            <label>Status <small>*</small></label>
            <div class="form-radio">
              <form>
                <div class="radio radio-inline">
                  <label>
                    <input type="radio" name="radio" checked="checked">
                    <i class="helper"></i>Active
                  </label>
                </div>
                <div class="radio radio-inline">
                  <label>
                    <input type="radio" name="radio">
                    <i class="helper"></i>Inactive
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <button type="button" placement="top" ngbTooltip="Click to save region" class="btn pull-right btn-primary waves-effect m-b-10">Save</button>
    </div>
    <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn"><i class="fa fa-close"></i></button>

  </app-modal-animation>
</div>
<div class="modal-size">
  <app-modal-animation [modalID]="'editregionmodal'" [modalClass]="'md-effect-7'">
    <h3 class="f-26">Edit Business Area</h3>
    <div class="form-header">
      <div class="row ">
        <div class="col-md-12">
          <div class="form-group required">
            <label>Region Name</label>
            <input type="text" class="form-control" placeholder="">
          </div>
          <div class="form-group">
            <label>Status <small>*</small></label>
            <div class="form-radio">
              <form>
                <div class="radio radio-inline">
                  <label>
                    <input type="radio" name="radio" checked="checked">
                    <i class="helper"></i>Active
                  </label>
                </div>
                <div class="radio radio-inline">
                  <label>
                    <input type="radio" name="radio">
                    <i class="helper"></i>Inactive
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <button type="button" placement="top" ngbTooltip="Click to save region" class="btn pull-right btn-primary waves-effect m-b-10">Save</button>
    </div>
    <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn"><i class="fa fa-close"></i></button>

  </app-modal-animation>
</div> -->