<div class="fixedheader">
  <div class="header-title pos-fixed">
    <div class="row">
      <div class="col-md-7 col-sm-6">
        <h2>Locations</h2>
        <p>Create Or Update The Locations</p>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="text-right">
          <label class="col-md-3 p-l-0"><b>Search:</b></label>
          <input #locationSearch type="text" class="header-search form-control col-md-8 col-sm-8 p-l-0 p-r-0 input-sm full-data-search"
            placeholder="Search here" (keyup)='search($event)' placement="bottom" ngbTooltip="Type here to search">
          <button type="button" class="btn search-close col-md-1 col-sm-1 p-l-0 p-r-0" (click)="locationSearch.value='';search();"><i
              class="fa fa-close"></i></button>
        </div>
      </div>
      <div class="col-md-1 col-sm-1 p-r-0">
        <button *ngIf="add" type="button" placement="bottom" ngbTooltip="Click to add location" class="add-btn btn btn-primary waves-effect"
          (click)='addLocation()'><i class="fa fa-plus-circle m-r-5"></i>
          New
        </button>
      </div>
    </div>
  </div>
</div>
<div class="header-block m-t-60">
  <div class="table-header fixed-table">
    <app-card [classHeader]="true">
      <ngx-datatable #locationtable class="table data-table expandable" [rows]='locationList' [columnMode]="'flex'"
        [headerHeight]="50" [rowHeight]="'auto'" [reorderable]="false" [footerHeight]="50" [limit]="10" [messages]="emptymessages">
        <!-- Row Detail Template -->
        <ngx-datatable-column prop="pincode" name="Pincode" [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <span>{{row.pincode}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="area" name="Area" [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <span>{{row.area}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="state" name="State" [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <span>{{row.state}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="city" name="City" [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <span>{{row.city}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="updatedby" name="Updated By" [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <span class="updatename">{{row.updatedby}}</span>
            <span class="updatedate"> {{row.updateddt|date:displayformat}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Status" [sortable]="false" [flexGrow]="0.5" headerClass="text-center" [cellClass]="'text-center'"
          [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <ui-switch class="js-small" placement="bottom" ngbTooltip="Click to change status" color="$primary-color"
              switchColor="#fff" size="small" [checked]="row.status == 'Active'" (change)="updateLocationStatus(row, rowIndex, false)"></ui-switch>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column *ngIf="edit || delete" name="Action" [sortable]="false" [flexGrow]="0.5" headerClass="text-center"
          [cellClass]="'text-center'" [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <a *ngIf="edit" placement="bottom" ngbTooltip="Click to edit location" class="m-r-15 crm-action-edit text-primary"
              (click)="editLocation(row)">
              <i class="fa fa-pencil"></i></a>
            <a *ngIf="delete" placement="bottom" (click)="updateLocationStatus(row,rowIndex,true)" ngbTooltip="Click to delete location"
              class="crm-action-delete text-danger">
              <i class="fa fa-trash"></i></a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </app-card>
  </div>
</div>
<app-add-edit-location [locationObj]="locationObj" (notifyLocationEntry)="notifyLocationEntry($event)">
</app-add-edit-location>
