<div class="fixedheader">
  <div class="header-title">
    <div class="row">
      <div class="col-md-5 col-sm-5 pos-fixed">
        <h2>Location</h2>
        <p>lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      </div>
      <div class="col-md-6 col-sm-6 pos-fixed fixedsearch">
        <div class="text-right">
          <label>Search:
            <input type="search" [(ngModel)]="filterQuery" class="header-search form-control input-sm full-data-search"
              placeholder="Search for here" placement="bottom" ngbTooltip="Type here to search">
          </label>
        </div>
      </div>
      <div class="col-md-1 col-sm-1 p-r-30 pos-fixed fixedbutton">
        <button type="button" placement="bottom" ngbTooltip="Click to add locations" class="btn pull-right btn-primary waves-effect"
          (click)='addLocation()'><i class="fa fa-plus-circle m-r-5"></i> New
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="data.length==0" class="no-data p-0 m-0">
  <h5><i>No data found</i></h5>
</div>
<div class="card table-header fixed-table-header m-t-60">
  <div class="card-body">
    <div class="table-content crm-table">
      <div class="project-table">
        <div class="dt-responsive">
          <div class="table-responsive">
            <table class="table table-striped table-bordered full-data-table location-table" [mfData]="data | dataFilter : filterQuery"
              #mf="mfDataTable" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
              <thead class="p-r-1">
                <tr>
                  <th>
                    <mfDefaultSorter by='pincode'>Pincode</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by='area'>Area</mfDefaultSorter>
                  </th>
                  <th class="p-l-3">
                    <mfDefaultSorter by='state'>State</mfDefaultSorter>
                  </th>
                  <th class="p-l-3">
                    <mfDefaultSorter by='city'>City</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by='lastupdatedby'>Updated by</mfDefaultSorter>
                  </th>
                  <th class="text-center">Status</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody class="p-r-1" *ngIf="data.length!=0">
                <tr *ngFor="let items of mf.data; let i = index;">
                  <td>{{items.pincode}}</td>
                  <td>{{items.area}}</td>
                  <td>{{items.state}}</td>
                  <td>{{items.city}}</td>
                  <td>
                    <span class="updatename">{{items.lastupdatedby}}</span>
                    <span class="updatedate">{{items.lastupdateddt}}</span>
                  </td>
                  <td class="text-center">
                    <ui-switch class="js-small" placement="bottom" ngbTooltip="Click to change the status" color="#03ADED"
                      switchColor="#fff" size="small" checked></ui-switch>
                  </td>
                  <td class="action-icon text-center">
                    <a placement="bottom" (click)="editLocation(data)" ngbTooltip="Click to edit locations" class="m-r-15 crm-action-edit text-primary">
                      <i class="fa fa-pencil"></i></a>
                    <a placement="bottom" ngbTooltip="Click to delete locations" class="crm-action-delete text-danger">
                      <i class="fa fa-trash"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-add-edit-location [title]="formTitle" [submit]="formSubmit" [locationPage]="locationPage"  ></app-add-edit-location>