<div class="header-title m-b-15">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h2 class="add-tenant">Events</h2>
      <p *ngIf="eventid" class="m-b-0" >ID: 875643</p>
    </div>
    <div class="col-md-3 col-sm-6 save-button text-right p-r-30">
      <button type="button" placement="bottom" ngbTooltip="click to save events" class="btn btn-primary waves-effect m-r-10 text-capitalize">Save</button>
      <button type="button" placement="bottom" ngbTooltip="Go back" routerLink="/admins/events" class="btn btn-inverse btn-primary waves-effect"><i
          class="fa fa-arrow-circle-left"></i></button>
    </div>
  </div>
</div>
<div class="col-md-12 col-sm-12">
  <div class="row">
    <div class="col-md-9 col-sm-8 p-l-0 p-r-10">
      <div class="employee-form">
        <div class="card tenants-page tenants-pages m-b-10">
          <div class="col-md-12 col-sm-12 p-t-10">
            <div class="form-group row required">
              <label class="col-md-3 col-sm-6 col-form-label text-right">Event Name</label>
              <div class="col-md-9 col-sm-6">
                <input type="text" class="form-control" placeholder="Event Name">
              </div>
            </div>
            <div class="form-group row required">
              <label class="col-md-3 col-sm-6 col-form-label text-right">Location</label>
              <div class="col-md-9 col-sm-6">
                <select name="select" class="form-control p-1">
                  <option value="opt1">Select your Location</option>
                  <option value="opt2">TamilNadu</option>
                  <option value="opt3">Kerala</option>
                  <option value="opt4">Andrapradesh</option>
                  <option value="opt5">Karnataka</option>
                </select>
              </div>
            </div>
            <div class="form-group row required">
              <label class="col-md-3 col-sm-6 col-form-label text-right">Start Date</label>
              <div class="col-md-9 col-sm-6">
                <div class="input-group">
                  <input class="form-control" placeholder="dd-mm-yyyy" name="dp" [(ngModel)]="modelPopup" ngbDatepicker
                    #dp="ngbDatepicker">
                  <div class="input-group-append bg-default" (click)="dp.toggle()">
                    <span class="fa fa-calendar input-group-text"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row required">
              <label class="col-md-3 col-sm-6 col-form-label text-right">Expiry Date</label>
              <div class="col-md-9 col-sm-6">
                <div class="input-group">
                  <input class="form-control" placeholder="dd-mm-yyyy" name="dp" [(ngModel)]="modelPop" ngbDatepicker
                    #d="ngbDatepicker">
                  <div class="input-group-append bg-default" (click)="d.toggle()">
                    <span class="fa fa-calendar input-group-text"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="form-group row required">
                <label class="col-md-3 col-sm-6 col-form-label text-right">Address</label>
                <div class="col-md-9 col-sm-6 p-r-0 p-l-2">
                  <textarea></textarea>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="form-group row required">
                <label class="col-md-3 col-sm-6 col-form-label text-right">Particulars</label>
                <div class="col-md-9 col-sm-6 p-r-0 p-l-2">
                  <textarea></textarea>
                </div>
              </div>
            </div>
            <div class="form-group row required">
              <label class="col-md-3 col-sm-6 col-form-label text-right">Status</label>
              <div class="col-md-9 col-sm-6">
                <ui-switch class="js-small" placement="top" ngbTooltip="Click to change the status" color="#03ADED"
                  switchColor="#fff" size="small" checked></ui-switch>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4">
      <div class="employee-page pos-fixed">
        <div class="col-md-12 col-sm-12 text-center employee-profile">
          <div class="form-group">
            <label class="custom-file m-b-3">
              <img src="assets/images/employee.jpg" class="img-responsive" alt="employee">
              <input type="file" ng2FileSelect [uploader]="uploader" multiple class="custom-file-input">
              <span class="custom-file-control"></span>
            </label>
            <div class="col-md-12 col-sm-12">
              <div class="row">
                <div class="col-md-5" *ngFor="let item of uploader.queue">
                  <strong>{{ item?.file?.name }}</strong>
                  <img class="preview p-0" src="{{item?.file?.name}}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>