.checkbox-column{
    .border-checkbox-section {
        .border-checkbox-group {
            display: block;
            line-height: normal;
            margin-left: 16px;    
                .border-checkbox-label{
                    margin-bottom: 12px;
                    &:before {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        .border-checkbox-label {
            padding-left:5px;
            height:auto;
        }
    }
}
