<div class="fixedheader">
  <div class="header-title pos-fixed">
    <div class="row">
      <div class="col-md-5 col-sm-5">
        <h2>VIP Number Registration</h2>
        <p>VIP number status can be checked and blocked.</p>
      </div>
      <div class="col-md-5 col-sm-5">

        <div class="text-right">
          <label>Search:
            <input #vipnoregSearch type="text" (keyup)='search($event)' class="header-search form-control input-sm full-data-search"
              placeholder="Search for here" placement="bottom" ngbTooltip="Type here to search">
            <button type="button" class="btn search-close" (click)="vipnoregSearch.value='';search();"><i class="fa fa-close"></i></button>
          </label>
        </div>
      </div>
      <div class="col-md-1 col-sm-1 p-r-0 p-l-0">
        <div ngbDropdown class="dropdown-primary">
          <button ngbDropdownToggle class="btn btn-primary waves-effect waves-light " type="button">Action</button>
          <div ngbDropdownMenu>
            <a class="dropdown-item waves-light waves-effect" (click)='blockVipNumber()'>Block</a>
            <a class="dropdown-item waves-light waves-effect" (click)='allocateVipNumber()'>Allocate</a>
          </div>
        </div>
      </div>
      <div class="col-md-1 col-sm-1 p-r-0">
        <button type="button" placement="bottom" ngbTooltip="Click to add" class="btn btn-primary waves-effect" (click)='addVipRegistration()'><i
            class="fa fa-plus-circle m-r-5"></i> New
        </button>
      </div>
    </div>
  </div>
</div>
<div class="header-block m-t-60">
  <div class="table-header fixed-table-header">
    <app-card [classHeader]="true">
      <ngx-datatable [loadingIndicator]="true" #vipnoregtable class="table data-table expandable" [rows]='data'
        [columnMode]="'flex'" [headerHeight]="50" [rowHeight]="'auto'" [reorderable]="false" [selected]="selected"
        [selectionType]="'checkbox'">
        <ngx-datatable-column prop="fancycode" name="Fancy Code" [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <span>{{row.fancyno}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="state" name="State" [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <span>{{row.fancynostatus}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="price" name="Price" [resizeable]="false" headerClass="text-right" [cellClass]="'text-right'">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <span>{{row.price|currency : 'INR' : true}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Status" [sortable]="false" [flexGrow]="0.5" headerClass="text-center" [cellClass]="'text-center'"
          [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <ui-switch class="js-small" placement="bottom" ngbTooltip="Click to change status" color="#03ADED" (change)="changeStatus(row.fancynoid,row.status)"
              switchColor="#fff" size="small" [disabled]="row.fancynostatus == 'Blocked' || row.fancynostatus == 'NA'"
              [checked]="row.status == 'Active'"></ui-switch>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Action" [sortable]="false" [flexGrow]="0.5" headerClass="text-center" [cellClass]="'text-center'"
          [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <div class="row checkbox-column">
              <div *ngIf="row.fancynostatus == 'Available'" class="border-checkbox-section">
                <div class="border-checkbox-group border-checkbox-group-primary m-r-15">
                  <input (change)="onNumberSelect(row.fancynoid,row.fancynostatus)" class="border-checkbox" type="checkbox"
                    id={{rowIndex}}>
                  <label class="border-checkbox-label" for="{{rowIndex}}"></label>
                </div>
              </div>
              <!-- <a placement="bottom" ngbTooltip="Click to edit registration details" class="m-r-15 crm-action-edit text-primary"
                (click)='editVipRegistration()'>
                <i class="fa fa-pencil"></i></a> -->
              <a placement="bottom" ngbTooltip="Click to delete registration details" class="crm-action-delete text-danger">
                <i class="fa fa-trash"></i></a>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </app-card>
  </div>
</div>
<!-- Modal popup window -->
<div class="modal-size">
  <app-modal-animation [modalID]="'vipnoregmodal'" [modalClass]="'md-effect-7'">
    <h3 class="f-26">{{formTitle}}</h3>
    <div class="form-header">
      <div class="form-group row required">
        <label class="col-md-3 col-sm-6 col-form-label text-right">Select Business</label>
        <div class="col-md-9 col-sm-6">
          <ng-select [(ngModel)]="selectedBiz" class="ng-select location-title" placeholder="Select Business"
            [options]="parentBiz">
          </ng-select>
        </div>
      </div>
      <div class="form-group row" *ngIf="formTitle == 'Block'">
        <label class="col-md-3 col-sm-6 col-form-label text-right">Remarks</label>
        <div class="col-md-9 col-sm-6">
          <textarea [(ngModel)]="blockRemarks" name="remarks" id="block_remarks"></textarea>
        </div>
      </div>
      <button (click)="blockorallocateNumber()" type="button" placement="top" ngbTooltip="Click to Save" class="btn pull-right btn-primary waves-effect m-b-10">Save</button>
    </div>
    <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn"><i class="fa fa-close"></i></button>
  </app-modal-animation>
</div>