.customer-floating-menu{
    button{
        width: 90%;
        margin-bottom: 10px;
        border-radius: 5px;
        height: 35px;
        line-height: 0px;
    }
}
.consumer-menu{
    right: -25px;
}

b{
  font-size: 15px;
  font-weight: bold
}