.customer-floating-menu{
    button{
        width: 90%;
        margin-bottom: 10px;
        border-radius: 5px;
        height: 35px;
        line-height: 0px;
    }
}
.consumer-menu{
    right: -25px;
}
.consumer-review{
    height: 375px;
    overflow-y: scroll;
}
.review-border{
    border-right: 1px solid #dddddd;
}
.rounded-img{
    height: 125px !important;
    width: 125px !important;
    border-radius: 100px !important;
}