<div class="addeditpage vieweditpage">
    <div class="fixedheader">
        <div class="header-title m-b-15 pos-fixed">
            <div class="row">
                <div class="col-md-9 col-sm-9 p-l-0 p-r-0">
                    <!-- <h2 class="m-l-0 m-b-5">Details</h2> -->
                    <!-- <p class="m-b-5 m-l-0" *ngIf="consumer?.membershipid"> Membership ID: {{consumer?.membershipid}}</p> -->
                </div>
                <div class="col-md-3 col-sm-3 save-button text-right">
                    <button type="button" placement="bottom" ngbTooltip="Go back" routerLink="/business/consumers"
                        class="btn btn-inverse btn-primary waves-effect"><i
                            class="fa fa-arrow-circle-left"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="employee-page pos-fixed consumer-menu">
        <div class="col-md-12 col-sm-12 text-center employee-profile m-t-25">
            <div class="form-group">
                <div class="avatar-image">
                    <img [src]="consumerProfilepic" class="rounded-img" alt="employee">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-sm-9">
            <div class="md-tabs md-right-tabs business-tab dealer-tab-menu m-t-15">
                <ngb-tabset>
                    <ngb-tab title="Details">
                        <ng-template ngbTabContent>
                            <div [@fadeInOutTranslate]>
                                <div class="employee-form view-list-form">
                                    <div class="m-b-10 m-l-25">
                                        <div class="row">
                                            <label class="col-md-3 col-sm-5 col-form-label text-left">Name : </label>
                                            <div class="col-md-7 col-sm-7 m-t-5">
                                                <span class="f-15">{{consumer?.fullname || '-'}}</span>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <label class="col-md-3 col-sm-5 col-form-label text-left">Location :
                                            </label>
                                            <div class="col-md-7 col-sm-7 m-t-5">
                                                <span
                                                    class="f-15">{{consumer.location?.area}}&nbsp;{{consumer.location?.pincode || '-'}}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-3 col-sm-5 col-form-label text-left">Address : </label>
                                            <div class="col-md-7 col-sm-7 m-t-5">
                                                <span class="f-15">{{consumer?.address || '-'}} </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-3 col-sm-5 col-form-label text-left">Mobile : </label>
                                            <div class="col-md-7 col-sm-7 m-t-5">
                                                <span class="f-15">{{consumer?.mobileno || '-'}}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-3 col-sm-5 col-form-label text-left">Email ID: </label>
                                            <div class="col-md-7 col-sm-7 m-t-5">
                                                <span class="f-15">{{consumer?.emailid || '-'}}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-3 col-sm-5 col-form-label text-left">Facebook ID :
                                            </label>
                                            <div class="col-md-7 col-sm-7 m-t-5">
                                                <span class="f-15">{{consumer.socialid?.facebookid || '-'}}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-3 col-sm-5 col-form-label text-left">Twitter ID :
                                            </label>
                                            <div class="col-md-7 col-sm-7 m-t-5">
                                                <span class="f-15">{{consumer.socialid?.twitterid || '-'}}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-3 col-sm-5 col-form-label text-left">Google ID :
                                            </label>
                                            <div class="col-md-7 col-sm-7 m-t-5">
                                                <span class="f-15">{{consumer.socialid?.googleid || '-'}}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-3 col-sm-5 col-form-label text-left">Instagram ID :
                                            </label>
                                            <div class="col-md-7 col-sm-7 m-t-5">
                                                <span class="f-15">{{consumer.socialid?.instagramid || '-'}}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-3 col-sm-5 col-form-label text-left">Linked Membership
                                                ID : </label>
                                            <div class="col-md-7 col-sm-7 m-t-5">
                                                <span class="f-15">{{consumer?.membershipid || '-'}}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-3 col-sm-5 col-form-label text-left">Signup date :
                                            </label>
                                            <div class="col-md-7 col-sm-7 m-t-5">
                                                <span
                                                    class="f-15">{{consumer?.createddt|date:datetimedisplayformat}}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-3 col-sm-5 col-form-label text-left">Last login date :
                                            </label>
                                            <div class="col-md-7 col-sm-7 m-t-5">
                                                <span
                                                    class="f-15">{{(consumer?.user?.lastlogin|date:datetimedisplayformat) || '-'}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Coupons">
                        <ng-template ngbTabContent>
                            <div [@fadeInOutTranslate]>
                                <div class="header-block m-t-60">
                                    <div class="fixedheader m-b-15">
                                        <div class="header-title pos-fixed">
                                            <div class="col-md-6 col-sm-6">
                                                <input #consumerCouponSearch type="text"
                                                    class="header-search form-control col-md-5 col-sm-5 input-sm full-data-search"
                                                    placeholder="Search here" (keyup)='search($event)'
                                                    placement="bottom" ngbTooltip="Type here to search">
                                                <button type="button"
                                                    class="btn search-close col-md-1 col-sm-1 p-l-0 p-r-0"
                                                    (click)="consumerCouponSearch.value='';search();"><i
                                                        class="fa fa-close"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-header view-table fixed-table-header">
                                        <div class="card p-r-15 p-l-15">
                                            <ngx-datatable #eventtable class="table data-table expandable"
                                                [rows]='consumerCouponsList' [columnMode]="'flex'" [headerHeight]="50"
                                                [footerHeight]="50" [limit]="10" [rowHeight]="'auto'"
                                                [reorderable]="false" [messages]="emptymessages">
                                                <ngx-datatable-column prop="bizname" name="Business Name"
                                                    [resizeable]="false">
                                                    <ng-template let-rowIndex="rowIndex" let-row="row"
                                                        ngx-datatable-cell-template>
                                                        <span>{{row.coupon.business.bizname}}</span>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column prop="couponcode" name="Date" name="Coupon Code"
                                                    [resizeable]="false" headerClass="text-center"
                                                    [cellClass]="'text-center'">
                                                    <ng-template let-rowIndex="rowIndex" let-row="row"
                                                        ngx-datatable-cell-template>
                                                        <span>{{row.coupon.couponcode}}</span>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column prop="shortdesc" name="Coupon Title"
                                                    [resizeable]="false">
                                                    <ng-template let-rowIndex="rowIndex" let-row="row"
                                                        ngx-datatable-cell-template>
                                                        <span>{{row.coupon.shortdesc}}</span>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column prop="claimedon" name="Claimed On"
                                                    [resizeable]="false">
                                                    <ng-template let-rowIndex="rowIndex" let-row="row"
                                                        ngx-datatable-cell-template>
                                                        {{row.updateddt|date:datedisplayformat}}
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column prop="expirydt" name="Expiry Date"
                                                    [resizeable]="false">
                                                    <ng-template let-rowIndex="rowIndex" let-row="row"
                                                        ngx-datatable-cell-template>
                                                        {{row.coupon.expirydt|date:datedisplayformat}}
                                                    </ng-template>
                                                </ngx-datatable-column>
                                            </ngx-datatable>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Reviews">
                        <ng-template ngbTabContent>
                            <div [@fadeInOutTranslate]>
                                <div class="col-md-12 col-sm-12 card">
                                    <div class="header-title m-t-25 mb-3">
                                        <div class="header-title mb-3">
                                            <h3 class="f-18 text-primary m-l-15">Business Reviewed</h3>
                                        </div>
                                        <div *ngIf="reviewedBiz.length>0">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-5 review-border consumer-review">
                                                    <div *ngFor="let biz of reviewedBiz"
                                                        class=" p-10 m-b-10 card waves-effect d-block"
                                                        (click)="showReviewFor(biz.membershipid)"
                                                        ngbTooltip="Click here to display the reviews">
                                                        <div class="d-inline-block profile-image">
                                                            {{biz.bizname.substring(0,1).toUpperCase()}}
                                                        </div>
                                                        <h6 class="d-inline-block ml-2">{{biz.bizname | titlecase}}</h6>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-7">
                                                    <div class="p-10 m-b-10">
                                                        <div *ngIf="showRating" class="col-sm-12 col-md-12">
                                                            <div class="d-flex">
                                                                <a>
                                                                    <img width="35px" [src]="consumerProfilepic" alt="">
                                                                    <!-- {{bizReview?.consumer?.fullname.substring(0,1).toUpperCase()}} -->
                                                                </a>
                                                                <div class="ml-2">
                                                                    <a>
                                                                        <h6 class=" media-heading mb-0">
                                                                            {{bizReview?.consumer?.fullname | titlecase}}
                                                                            <span class="f-12 text-muted m-l-5">
                                                                                {{bizReview?.updateddt | date:datetimedisplayformat}}
                                                                            </span>
                                                                        </h6>
                                                                    </a>
                                                                    <div
                                                                        class="stars-example-css star-rating review-star">
                                                                        <bar-rating [(rate)]="rateStar" [max]="5"
                                                                            [readOnly]="true"></bar-rating>
                                                                    </div>
                                                                    <h6 class="m-l-0 my-3">
                                                                        {{bizReview?.comments}}</h6>
                                                                    <div *ngIf="bizReview?.reply" class="row">
                                                                        <a>
                                                                            <div class="profile-image">
                                                                                {{bizReview?.consumer?.fullname.substring(0,1).toUpperCase()}}
                                                                            </div>
                                                                        </a>
                                                                        <div class="media-body ml-2">
                                                                            <h6 class="mb-1">
                                                                                {{bizReview?.reply?.updatedby | titlecase}}
                                                                                <span class="f-12 text-muted m-l-5">
                                                                                    <i class="fa fa-reply"
                                                                                        aria-hidden="true"></i>
                                                                                    {{bizReview?.reply?.updateddt | date:datetimedisplayformat}}
                                                                                </span>
                                                                            </h6>
                                                                            <p class="mb-0 ml-0">
                                                                                {{bizReview?.reply?.comments}}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="reviewedBiz.length==0" class="text-center">
                                            <h6>No Review data to display </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Favourites">
                        <ng-template ngbTabContent>
                            <div [@fadeInOutTranslate]>
                                <div class="col-md-12 col-sm-12 card">
                                    <div class="header-title m-t-10">
                                        <h3 class="f-18 text-primary m-l-15">Preferred Business</h3>
                                    </div>
                                    <div class="header-block">
                                        <div class="table-header fixed-table-header">
                                            <ngx-datatable #eventtable class="table data-table expandable"
                                                [rows]='consumerFavs.business' [columnMode]="'flex'" [headerHeight]="50"
                                                [footerHeight]="50" [limit]="5" [rowHeight]="'auto'"
                                                [reorderable]="false" [messages]="nodata">
                                                <ngx-datatable-column prop="bizname" name="Business Name"
                                                    [resizeable]="false">
                                                    <ng-template let-rowIndex="rowIndex" let-row="row"
                                                        ngx-datatable-cell-template>
                                                        <span>{{row.business?.bizname}}</span>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column prop="biztype" name="Date" name="Business Type"
                                                    [resizeable]="false">
                                                    <ng-template let-rowIndex="rowIndex" let-row="row"
                                                        ngx-datatable-cell-template>
                                                        <span>{{row.business?.biztype}}</span>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column prop="city" name="Location" [resizeable]="false">
                                                    <ng-template let-rowIndex="rowIndex" let-row="row"
                                                        ngx-datatable-cell-template>
                                                        <span>{{row.business?.city}}</span>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column prop="inmallyn" name="In Mall"
                                                    [resizeable]="false">
                                                    <ng-template let-rowIndex="rowIndex" let-row="row"
                                                        ngx-datatable-cell-template>
                                                        <span>{{row.business.inmallyn=='Y'?'Yes':'No'}}</span>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                            </ngx-datatable>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-12 card">
                                    <div class="header-title m-t-10">
                                        <h3 class="f-18 text-primary m-l-15">Preferred Category</h3>
                                    </div>
                                    <div class="fav-title">
                                        <div *ngIf="consumerFavs.category.length > 0">
                                            <div class="row">
                                                <div *ngFor="let cat of consumerFavs.category"
                                                    class="col-sm-12 col-md-2 text-center p-4">
                                                    <div>
                                                        <!-- <img class="img-fluid img-100 p-b-10"
                                                            *ngIf="cat.category.categoryimage.docurl !== 'http://180.12.181.8:2000/category/'"
                                                            src={{cat.category.categoryimage.docurl}}> -->
                                                        <!-- <h1 style="font-size: 35px !important;"
                                                            *ngIf="cat.category.categoryimage.docurl === 'http://180.12.181.8:2000/category/'">
                                                            {{cat.category.categoryname.substring(0,1)}}</h1> -->
                                                        <h1 style="font-size: 35px !important;">
                                                            {{cat.category?.categoryname.substring(0,1)}}</h1>
                                                    </div>
                                                    <div>{{cat.category?.categoryname}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="consumerFavs.category.length == 0" class="m-l-15">
                                            <h3 class="f-14">{{nodata.emptyMessage}}</h3>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-md-6 ">
                                        <div class="card  z-depth-bottom-1">
                                            <div class="header-title m-t-10">
                                                <h3 class="f-18 text-primary m-l-15">Preferred Location</h3>
                                            </div>
                                            <div class="fav-title">
                                                <div *ngIf="consumerFavs.location.length > 0">
                                                    <div *ngFor="let loc of consumerFavs.location"
                                                        class="col-md-12 col-sm-6 col-md-3 p-b-10 p-t-10">
                                                        <i class="fa fa-map-marker fa-lg p-r-3" aria-hidden="true"></i>
                                                        {{loc.location.area}}
                                                    </div>
                                                </div>
                                                <div *ngIf="consumerFavs.category.length == 0" class="m-l-15">
                                                    <h3 class="f-14">Nothing Found</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</div>