<div class="header-title m-t-60 mb-3">
    <h3 class="f-18 text-primary m-l-15">Gallery</h3>
</div>
<div class="card tenants-page tenants-pages m-b-10 p-t-20">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 col-sm-12 text-center employee-profile">
                <div class="form-group">
                    <label class="custom-file mb-3">
                        <img src="assets/images/avatar-4.jpg" class="img-responsive w-50" alt="employee">
                        <input type="file" ng2FileSelect  multiple class="custom-file-input">
                        <span class="custom-file-control"></span>
                    </label>
                </div>
            </div>
            <div class="col-md-6 addeditpage">
                <div class="row">
                    <div class="col-md-4">
                        <img src="assets/images/avatar-4.jpg" class="img-responsive w-100 mb-4" alt="employee">
                        <button aria-label="Close" class="photo-close-btn"><i class="fa fa-close fa-close"></i></button>
                    </div>
                    <div class="col-md-4">
                        <img src="assets/images/avatar-4.jpg" class="img-responsive w-100 mb-4" alt="employee">
                        <button aria-label="Close" class="photo-close-btn"><i class="fa fa-close fa-close"></i></button>
                    </div>
                    <div class="col-md-4">
                        <img src="assets/images/avatar-4.jpg" class="img-responsive w-100 mb-4" alt="employee">
                        <button aria-label="Close" class="photo-close-btn"><i class="fa fa-close fa-close"></i></button>
                    </div>
                    <div class="col-md-4">
                        <img src="assets/images/avatar-4.jpg" class="img-responsive w-100 mb-4" alt="employee">
                        <button aria-label="Close" class="photo-close-btn"><i class="fa fa-close fa-close"></i></button>
                    </div>
                    <div class="col-md-4">
                        <img src="assets/images/avatar-4.jpg" class="img-responsive w-100 mb-4" alt="employee">
                        <button aria-label="Close" class="photo-close-btn"><i class="fa fa-close fa-close"></i></button>
                    </div>
                    <div class="col-md-4">
                        <img src="assets/images/avatar-4.jpg" class="img-responsive w-100 mb-4" alt="employee">
                        <button aria-label="Close" class="photo-close-btn"><i class="fa fa-close fa-close"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>