<!-- <div class="header-title">
    <h3 class="f-18 text-primary m-l-25">Gallery</h3>
</div> -->
<div class="card tenants-page tenants-pages m-b-10">
    <div class="col-md-12 col-sm-12 p-l-0 p-r-0">
        <app-image-uploader [editMode]="true" (imageAdded)="imageAdded($event)" [disablePicker]="false" [(extimage)]="imagesList"></app-image-uploader>

        <div class="row">

            <!-- <div class="col-md-6 col-sm-12 text-center employee-profile">
                <div class="form-group">
                    <label class="custom-file mb-3">
                        <img src="assets/images/avatar-4.jpg" class="img-responsive w-50" alt="employee">
                        <input type="file" multiple class="custom-file-input" (change)="upload($event)">
                        <span class="custom-file-control"></span>
                    </label>
                </div>
            </div>
            <div class="col-md-6 addeditpage">
                <div class="row">
                    <div class="col-md-4" *ngFor="let imgObj of displayImgList">
                        <img [src]="imgObj.file" class="img-responsive w-100 mb-4" alt="employee">
                        <button aria-label="Close" class="photo-close-btn"><i class="fa fa-close fa-close"></i></button>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>