<div class="fixedheader">
  <div class="header-title consumer-header pos-fixed">
    <div class="row">
      <div class="col-md-6 col-sm-5">
        <h2>Consumers</h2>
        <p>View Consumer Details</p>
      </div>
      <div class="col-md-6 col-sm-6 p-r-5">
        <div class="text-right">
          <label>Search:
            <input #consumerSearch type="text" class="header-search form-control input-sm full-data-search" placeholder="Search for here"
              (keyup)='search($event)' placement="bottom" ngbTooltip="Type here to search">
            <button type="button" class="btn search-close" (click)="consumerSearch.value='';search();"><i class="fa fa-close"></i></button>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-block m-t-60">
  <div class="table-header fixed-table-header">
    <app-card [classHeader]="true">
      <ngx-datatable #eventtable class="table data-table expandable" [rows]='consumersList' [columnMode]="'flex'"
        [headerHeight]="50" [rowHeight]="'auto'" [reorderable]="false">
        <ngx-datatable-column prop="fullname" name="Full Name" [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <span>{{row.fullname}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="mobileno" name="Date" name="Mobile No" [resizeable]="false" headerClass="text-center"
          [cellClass]="'text-center'">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <span>{{row.mobileno}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="city" name="Membership Id" [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <span>{{row.membershipid}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="updatedby" name="Updated By" [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <span class="updatename">{{row.updatedby}}</span>
            <span class="updatedate"> {{row.updateddt|date:displaydtimeformat}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Status" [sortable]="false" [flexGrow]="0.5" [resizeable]="false" headerClass="text-center"
          [cellClass]="'text-center status'" [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <ui-switch (change)="updateConsumer(row.consumerid,row.status)" class="js-small" placement="bottom" ngbTooltip="Click to change status"
              color="#03ADED" switchColor="#fff" size="small" [checked]="row.status == 'Active'"></ui-switch>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Action" [sortable]="false" [flexGrow]="0.5" [resizeable]="false" headerClass="text-center"
          [cellClass]="'text-center action'" [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <a placement="bottom" ngbTooltip="Click to edit consumer details" class="m-r-15 crm-action-edit text-primary"
              (click)='viewCustomer(row.consumerid)'>
              <i class="fa fa-pencil"></i></a>
            <a placement="bottom" (click)="updateConsumer(row.consumerid,row.status,true)" ngbTooltip="Click to delete consumer"
              class="crm-action-delete text-danger">
              <i class="fa fa-trash"></i></a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </app-card>
  </div>
</div>