.dropbox {
    outline-offset: -10px;
    background: #EFEFEF;
    color: dimgray;
    padding: 10px 10px;
    min-height: 100%; /* minimum height */
    position: relative;
    cursor: pointer;
  }
  
  .input-file {
    opacity: 0; /* invisible but it's there! */
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
  }
  
  .dropbox:hover {
    background: rgb(255, 255, 124); /* when mouse over to the drop zone, change color */
  }
  
  .dropbox p {
    font-size: 1.2em;
    text-align: center;
    padding: 35px 0;
  }


  .extimage{
    position: relative;
    height: auto;
    width: auto;
    margin: 0;
    float: left;
    img{
      display: inline-block;
      max-width: 100%;
      height: 165px;
      padding: 10px;
    }
  }
  .extimage .extimage_dicon{
    position: absolute;
    right: auto;
    padding: 5px;
    background: #03ADED;
    top: 2px;
    left: auto;
    border-radius: 50px;
    width: 23px;
    height: 23px;
    color: #fff;
    text-align: center;
  }