<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4 p-2">
            <div class="dropbox">
                <input type="file" [disabled]="disablePicker" (change)="selectedImg($event.target.name, $event.target.files)"
                    accept="image/*" class="input-file">
                <p>Click here to browse your files</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-8 imagePicked">
            <div *ngFor="let img of extimage;let i = index" [id]="'img'+i" class="extimage">
                <i (click)="removeDoc(img,i)" class="extimage_dicon fa fa-close"></i>
                <img class="img-responsive" src="{{img.docurl}}">
                <!-- <button aria-label="Close" class="photo-close-btn"><i class="fa fa-close fa-close"></i></button> -->
            </div>
        </div>
    </div>
    <div class="row">
        
    </div>
</div>