.tenants-pages{
     .form-group {
         .users-list{
            color:#7B838A;
            }
        }
    }
.text-align{
    color:#A7ACB1;
    font-family: 'Montserrat', sans-serif;
}
.tenants-page{
    .form-group{
        .form-control{
            width:100% !important;
        }
    }
}