// all buttons background color and text color //
$primary-color:#004dff;
$white-txt: #ffffff;
$font-stack: 'ProximaNovaSemibold', sans-serif;
// all buttons background color and text color //

.navbar-title {
    display: inline-block;
    min-height: 56px;
    .logo-title{
        font-size: 18px;
        vertical-align: middle;
        display: inline-block;
        text-transform: uppercase;
        font-family: $font-stack;;
        font-weight: bold;
        text-align: center;
        margin: 0 10px;
        color: #2f3d4a;
    }
}
#pcoded{
    &[vertical-nav-type="offcanvas"] {
        .main-header {
            right: auto;
            width: calc(100%) !important;
        }
    }
}
body[themebg-pattern="pattern1"]{
    background-color: transparent !important;
}
.main-header{
    right: 0;
    width: calc(100%) !important; 
    background: linear-gradient(to right, #eff2f9, #f2f5fa) !important;
    box-shadow: none !important;
    border-bottom: 1px solid #d6d9de;
    .mobile-menu {
        font-size: 17px;
        color: #838487;
    }
    .navbar-container{
      .nav-right{
          li {
              a{
                  span{
                    color: #5c5c5c;
                    font-weight: 600;
                  }
              }
          }
          .user-profile {
            i{
                color: #c8c8c8;
            }
          }
      }
    }
}
.main-navbar{
    box-shadow: none !important;
    border-right: 1px solid #d6d9de;
    width: 236px !important;
    .main-nav-item{
        li{
            a{
                font-family: $font-stack !important;
                font-weight: 600;
                &:hover{
                    color:$primary-color !important; 
                    &:before{
                        color: $primary-color !important;
                    }
                }   
            }
            .pcoded-submenu{
                li{
                    a{
                        font-weight: 500;
                        font-size: 14px;
                        font-family: $font-stack, sans-serif !important;
                    }
                }
            }
        }
    }
}
.pcoded .pcoded-navbar .pcoded-item > li > a > .pcoded-micon{
    font-size: 16px;
    padding: 2px;
    color: #8a8a8a;
}
.pcoded .pcoded-navbar[active-item-theme="theme10"] .pcoded-item > li.active > a, 
.pcoded .pcoded-navbar[active-item-theme="theme10"] .pcoded-item > li.active > a .pcoded-micon{
    color: $primary-color !important;
}
.pcoded .pcoded-navbar[active-item-theme="theme10"] .pcoded-item > li.active > a:before{
    border-left-color: $primary-color;
}
.pcoded[theme-layout="vertical"] .pcoded-navbar .pcoded-item li.pcoded-hasmenu[dropdown-icon="style3"] > a:after {
    content: '\f078';
    font-family: 'fontawesome';
}
.pcoded[theme-layout="vertical"] .pcoded-navbar .pcoded-item li.pcoded-hasmenu.pcoded-trigger[dropdown-icon="style3"] > a:after{
    content: "\f077";
    font-family: 'fontawesome';
}
.pcoded .pcoded-navbar[active-item-theme="theme10"] .pcoded-item li:hover > a .pcoded-micon, 
.pcoded .pcoded-navbar[active-item-theme="theme10"] .pcoded-item li:hover > a{
    color: $primary-color !important;
}
.pcoded .pcoded-navbar[active-item-theme="theme10"] .pcoded-item li .pcoded-submenu li.active > a, 
.pcoded .pcoded-navbar[active-item-theme="theme10"] .pcoded-item li .pcoded-submenu li:hover > a{
  color: $primary-color !important;
}
.pcoded .pcoded-navbar[active-item-theme="theme10"] 
.pcoded-item .pcoded-hasmenu[subitem-icon="style7"] 
.pcoded-submenu > li.active > a > .pcoded-mtext:after, .pcoded 
.pcoded-navbar[active-item-theme="theme10"] 
.pcoded-item .pcoded-hasmenu[subitem-icon="style7"] 
.pcoded-submenu > li:hover > a > .pcoded-mtext:after{
    background-color: $primary-color !important;
}

.header-navbar{
    .navbar-wrapper{
        .navbar-logo{
            height:50px !important; 
        }
    }
}
.pcoded[theme-layout="vertical"]{
    .pcoded-content {
        position: relative;
        display: block;
        padding: 0;
        box-sizing: border-box;
        height: 100%;
    }
}
.main-menu{
    padding-top: 20px;
}
.header-navbar{
    .navbar-wrapper{
        .navbar-container{
            .header-notification.active:before{
                display: none;
            }
        }
    }
}

.main-title{
    float:left;
    h2{
        font-size: 20px;
        text-transform: capitalize;
        padding: 0;
        font-weight: 600;
        margin: 10px 0 0 15px;
        color: $primary-color;
        display: inline-block;
        font-family: $font-stack, sans-serif;
        letter-spacing: 0.5px;
    }
}
.logout-btn{
    padding: 0px 3px 0 5px !important;
    background: #2f3d4a;
    display: inline-block;
    vertical-align: baseline;
    text-align: center;
    .icofont-logout{
        margin-left: 0 !important;
        margin-right: 0;
        &:before {
            content: "\f054";
            font-family: 'IcoFont' !important;
            color: #ccc;
            font-size: 16px;
            font-style: normal;
            color: #fff;
        }
    }
}
.fullname {
    display: inline-block;
    width: auto;
    margin-left: 5px;
    font-weight: 500 !important;
    color: #2f3d4a !important;
    font-family: $font-stack;
    margin-right: 5px;
}
.profile-image {
    width: 45px;
    display: inline-block;
    text-align: center;
    background: #ccc;
    border-radius: 100%;
    line-height: 45px;
    max-width: 100%;
}