<div class="header-title addeditpage">
    <div class="row">
        <div class="col-md-8 col-sm-6">
            <input #customerSearch type="text" class="header-search form-control col-md-5 col-sm-5 p-l-0 p-r-0 input-sm full-data-search" placeholder="Search here" (keyup)='search($event)' placement="bottom" ngbTooltip="Type here to search">
            <button type="button" class="btn search-close col-md-1 col-sm-1 p-l-0 p-r-0" (click)="customerSearch.value='';search();"><i class="fa fa-close"></i></button>
        </div>
        <div class="col-md-4 col-sm-6">
            Last Commission paid : {{dealerObj.lastcommissionpaiddt? (dealerObj.lastcommissionpaiddt|date:datedisplayformat) : '-'}}
        </div>
    </div>
</div>
<div class="header-block m-t-15">
    <div class="table-header fixed-table-header">
        <div class="card p-r-15 p-l-15">
            <ngx-datatable #customerdltable class="table data-table expandable" [rows]='dealerCustomers' [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [limit]="10" [rowHeight]="'auto'" [reorderable]="false" [messages]="emptymessages">
                <ngx-datatable-column prop="bizname" name="Business Name" [resizeable]="false">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        <span>{{row.bizname}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="membershipcode" name="Membership ID" [resizeable]="false">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        <span>{{row.membershipcode}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="location" name=" Location" [resizeable]="false">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        <span>{{row.location?.city}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="regdate" name="Enroll Date" headerClass="text-center" [cellClass]="'text-center'" [resizeable]="false">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        <span class="text-center">{{row.regdate|date:datedisplayformat}}</span>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>