.checkbox-label{
    font-weight: 300 !important;
}
.donation-view-button{
    height: 37px;
}
.payment-button{
    button{
        background: rgba(202, 202, 202, 0.3);
        height: 37px;
        line-height: 0px;
    }
}
.search{
    right:8%;
}
.data-table .datatable-header-cell-label {
    padding: .75rem 25px .75rem .75rem;
}
.disabled {
    color: grey !important;
    pointer-events: none;
    background: #e9ecef;
}