<div class="employee-form">
    <div class="card tenants-page tenants-pages m-b-10">
        <div class="row p-t-10 p-b-5">
            <div class="col-md-12 col-sm-12">
                <div class="header-title m-t-60 mb-3">
                    <h3 class="f-18 text-primary m-l-15">Payments</h3>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-sm-6 col-form-label text-right">Next due</label>
                    <span class="col-form-label col-md-9 col-sm-6">{{date|date:displayformat}}</span>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-sm-6 col-form-label text-right">Last paid</label>
                    <span class="col-form-label col-md-9 col-sm-6 f-16">{{date|date:displaydateformat}}</span>
                </div>
                <div class="form group row">
                    <label class="col-md-3 col-sm-6 col-form-label text-right">Subscription Amount</label>
                    <div class="checkbox-color checkbox-primary col-md-7 col-sm-6 m-l-5 p-t-5">
                        <input id="checkbox1" type="checkbox" checked="">
                        <label for="checkbox1" class="checkbox-label">
                            500 + Tax
                        </label>
                    </div>
                </div>
                <div class="form group row">
                    <label class="col-md-3 col-sm-6 col-form-label text-right">Association Branch</label>
                    <div class="checkbox-color checkbox-primary col-md-7 col-sm-6 m-l-5 p-t-5">
                        <input id="checkbox2" type="checkbox" checked="">
                        <label for="checkbox2" class="checkbox-label">
                            1,500 + Tax
                        </label>
                    </div>
                </div>
                <div class="header-title m-t-60 mb-3">
                    <h3 class="f-18 text-primary m-l-15">Donate for a cause</h3>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-sm-6 col-form-label text-right">Scan Foundation</label>
                    <div class="checkbox-color checkbox-primary col-md-1 col-sm-1 m-l-5 p-t-5">
                        <input id="checkbox3" type="checkbox" checked="">
                        <label for="checkbox3" class="checkbox-label"></label>
                    </div>
                    <button type="button" placement="bottom" ngbTooltip="Click to view donation cause" class="col-md-1 btn btn-primary waves-effect p-0 m-l-15 donation-view-button"
                        (click)="viewDonationCause();">
                        <i class="fa fa-eye"></i> View
                    </button>
                    <div class=" col-md-6 col-sm-6 p-l-0 p-r-20">
                        <input type="text" class="form-control" style="width: 100% !important;" placeholder="Amount">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-sm-6 col-form-label text-right">Total</label>
                    <span class="col-form-label col-md-5 col-sm-6 f-16">2,450$</span>
                    <button type="button" placement="bottom" ngbTooltip="Click to pay online" class="col-md-3 btn btn-primary waves-effect p-0">
                        Pay online
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header-title m-t-30 mb-3">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <h3 class="f-18 text-primary m-l-15">History</h3>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="text-right">
                <label>Search:
                    <input type="search" class="header-search form-control input-sm full-data-search" placeholder="Search for here"
                        (keyup)='search($event)' placement="bottom" ngbTooltip="Type here to search">
                </label>
            </div>
        </div>
        <div class="col-md-2 col-sm-1  p-r-0">
            <button type="button" placement="bottom" ngbTooltip="Click to add payment" class="btn btn-primary waves-effect"
                (click)='addpayment()'><i class="fa fa-plus-circle m-r-5"></i> New
            </button>
        </div>
    </div>
</div>
<!-- <div class="header-block m-t-60"> -->
<div class="table-header fixed-table-header">
    <app-card [classHeader]="true">
        <ngx-datatable #customerpaymttable class="table data-table expandable" [rows]='data' [columnMode]="'flex'"
            [headerHeight]="50" [rowHeight]="'auto'" [reorderable]="false">
            <!-- Row Detail Template -->
            <ngx-datatable-column prop="paiddt" name="Paid Date" [resizeable]="false">
                <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                    <span>{{date|date:datedisplayformat}}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="amount" name="Amount" [resizeable]="false">
                <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                    <span>{{row.amount}}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="reference" name="Reference#" [resizeable]="false">
                <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                    <span>{{row.reference}}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="mode" name="Mode" [resizeable]="false" >
                <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                    <span>{{row.mode}}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="status" name="Status" [sortable]="false" [flexGrow]="0.5" [cellClass]="'text-center status'">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span>{{row.status}}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Action" [sortable]="false" [flexGrow]="0.5" [cellClass]="'text-center action'">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <a placement="bottom" ngbTooltip="Click to view payment" class="m-r-15 crm-action-edit text-primary text-center"
                        (click)="viewpayment();"><i class="fa fa-eye"></i></a>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </app-card>
</div>
<!-- </div> -->
<!-- View Payment Details PopUp Starts -->
<div class="modal-size">
    <app-modal-animation [modalID]="'customerpaymentmodal'" [modalClass]="'md-effect-7'">
        <h3 class="f-26">Payment details</h3>
        <div class="form-header">
            <div class="row ">
                <div class="col-md-12">
                    <div class="form-group required">
                        <label>Payment date</label>
                        <input type="text" class="form-control" placeholder="Payment date">
                    </div>
                    <div class="form-group required">
                        <label>Payment amount</label>
                        <input type="text" class="form-control" placeholder="Payment amount">
                    </div>
                    <div class="form-group required">
                        <label>Mode of payment</label>
                        <select name="select" class="form-control p-1">
                            <option value="opt1">Select your mode of payment</option>
                            <option value="opt2">Cheque</option>
                            <option value="opt3">NEFT</option>
                            <option value="opt4">PayTM</option>
                            <option value="opt5">Googletez</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-sm-6 col-form-label">Reference</label>
                        <span class="col-form-label col-md-9 col-sm-6">#BD/PM/001</span>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-sm-6 col-form-label">Status</label>
                        <div class="col-md-9 col-sm-6">
                            <ui-switch class="js-small" placement="bottom" ngbTooltip="Click to change status" color="#03ADED"
                                switchColor="#fff" size="small" checked></ui-switch>
                        </div>
                    </div>
                    <div *ngIf="locationPage" class="form-group "></div>
                </div>
            </div>
            <button *ngIf="showPayment" (click)="closeMyModal($event)" type="button" placement="top" ngbTooltip="Click to save payment details"
                (click)="save()" class="btn pull-right btn-primary waves-effect m-b-10">Save</button>
        </div>
        <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn"><i class="fa fa-close"></i></button>
    </app-modal-animation>
</div>
<!-- View Payment Details PopUp Ends -->
<div class="modal-size">
    <app-modal-animation [modalID]="'donationCauseModal'" [modalClass]="'md-effect-7'">
        <textarea rows="3" cols="3" class="form-control" placeholder="Payment Notes" readonly>The description about the cause of Donation will be mentioned here.</textarea>
    </app-modal-animation>
</div>