.checkbox-label{
    font-weight: 300 !important;
}
.donation-view-button{
    height: 37px;
}
.payment-button{
    button{
        background: rgba(202, 202, 202, 0.3);
        height: 37px;
        line-height: 0px;
    }
}
.ng-select{
    width: 100%;
    div{
        border: #cccccc !important;
    }
}