<div *ngIf="!loadingIndicator">
    <div *ngIf="categoryList.length != 0" class="header-block">
        <div class="fixedheader m-b-15">
            <div class="header-title pos-fixed">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <input #categorySearch type="text" class="header-search form-control col-md-5 col-sm-5 input-sm full-data-search"
                            placeholder="Search here" (keyup)='search($event)' placement="bottom" ngbTooltip="Type here to search">
                        <button type="button" class="btn search-close col-md-1 col-sm-1 p-l-0 p-r-0" (click)="categorySearch.value='';search();"><i
                                class="fa fa-close"></i></button>
                    </div>
                    <div class="col-md-6 col-sm-6 p-r-10 text-right">
                        <button *ngIf="add" type="button" placement="bottom" ngbTooltip="Click to add category" class="add-btn btn btn-primary waves-effect"
                            (click)='addCategory()'><i class="fa fa-plus-circle m-r-5"></i> New </button>
                        <button type="button" placement="bottom" ngbTooltip="Reload" (click)="getCategories()" class="btn btn-inverse btn-primary waves-effect m-l-10"><i
                                class="ti-reload "></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-header fixed-table">
            <div class="card p-r-10 p-l-10">
                <ngx-datatable #categorytable class="table data-table expandable" [rows]='categoryList' [columnMode]="'flex'"
                    [headerHeight]="50" [rowHeight]="'auto'" [reorderable]="false" [footerHeight]="50" [limit]="10"
                    [messages]="emptymessages">
                    <!-- Row Detail Template -->
                    <ngx-datatable-column prop="categoryname" name="Business category" [resizeable]="false">
                        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                            <span class="middle">{{row.categoryname}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="updatedby" name="Updated By" [resizeable]="false">
                        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                            <span class="updatename">{{row.updatedby}}</span>
                            <span class="updatedate"> {{row.updateddt|date:displayformat}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Status" [sortable]="false" [flexGrow]="0.5" headerClass="text-center"
                        [cellClass]="'text-center'" [resizeable]="false">
                        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                            <ui-switch class="js-small" placement="bottom" ngbTooltip="Click to change status" color="$primary-color"
                                switchColor="#fff" size="small" (change)="updateCategoryStatus(row,rowIndex,false)"
                                [checked]="row.status == 'Active'">
                            </ui-switch>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column *ngIf="edit || delete" name="Action" [sortable]="false" [flexGrow]="0.5"
                        headerClass="text-center" [cellClass]="'text-center'" [resizeable]="false">
                        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                            <a *ngIf="edit" placement="bottom" ngbTooltip="Click to edit business category" class="m-r-15 crm-action-edit text-primary"
                                (click)='editCategory(row)'>
                                <i class="fa fa-pencil"></i></a>
                            <a *ngIf="delete" placement="bottom" (click)="updateCategoryStatus(row,rowIndex,true)"
                                ngbTooltip="Click to delete business category" class="crm-action-delete text-danger">
                                <i class="fa fa-trash"></i></a>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
    <div *ngIf="categoryList.length==0" class="text-center no-data">
        <div class="nodata-text nodata-image">
            <img class="hand-icon" src="assets/images/no-data.png">
            <h3>Create Category(s) associated with organization</h3>
            <button *ngIf="add" type="button" placement="bottom" ngbTooltip="Click to add category" class="add-btn btn btn-primary waves-effect"
                (click)='addCategory()'><i class="fa fa-plus-circle m-r-5"></i>Create Category</button>
        </div>
    </div>
</div>
<app-loader [loadingIndicator]="loadingIndicator"></app-loader>
<app-add-edit-category [categoryObj]="categoryObj" (notifyCategoryEntry)="notifyCategoryEntry($event)">
</app-add-edit-category>