<div class="fixedheader">
  <div class="header-title pos-fixed">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h2>Donation</h2>
        <p>lorem ipsum dolor sit amet, consectetur adipisicing elit-Donation</p>
      </div>
      <div class="col-md-5 col-sm-5">
        <div class="text-right">
          <label>Search:
            <input type="search" [(ngModel)]="filterQuery" class="header-search form-control input-sm full-data-search"
              placeholder="">
          </label>
        </div>
      </div>
      <div class="col-md-1 col-sm-1 p-r-30">
        <button type="button" placement="bottom" ngbTooltip="Click to add donation" class="btn pull-left btn-primary waves-effect"
        routerLink="create"><i class="fa fa-plus-circle m-r-5"></i> New
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="data.length==0" class="no-data p-0 m-0">
  <h3><i>No data found</i></h3>
</div>
<div class="card table-header m-t-60" *ngIf="data.length!=0">
  <div class="card-body">
    <div class="table-content crm-table">
      <div class="project-table">
        <div class="dt-responsive">
          <div class="table-responsive">
            <table class="table table-striped table-bordered full-data-table events-table" [mfData]="data| dataFilter : filterQuery" #mf="mfDataTable"
              [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
              <thead>
                <tr>
                  <th>
                    <mfDefaultSorter by='charity'>Charity Name</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by='startdate'>Start Date</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by='enddate'>End Date</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by='updatedby'>Updated By</mfDefaultSorter>
                  </th>
                  <th class="text-center">Status</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of mf.data">
                  <td>{{item.charity}}</td>
                  <td>{{item.startdate}}</td>
                  <td>{{item.enddate}}</td>
                  <td>
                    <span class="updatename">{{item.lastupdatedby}}</span>
                    <span class="updatedate">{{item.lastupdateddt}}</span>
                  </td>
                  <td class="text-center">
                    <ui-switch class="js-small" placement="top" ngbTooltip="Click to change the status" color="#03ADED"
                      switchColor="#fff" size="small" checked></ui-switch>
                  </td>
                  <td class="action-icon text-center">
                    <a href="javascript:;" placement="top" ngbTooltip="Click to edit the donation " class="m-r-15 crm-action-edit text-primary">
                      <i class="fa fa-pencil"></i></a>
                    <a href="javascript:;" placement="bottom" ngbTooltip="Click to delete the donation " class="crm-action-delete text-danger">
                      <i class="fa fa-trash"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <app-add-edit-donations></app-add-edit-donations> -->
