<div class="fixedheader">
  <div class="header-title pos-fixed">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h2>Donation</h2>
        <p>lorem ipsum dolor sit amet, consectetur adipisicing elit-Donation</p>
      </div>
      <div class="col-md-5 col-sm-5">
        <div class="text-right">
          <label>Search:
            <input type="search" (keyup)='search($event)' class="header-search form-control input-sm full-data-search"
              placeholder="Search for here" placement="bottom" ngbTooltip="Type here to search">
          </label>
        </div>
      </div>
      <div class="col-md-1 col-sm-1 p-r-30">
        <button type="button" placement="bottom" ngbTooltip="Click to add donation" class="btn btn-primary waves-effect"
          (click)='addDonations()'><i class="fa fa-plus-circle m-r-5"></i> New
        </button>
      </div>
    </div>
  </div>
</div>
<div class="header-block m-t-60">
  <div class="card table-header fixed-table-header">
    <div class="card-body">
      <ngx-datatable #table class="table table-bordered data-table donation-table" [columnMode]="'flex'"
        [headerHeight]="40" [rowHeight]="40" [rows]='data' [scrollbarV]="true" [scrollbarH]="true">
        <ngx-datatable-column prop="charity" name="Charity" [flexGrow]="1"></ngx-datatable-column>
        <ngx-datatable-column prop="startdate" name="Start Date" [flexGrow]="1"></ngx-datatable-column>
        <ngx-datatable-column prop="enddate" name="End Date" [flexGrow]="1"></ngx-datatable-column>
        <ngx-datatable-column name="Updated By" [flexGrow]="1">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span class="updatename">{{data[rowIndex].updatedby}}</span>
            <span class="updatedate"> {{data[rowIndex].updateddt}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="status" name="Status" [sortable]="false" [flexGrow]="1">
          <ng-template class="text-center" ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
            let-row="row">
            <ui-switch class="js-small" placement="bottom" ngbTooltip="Click to change status" color="#03ADED"
              switchColor="#fff" size="small" checked></ui-switch>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Action" [sortable]="false" [flexGrow]="1">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <a placement="bottom" ngbTooltip="Click to edit donation details" class="m-r-15 crm-action-edit text-primary"
              (click)='editDonations()'>
              <i class="fa fa-pencil"></i></a>
            <a placement="bottom" title="Click to delete donation" class="crm-action-delete text-danger">
              <i class="fa fa-trash"></i></a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><i class="fa fa-exclamation-circle"></i> Are you sure you want to delete?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button>
  </div>
</ng-template>