
.search-button{
    .btn{
        padding:8px 12px;
    }
}
.locationlist{
    .input-group{
        .ng-select{
            width: 98%;
        }
    }
 }
 .membertype{
    .input-group{
        .ng-select{
            width:100%;
        }
    }
 }