<div *ngIf="!loadingIndicator">
  <div *ngIf="eventsList.length!=0" class="header-block">
    <div class="fixedheader m-b-15">
      <div class="header-title">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <input #eventSearch type="text" class="header-search form-control col-md-8 col-sm-8 p-l-0 p-r-0 input-sm full-data-search"
              placeholder="Search here" (keyup)='search($event)' placement="bottom" ngbTooltip="Type here to search">
            <button type="button" class="btn search-close col-md-1 col-sm-1 p-l-0 p-r-0" (click)="eventSearch.value='';search();"><i
                class="fa fa-close"></i></button>
          </div>
          <div class="col-md-6 col-sm-6 p-r-10 text-right">
            <button *ngIf="add" type="button" placement="bottom" ngbTooltip="Click to add event" class="add-btn btn btn-primary waves-effect m-r-10"
              (click)='addEvent()'><i class="fa fa-plus-circle m-r-5"></i>New</button>
            <button type="button" placement="bottom" ngbTooltip="Reload" (click)="getEvents()" class="btn btn-inverse btn-primary waves-effect"><i
                class="ti-reload"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="table-header fixed-table">
      <app-card [classHeader]="true">
        <ngx-datatable #eventtable class="table data-table expandable" [rows]='eventsList' [columnMode]="'flex'"
          [headerHeight]="50" [footerHeight]="50" [limit]="10" [rowHeight]="'auto'" [reorderable]="false" [messages]="emptymessages">
          <ngx-datatable-column prop="eventname" name="Event Name" [resizeable]="false">
            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
              <span>{{row.eventname}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="date" name="Date" data-type='date' [resizeable]="false" headerClass="text-center"
            [cellClass]="'text-center'">
            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
              <span>{{row.eventdate|date:displaydateformat}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="city" name="City" [resizeable]="false">
            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
              <span>{{row.location?.city}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="updatedby" name="Updated By" [resizeable]="false">
            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
              <span class="updatename">{{row.updatedby}}</span>
              <span class="updatedate"> {{row.updateddt|date:displaydtimeformat}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Status" [sortable]="false" [flexGrow]="0.5" [resizeable]="false" headerClass="text-center"
            [cellClass]="'text-center status'" [resizeable]="false">
            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
              <ui-switch (change)="updateEvent(row,rowIndex,false)" class="js-small" placement="bottom" ngbTooltip="Click to change status"
                color="$primary-color" switchColor="#fff" size="small" [checked]="row.status == 'Active'"></ui-switch>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="edit || delete" name="Action" [sortable]="false" [flexGrow]="0.5" [resizeable]="false"
            headerClass="text-center" [cellClass]="'text-center action'" [resizeable]="false">
            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
              <a *ngIf="edit" placement="bottom" ngbTooltip="Click to edit event details" class="m-r-15 crm-action-edit text-primary"
                (click)='editEvent(row.eventid)'>
                <i class="fa fa-pencil"></i></a>
              <a *ngIf="delete" placement="bottom" (click)="updateEvent(row,rowIndex,true)" ngbTooltip="Click to delete event"
                class="crm-action-delete text-danger">
                <i class="fa fa-trash"></i></a>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </app-card>
    </div>
  </div>
  <div *ngIf="eventsList.length == 0" class="text-center no-data">
    <div class="nodata-text nodata-image">
      <img class="hand-icon" src="assets/images/no-data.png">
      <h3>Create Event(s) associated with organization</h3>
      <button *ngIf="add" type="button" placement="bottom" ngbTooltip="Click to add Event" class="add-btn btn btn-primary waves-effect"
        (click)='addUser()'><i class="fa fa-plus-circle m-r-5"></i>Create Event</button>
    </div>
  </div>
</div>
<app-loader [loadingIndicator]="loadingIndicator"></app-loader>