<form [formGroup]="settingForm">
    <div class="employee-form">
        <div class="card tenants-page tenants-pages m-b-10">
            <div class="row p-t-10 p-b-5">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group row">
                        <label class="col-md-3 col-sm-6 col-form-label text-right">Business search&nbsp;
                            <a placement="bottom"
                                (click)="viewDonationCause(donation);"><i class="fa fa-question-circle"
                                    aria-hidden="true"></i></a></label>
                        <div class="col-md-9 col-sm-6">
                            <ui-switch class="js-small" placement="bottom" color="$primary-color" switchColor="#fff"
                                size="small" formControlName="bizsearch"></ui-switch>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-sm-6 col-form-label text-right">Chat support&nbsp;
                            <a placement="bottom"
                                (click)="viewDonationCause(donation);"><i class="fa fa-question-circle"
                                    aria-hidden="true"></i></a></label>
                        <div class="col-md-9 col-sm-6">
                            <ui-switch class="js-small" placement="bottom" color="$primary-color" switchColor="#fff"
                                size="small" formControlName="chatyn"></ui-switch>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-sm-6 col-form-label text-right">Business hours&nbsp;
                            <a placement="bottom"
                                (click)="viewDonationCause(donation);"><i class="fa fa-question-circle"
                                    aria-hidden="true"></i></a></label>
                        <div class="col-md-9 col-sm-6">
                            <input class="form-control m-b-10" type="time" formControlName="starttime">
                            <input class="form-control" type="time" formControlName="endtime">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-sm-6 col-form-label text-right">Open now&nbsp;
                            <a placement="bottom" (click)="viewDonationCause(donation);"><i
                                    class="fa fa-question-circle" aria-hidden="true"></i></a></label>
                        <div class="col-md-9 col-sm-6">
                            <ui-switch class="js-small" placement="bottom" color="$primary-color" switchColor="#fff"
                                size="small" formControlName="openyn"></ui-switch>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-sm-6 col-form-label text-right">Auto Generate Coupon code&nbsp;
                            <a placement="bottom"
                                (click)="viewDonationCause(donation);"><i class="fa fa-question-circle"
                                    aria-hidden="true"></i></a></label>
                        <div class="col-md-9 col-sm-6">
                            <ui-switch class="js-small" placement="bottom" color="$primary-color" switchColor="#fff"
                                size="small" formControlName="coupongenyn"></ui-switch>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-sm-6 col-form-label text-right">Notification&nbsp;
                            <a placement="bottom"
                                (click)="viewDonationCause(donation);"><i class="fa fa-question-circle"
                                    aria-hidden="true"></i></a></label>
                        <div class="col-md-9 col-sm-6">
                            <ui-switch class="js-small" placement="bottom" color="$primary-color" switchColor="#fff"
                                size="small" formControlName="notificationyn"></ui-switch>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>