<div class="addeditpage">
  <div class="fixedheader">
    <div class="header-title m-b-15 pos-fixed">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h2>Dealer</h2>
          <p *ngIf="dealerid" class="m-b-0">
            ID: 875643
          </p>
        </div>
        <div class="col-md-6 col-sm-6 save-button text-right p-r-30">
          <button type="button" placement="bottom" ngbTooltip="Click to {{buttontext}} dealer" (click)="submit()" class="btn btn-primary waves-effect m-r-10 text-capitalize">{{buttontext}}</button>
          <button type="button" placement="bottom" ngbTooltip="Go back" routerLink="/business/dealer" class="btn btn-inverse btn-primary waves-effect"><i
              class="fa fa-arrow-circle-left"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-sm-12">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <div class="employee-page pos-fixed customer-menu">
          <div class="col-md-12 col-sm-12 text-center employee-profile">

            <div class="customer-floating-menu">
                <button class="btn btn-inverse btn-outline-inverse" (click)="dealerDetails();"> Details</button>
              <button class="btn btn-inverse btn-outline-inverse" (click)="customersDetails();">Customers</button>
              <button class="btn btn-inverse btn-outline-inverse" (click)="paymentsDetails();">Payments</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>