<div class="addeditpage">
    <div class="fixedheader">
        <div class="header-title m-b-15 pos-fixed">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h2>Dealer</h2>
                    <p *ngIf="dealerid" class="m-b-0">
                        ID: {{dealerid}}
                    </p>
                </div>
                <div class="col-md-6 col-sm-6 save-button text-right p-r-30">
                    <button type="button" placement="bottom" ngbTooltip="Click to {{buttontext}} dealer" (click)="saveOrUpdate()" class="btn btn-primary waves-effect m-r-10 text-capitalize">{{buttontext}}</button>
                    <button type="button" placement="bottom" ngbTooltip="Go back" routerLink="/business/dealer" class="btn btn-inverse btn-primary waves-effect"><i
              class="fa fa-arrow-circle-left"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-xl-10 col-sm-10">
            <div class="md-tabs md-right-tabs p-t-10 business-tab dealer-tab-menu">
                <ngb-tabset #deleartabs>
                    <ngb-tab title="Details" id='1'>
                        <ng-template ngbTabContent>
                            <div [@fadeInOutTranslate]>
                                <app-dealer-profile></app-dealer-profile>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Customers" id='2'>
                        <ng-template ngbTabContent>
                            <div [@fadeInOutTranslate]>
                                <app-customers></app-customers>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Payments" id='3'>
                        <ng-template ngbTabContent>
                            <div [@fadeInOutTranslate]>
                                <app-dealer-payments></app-dealer-payments>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</div>