.customer-floating-menu{
    button{
        width: 90%;
        margin-bottom: 10px;
        border-radius: 5px;
        height: 35px;
        line-height: 0px;
    }
    
}
.customer-menu{
    right: 20px;
    top:21%;
}
