<div class="header-title addeditpage">
    <div class="row">
        <div class="col-md-10 col-sm-6">
            <input #couponsSearch type="text" class="header-search form-control col-md-5 col-sm-5 p-l-0 p-r-0 input-sm full-data-search" placeholder="Search here" (keyup)='search($event)' placement="bottom" ngbTooltip="Type here to search">
            <button type="button" class="btn search-close col-md-1 col-sm-1 p-l-0 p-r-0" (click)="couponsSearch.value='';search();"><i class="fa fa-close"></i></button>
        </div>
        <!-- <div class="col-md-6 col-sm-6 p-r-10 text-right">
            <button type="button" placement="bottom" ngbTooltip="Reload" (click)="getCouponList(customerObj)" class="btn btn-inverse btn-primary waves-effect"><i
    class="ti-reload "></i></button>
        </div> -->
    </div>
</div>
<div class="header-block m-t-15">
    <div class="table-header fixed-table-header">
        <div class="card p-r-15 p-l-15">
            <ngx-datatable #couponstable class="table data-table expandable" [rows]='couponList' [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [limit]="5" [rowHeight]="'auto'" [reorderable]="false" [messages]="emptymessages">
                <ngx-datatable-column prop="couponcode" name="Coupon code" [resizeable]="false">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        <span>{{row.couponcode}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="noofcoupons" name="No. of coupons" [resizeable]="false">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        <span>{{row.noofcoupons}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="consumercoupons" name="Claimed" [resizeable]="false">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        <span>{{row.consumercoupons?.length}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="expirydt" name="Expires at" [resizeable]="false" [cellClass]="'text-center'" headerClass="text-right">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        <span>{{row.expirydt|date:datedisplayformat}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Status" [sortable]="false" [flexGrow]="0.5" [cellClass]="'text-center'" headerClass="text-right">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        <ui-switch class="js-small" placement="bottom" ngbTooltip="Click to change status" color="$primary-color" switchColor="#fff" size="small" [checked]="row.status == 'Active'" (change)="updateCoupon(row,rowIndex,false)"></ui-switch>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Action" [sortable]="false" [flexGrow]="0.5" [cellClass]="'text-center'" headerClass="text-right">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        <a placement="bottom" ngbTooltip="Click to edit coupons" class="m-r-15 crm-action-edit text-primary" (click)="editCoupon(row)">
                            <i class="fa fa-pencil"></i></a>
                        <a placement="bottom" ngbTooltip="Click to delete coupons" class="crm-action-delete text-danger" (click)="updateCoupon(row,rowIndex,true)">
                            <i class="fa fa-trash"></i></a>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>
<app-add-edit-coupon [couponObj]="couponObj" [customerObj]="customerObj" (notifyCouponChange)="notifyCouponChange($event)"></app-add-edit-coupon>