<div class="fixedheader header-block">
  <div class="header-title  pos-fixed">
    <div class="row">
      <div class="col-md-5 col-sm-5">
        <h2>Users</h2>
        <p>Create or Update the user logins</p>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="text-right">
          <label>Search:
            <input type='text' class="header-search form-control input-sm full-data-search" placeholder='Search Name'
              (keyup)='search($event)' placement="bottom" ngbTooltip="Type here to search" />
          </label>
        </div>
      </div>
      <div class="col-md-1 col-sm-1 p-r-30">
        <button type="button" placement="bottom" ngbTooltip="Click to add user" class="btn pull-left btn-primary waves-effect"
          (click)='addUsers()'><i class="fa fa-plus-circle m-r-5"></i> New
        </button>
      </div>
    </div>
  </div>
</div>
<div class="card table-header fixed-table-header m-t-60">
  <div class="card-body">
    <div class="table-content crm-table">
      <div class="project-table">
        <div class="dt-responsive">
          <div class="table-responsive">
            <ngx-datatable #table class="table table-bordered data-table" [columns]="columns" [columnMode]="'force'"
              [headerHeight]="50" [rowHeight]="50" [rows]='data'>
              <ngx-datatable-column prop="fullname" name="User Name"></ngx-datatable-column>
              <ngx-datatable-column prop="mobileno" name="Mobile No"></ngx-datatable-column>
              <ngx-datatable-column prop="role" name="Role"></ngx-datatable-column>
              <ngx-datatable-column name="Updated By">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  <span class="updatename">{{data[rowIndex].updatedby}}</span>
                  <span class="updatedate"> {{data[rowIndex].updateddt}}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="status" name="Status" [sortable]="false">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  <ui-switch class="js-small" placement="bottom" ngbTooltip="Click to change the status" color="#03ADED"
                    switchColor="#fff" size="small" checked></ui-switch>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="updatedby" name="Action" [sortable]="false">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  <a placement="bottom" ngbTooltip="Click to edit the user " class="m-r-15 crm-action-edit text-primary"
                    (click)='editUsers()'>
                    <i class="fa fa-pencil"></i></a>
                  <a href="javascript:;" placement="bottom" ngbTooltip="Click to delete the user " class="crm-action-delete text-danger">
                    <i class="fa fa-trash"></i></a>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>