<div class="addeditpage">
  <div class="fixedheader">
    <div class="header-title m-b-15 pos-fixed">
      <div class="row">
        <div class="offset-md-6 col-md-3 col-sm-6 save-button text-right p-r-30">
          <button type="button" placement="bottom" [disabled]="savingAd" ngbTooltip="Click to save Advertisement"
            (click)="addAd()" class="btn btn-primary waves-effect m-r-10 text-capitalize">{{savingAd == true ?
            'Saving..':'Save'}}</button>
          <button type="button" placement="bottom" ngbTooltip="Go back" routerLink="/admin/advertisement" class="btn btn-inverse btn-primary waves-effect"><i
              class="fa fa-arrow-circle-left"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9 col-sm-9">
    <div class="row">
      <div class="col-md-12 col-sm-8 p-l-0">
        <form class="employee-form" [formGroup]="adForm">
          <div class="card tenants-page tenants-pages m-b-10 m-t-15">
            <div class="col-md-12 col-sm-12 p-t-10">
              <div class="form-group row required">
                <label class="col-md-3 col-sm-6 col-form-label text-right">Advertisement Name</label>
                <div class="col-md-9 col-sm-6">
                  <input formControlName="adname" type="text" class="form-control" placeholder="Advertisement Name">
                </div>
              </div>
              <div class="form-group row required">
                <label class="col-md-3 col-sm-6 col-form-label text-right">Location</label>
                <div class="col-md-9 col-sm-6">
                  <ng-select [allowClear]="true" formControlName="locationid" class="ng-select location-title"
                    placeholder="Select location" [options]="statelists">
                  </ng-select>
                </div>
              </div>
              <div class="form-group row required">
                <label class="col-md-3 col-sm-6 col-form-label text-right">Category</label>
                <div class="col-md-9 col-sm-6">
                  <ng-select [allowClear]="true" formControlName="categoryid" class="ng-select location-title"
                    placeholder="Select Category" [options]="categorylist">
                  </ng-select>
                </div>
              </div>
              <div class="form-group row required">
                <label class="col-md-3 col-sm-6 col-form-label text-right">URL</label>
                <div class="col-md-9 col-sm-6">
                  <input formControlName="url" type="text" class="form-control" placeholder="Url to visit">
                </div>
              </div>
              <div class="form-group row required">
                <label class="col-md-3 col-sm-6 col-form-label text-right">Start Date</label>
                <div class="col-md-9 col-sm-6">
                  <div class="input-group">
                    <input formControlName="startdate" class="form-control" placeholder="dd-mm-yyyy" ngbDatepicker #dp="ngbDatepicker">
                    <div class="input-group-append bg-default" (click)="dp.toggle()">
                      <span class="fa fa-calendar input-group-text"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row required">
                <label class="col-md-3 col-sm-6 col-form-label text-right">Expiry Date</label>
                <div class="col-md-9 col-sm-6">
                  <div class="input-group">
                    <input formControlName="expirydate" class="form-control" placeholder="dd-mm-yyyy" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append bg-default" (click)="d.toggle()">
                      <span class="fa fa-calendar input-group-text"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row ">
                <label class="col-md-3 col-sm-6 col-form-label text-right">Premium</label>
                <div class="col-md-9 col-sm-6">
                  <ui-switch class="js-small" color="$primary-color" formControlName="ispremium" switchColor="#fff" size="small"></ui-switch>
                </div>
              </div>
              <div class="form-group row required">
                <label class="col-md-3 col-sm-6 col-form-label text-right">Notes</label>
                <div class="col-md-9 col-sm-6">
                  <textarea rows="3" cols="3" class="form-control" formControlName="description"></textarea>
                </div>
              </div>
              <div *ngIf="adid">
                <div class="row required">
                  <label class="col-md-3 col-sm-6 col-form-label text-right">Status</label>
                  <div class="col-md-9 col-sm-6">
                    <ui-switch class="js-small" color="$primary-color" formControlName="status" switchColor="#fff" size="small"></ui-switch>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="header-title">
    <h2 class="add-tenant mb-3">Photos</h2>
  </div>
  <div class="col-md-9 col-sm-9 p-l-0">
    <div class="card">
      <app-image-uploader [editMode]="edit" (imageAdded)="imageAdded($event)" [disablePicker]="savingAd" [(extimage)]="existing_image"></app-image-uploader>
    </div>
  </div>
</div>
