.customer-floating-menu{
    button{
        width: 90%;
        margin-bottom: 10px;
        border-radius: 5px;
        height: 35px;
        line-height: 0px;
    }
}
.geo-map{
    // border-radius: 50%;
    border: 1px solid #d5d5d5;
    box-shadow: none;
    background: none;
}
.customer-menu{
    right: -25px;
} 