<div class="fixedheader">
    <div class="header-title m-b-15  pos-fixed">
        <div class="row">
            <div class="col-md-6 col-sm-6">
            </div>
            <div class="col-md-6 col-sm-6 save-button text-right p-r-30">
                <button type="button" placement="bottom" ngbTooltip="Click to save user" (click)="saveOrUpdateUser()" class="btn btn-primary waves-effect m-r-10 text-capitalize" [disabled]="adduser">{{adduser == true ? 'Saving' : 'Save'}}</button>
                <button type="button" placement="bottom" ngbTooltip="Go back" routerLink="/masters/users" class="btn btn-inverse btn-primary waves-effect"><i class="fa fa-arrow-circle-left"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 col-sm-12">
    <div class="row">
        <div class="col-md-8 col-sm-9 p-l-0 p-r-10">
            <div class="user-form">
                <div class="card tenants-page tenants-pages">
                    <div class="row p-t-10 p-b-5">
                        <div class="col-md-12 col-sm-12">
                            <form [formGroup]="userForm">
                                <div class="form-group row required">
                                    <label class="col-md-3 col-sm-6 col-form-label text-right">Full Name</label>
                                    <div class="col-md-6 col-sm-6 p-r-0">
                                        <input type="text" class="form-control" formControlName="fullname" placeholder="Full Name">
                                    </div>
                                </div>
                                <div class="form-group row required">
                                    <label class="col-md-3 col-sm-6 col-form-label text-right">Mobile No</label>
                                    <div class="col-md-6 col-sm-6 p-r-0">
                                        <input type="text" class="form-control" formControlName="mobileno" placeholder="Mobile No" [readonly]="userObj?.userid">
                                    </div>
                                </div>
                                <div class="form-group row required role-dropdown">
                                    <label class="col-md-3 col-sm-6 col-form-label text-right">Role</label>
                                    <div class="col-md-6 col-sm-6 p-r-0">
                                        <ng-select [ngClass]="'ng-select'" placeholder="Select Role" formControlName="rolename" [options]="roleList" [allowClear]="true">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="form-group row required">
                                    <label class="col-md-3 col-sm-6 col-form-label text-right">Password</label>
                                    <div class="col-md-6 col-sm-6 p-r-0">
                                        <input type="password" style="width:100% !important" class="form-control" value={{pwd}} formControlName="password" placeholder="Password">
                                        <span *ngIf='generatepwd'> Password : {{pwd}} </span>
                                    </div>
                                    <div class="col-md-3 col-sm-6 generate-button">
                                        <button type="button" placement="top" ngbTooltip="Click to Generate" (click)="generatepassword()" class="add-btn btn btn-primary waves-effect">Generate</button>
                                    </div>
                                </div>
                                <div *ngIf="userObj?.userid">
                                    <div class="form-group row required">
                                        <label class="col-md-3 col-sm-6 col-form-label text-right">Status</label>
                                        <div class="col-md-9 col-sm-6">
                                            <ui-switch class="js-small" formControlName="status" color="$primary-color" switchColor="#fff" size="small" checked></ui-switch>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-sm-6 col-form-label text-right">Last Login</label>
                                        <div class="col-md-6 col-sm-6 m-t-5">
                                            <span class="f-13">{{userObj.lastlogin|date:displayformat || '-'}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-sm-6 col-form-label text-right">Created</label>
                                        <div class="col-md-3 col-sm-6 m-t-5 pr-4">
                                            <span class="f-15">{{userObj.createdby}}</span><br>
                                            <span class="text-align f-12">{{userObj.createddt|date:displayformat}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-sm-6 col-form-label text-right">Updated</label>
                                        <div class="col-md-6 col-sm-6 m-t-5">
                                            <span class="f-15">{{userObj.updatedby}}</span><br>
                                            <span class="text-align f-12">{{userObj.updateddt|date:displayformat}}</span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>