.tenants-pages{
     .form-group {
         .users-list{
            color:#7B838A;
            }
        }
    }
.text-align{
    color:#bcc3d3;
    font-family: 'Montserrat', sans-serif;
}
.tenants-page{
    .form-group{
        .form-control{
            width:100% !important;
        }
    }
}
.f-13{
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}
.ng-select{
    width: 100%;
    div{
        border: #cccccc !important;
    }
}