.checkbox-column{
.border-checkbox-section {
    .border-checkbox-group {
    display: block;
    line-height: normal;
    margin-left: 15px;
    }
    .border-checkbox-label {
        padding-left:10px;
        height:auto;
        }
    }
}