<div class="modal-size">
    <app-modal-animation [modalID]="'categorymodal'" [modalClass]="'md-effect-7'">
        <h3 class="f-26">{{formTitle}}</h3>

        <div class="form-header">
            <form [formGroup]="categoryForm">
                <div class="row">
                    <div class="col-md-12 categoryimage">
                        <div class="form-group required">
                            <label>Business Category Name</label>
                            <input type="text" class="form-control" name="categoryname" formControlName="categoryname"
                                placeholder="Business Category Name">
                        </div>
                        <div class="form-group">
                            <label>Business Category Image</label>
                            <input #categoryimage type="file" class="image form-control" name="categoryimg"
                            accept='image/svg+xml'(change)="onFile($event)">
                        </div>
                        <img *ngIf="categoryfile!=undefined && categoryfile!=null" [src]="categoryfile" alt="">
                        <div class="form-group" *ngIf="categoryObj?.categoryid">
                            <label>Status <small>*</small></label>
                            <div class="form-radio">
                                <div class="radio radio-inline">
                                    <label>
                                        <input type="radio" class="form-control" value="Active"
                                            formControlName="status">
                                        <i class="helper"></i>Active
                                    </label>
                                </div>
                                <div class="radio radio-inline">
                                    <label>
                                        <input type="radio" class="form-control" value="Inactive"
                                            formControlName="status">
                                        <i class="helper"></i>Inactive
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" placement="bottom" (click)="saveOrUpdateCategory()"
                    ngbTooltip="Click to save business category"
                    class="btn pull-right btn-primary waves-effect m-b-10"
                    [disabled]="savecategory">{{savecategory == true ? 'Saving' : 'Save'}}</button>
            </form>
        </div>
        <button aria-label="Close" (click)="close('categorymodal')" class="md-close-btn"><i
                class="fa fa-close"></i></button>
    </app-modal-animation>
</div>