<div class="header-title addeditpage mb-3">
    <div class="row">
        <div class="col-md-10 col-sm-6">
            <input #dealerPaymentSearch type="text" class="header-search form-control col-md-5 col-sm-5 p-l-0 p-r-0 input-sm full-data-search" placeholder="Search here" (keyup)='search($event)' placement="bottom" ngbTooltip="Type here to search">
            <button type="button" class="btn search-close col-md-1 col-sm-1 p-l-0 p-r-0" (click)="dealerPaymentSearch.value='';search();"><i class="fa fa-close"></i></button>
        </div>
    </div>
</div>
<div class="header-block">
    <div class="table-header fixed-table-header">
        <div class="card p-r-15 p-l-15">
            <ngx-datatable #dealerpaymttable class="table data-table expandable" [rows]='dealerPayments' [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [limit]="10" [rowHeight]="'auto'" [reorderable]="false" [messages]="emptymessages">
                <ngx-datatable-column prop="paymentdate" name="Date" [resizeable]="false">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        <span>{{row.paymentdate|date:datedisplayformat}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="totalamount" name="Amount" headerClass="text-right" [cellClass]="'text-right table-padding'" [resizeable]="false">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        <span>{{row.totalamount|currency : 'INR' : true}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="paymentref" name="Reference" [resizeable]="false">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        <span>{{row.paymentref}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="paymentmode" name="Mode" [resizeable]="false">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        <span>{{row.paymentmode}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="paymentstatus" name="Status" [flexGrow]="0.9" headerClass="text-center" [cellClass]="'text-center'" [resizeable]="false">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        <span>{{row.paymentstatus}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Action" [sortable]="false" [flexGrow]="0.5" [cellClass]="'text-center'">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        <a (click)="viewPayment(row)" class="crm-action-edit text-primary">
                            <i class="fa fa-eye"></i></a>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>

<!-- View payment modal -->

<div class="modal-size addlocation employee-form">
    <app-modal-animation [modalID]="'paymentDetailModal'" [modalClass]="'md-effect-7'">
        <h3 class="f-26 p-t-10 p-b-10">View Payment Details</h3>
        <div class="form-header pt-2">
            <div class="col-md-12 tenants-page p-b-10">
                <div class="row p-t-10 p-b-5">
                    <label class="col-md-4 col-sm-6 col-form-label text-right">Reference :</label>
                    <div class="col-md-6 col-sm-6 m-t-5">
                        <span class="f-15">{{paymentDetail?.paymentref || '-'}}</span>
                    </div>
                </div>
                <div class="row p-t-10 p-b-5">
                    <label class="col-md-4 col-sm-6 col-form-label text-right">Payment Date :</label>
                    <div class="col-md-6 col-sm-6 m-t-5">
                        <span class="f-15">{{paymentDetail?.paymentdate |date:datedisplayformat || '-'}}</span>
                    </div>
                </div>
                <div class="row p-t-10 p-b-5">
                    <label class="col-md-4 col-sm-6 col-form-label text-right">Payment Mode :</label>
                    <div class="col-md-6 col-sm-6 m-t-5">
                        <span class="f-15">{{paymentDetail?.paymentmode || '-'}}</span>
                    </div>
                </div>
                <div class="row p-t-10 p-b-5">
                    <label class="col-md-4 col-sm-6 col-form-label text-right">Amount :</label>
                    <div class="col-md-6 col-sm-6 m-t-5">
                        <span class="f-15">{{paymentDetail?.amount|currency : 'INR' : true || '-'}}</span>
                    </div>
                </div>
                <div class="row p-t-10 p-b-5">
                    <label class="col-md-4 col-sm-6 col-form-label text-right">Donation :</label>
                    <div class="col-md-6 col-sm-6 m-t-5">
                        <span class="f-15">{{paymentDetail?.donation|currency : 'INR' : true || '-'}}</span>
                    </div>
                </div>
                <div class="row p-t-10 p-b-5">
                    <label class="col-md-4 col-sm-6 col-form-label text-right">Tax :</label>
                    <div class="col-md-6 col-sm-6 m-t-5">
                        <span class="f-15">{{paymentDetail?.taxes|currency : 'INR' : true || '-'}}</span>
                    </div>
                </div>
                <div class="row p-t-10 p-b-5">
                    <label class="col-md-4 col-sm-6 col-form-label text-right">Total Amount :</label>
                    <div class="col-md-6 col-sm-6 m-t-5">
                        <span class="f-15">{{paymentDetail?.totalamount|currency : 'INR' : true || '-'}}</span>
                    </div>
                </div>
            </div>
        </div>
        <button (click)="closeModal('paymentDetailModal')" aria-label="Close" class="md-close-btn"><i
                class="fa fa-close"></i></button>
    </app-modal-animation>
</div>
<!-- View Payment Details PopUp Starts -->
<div class="modal-size">
    <app-modal-animation [modalID]="'dealerpaymentmodal'" [modalClass]="'md-effect-7'">
        <h3 class="f-26">Payment details</h3>
        <form [formGroup]="addPaymentForm">
            <div class="form-header">
                <div class="col-md-12">
                    <div class="form-group required">
                        <label>Paid date</label>
                        <div class="input-group mb-0">
                            <input class="form-control" placeholder="dd-mm-yyyy" name="paymentdate" formControlName="paymentdt" ngbDatepicker #paymentdate="ngbDatepicker" [readonly]="viewPayment">
                            <div class="input-group-append bg-default" (click)="paymentdate.toggle()">
                                <span class="fa fa-calendar input-group-text"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label>Amount</label>
                        <input type="text" class="form-control" placeholder="Amount" formControlName="totalamount">
                    </div>
                    <div class="form-group required">
                        <label>Reference</label>
                        <input type="text" class="form-control" placeholder="Reference" formControlName="paymentref">
                    </div>
                    <div class="form-group required">
                        <label>Mode of payment</label>
                        <div class="input-box">
                            <ng-select [allowClear]="true" [ngClass]="'ng-select'" [options]="paymentMethods" formControlName="paymentmode" placeholder="Select payment methods">
                            </ng-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Remarks</label>
                        <textarea rows="3" cols="3" class="form-control" formControlName="remarks"></textarea>
                    </div>
                </div>
                <button type="button" placement="top" (click)="savePayment()" ngbTooltip="Click to save payment details" class="btn pull-right btn-primary waves-effect m-b-10 m-r-15">Save</button>
            </div>
        </form>
        <button (click)="closeModal('dealerpaymentmodal')" aria-label="Close" class="md-close-btn"><i
                class="fa fa-close"></i></button>
    </app-modal-animation>
</div>