<div *ngIf="loadingIndicator == false" class="page-body">
  <div class="row">
    <!-- order-card start -->
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-blue order-card">
        <div class="card-block">
          <h6 class="m-b-10 f-18">{{counts[0]?.label || '-'}}</h6>
          <h2 class="text-right"><i class="{{counts[0]?.icon}} f-left p-r-10 mt-1"></i><span class="f-20">{{counts[0]?.count || '-'}}</span></h2>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-green order-card">
        <div class="card-block">
          <h6 class="m-b-10 f-18">{{counts[2]?.label || '-'}}</h6>
          <h2 class="text-right"><i class="{{counts[2]?.icon}} f-left p-r-10 mt-1"></i>
            <span class="f-20">{{counts[2]?.count || '-'}}</span>
          </h2>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-yellow order-card">
        <div class="card-block">
          <h6 class="m-b-10 f-18">{{counts[1]?.label || '-'}}</h6>
          <h2 class="text-right"><i class="{{counts[1]?.icon}} f-left p-r-10 mt-1"></i><span class="f-20">{{counts[1]?.count || '-'}}</span></h2>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-pink order-card">
        <div class="card-block">
          <h6 class="m-b-10 f-18">{{counts[3]?.label || '-'}}</h6>
          <h2 class="text-right"><i class="{{counts[3]?.icon}} f-left p-r-10 mt-1"></i><span class="f-20">{{counts[3]?.count || '-'}}</span></h2>
        </div>
      </div>
    </div>
    <div [hidden]="this.userstoragedata.roleid == 3 || this.userstoragedata.roleid == 2" class="col-xl-8 col-md-12 m-t-10">
      <div class="card project-task">
        <div class="card-header p-t-20 p-b-0">
          <h5>Frequently searched categories</h5>
        </div>
        <div class="card-block">
          <div id="analytics-graph" style="height:365px"></div>
        </div>
        <div *ngIf="searchcounts.length === 0" class="text-center no-data">
          <div class="nodata-text nodata-image" style="margin-top: 10% !important;">
            <img class="hand-icon" src="assets/images/no-data.png">
            <h3>No Popular Categories Found</h3>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="this.userstoragedata.roleid == 3 || this.userstoragedata.roleid == 2" class="col-xl-8 col-md-12 m-t-10">
      <div class="card project-task">
        <div class="card-block task-contain p-b-10 p-t-20">
          <div class="row">
            <span class="col-md-9 pt-2"><b>Reviews</b></span>
            <div class="col-md-3">
              <button class="btn btn-inverse f-right px-2 py-1 m-b-10"
                (click)="getData(filterRange, 'getSearchCounts');"><i
                  class="ti-reload p-0 middle mr-0 f-16"></i></button>
            </div>
          </div>
          <div *ngIf="searchcounts.length !== 0">
            <div *ngFor="let scount of searchcounts" class="row">
              <div class="col-md-1">
                <h6 *ngIf="this.userstoragedata.roleid == 3" class="bg-c-blue d-inline-block text-center">
                  {{scount.consumer.fullname.substring(0,1)}}
                </h6>
                <h6 *ngIf="this.userstoragedata.roleid == 2" class="bg-c-blue d-inline-block text-center">
                  {{scount.bizname.substring(0,1)}}
                </h6>
              </div>
              <div class="col-md-11">
                <div class="f-left p-l-5">
                  <h5 class="f-14">
                    <span *ngIf="this.userstoragedata.roleid == 2">{{scount.bizname|titlecase}}</span>
                    <span *ngIf="this.userstoragedata.roleid == 3">{{scount.consumer.fullname|titlecase}}</span> 
                    <span class="f-12 text-muted">
                      {{scount.updateddt | date: displaydatetimeformat}}
                    </span>
                  </h5>
                </div>
                <div class="f-right">
                  <bar-rating class="star-rating" [(rate)]="scount.rating" [max]="5" [readOnly]="true"></bar-rating>
                </div>
                <p style="display: inline-block;" class="text-muted p-l-5 w-100 f-14">{{scount.comments}}</p>
              </div>
            </div>
          </div>
          <div *ngIf="searchcounts.length === 0" class="text-center no-data">
            <div class="nodata-text nodata-image" style="margin-top: 10% !important;">
              <img class="hand-icon" src="assets/images/no-data.png">
              <h3>No Reviews Found</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-xl-4 m-t-10">
      <div *ngIf="userstoragedata.roleid != 3" class="card project-task">
        <div class="card-block p-b-10 p-t-15">
          <div class="row">
            <span class="col-md-9 pt-2 card-header"><h5>Top Categories</h5></span>
            <div class="col-md-3">
              <button class="btn btn-inverse f-right px-2 py-1 m-b-10"
                (click)="getData(filterRange, 'getDashboardBizCounts');"><i
                  class="ti-reload p-0 middle mr-0 f-16"></i></button>
            </div>
          </div>
          <div *ngIf="bizcounts.length !== 0" class="table-responsive">
            <table class="table table-hover">
              <tbody>
                <tr *ngFor="let bcount of bizcounts">
                  <td class="py-1">
                    <div class="task-contain">
                      <h6 class="bg-c-blue d-inline-block text-center">{{bcount?.label.substring(0,1)}}</h6>
                      <p class="d-inline-block m-l-20">
                        {{bcount?.label.length>15 ? bcount?.label.substring(0,15) + '...': bcount?.label}}
                      </p>
                    </div>
                  </td>
                  <td>
                    <p class="d-inline-block m-r-20">{{( bcount?.count/counts[0]?.count ) *100 | number:'.0-0'}}%</p>
                    <div class="progress d-inline-block">
                      <div class="progress-bar bg-c-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                        [style.width]="(( bcount?.count/counts[0]?.count ) *100) + '%' ">
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="bizcounts.length === 0" class="text-center no-data">
            <div class="nodata-text nodata-image" style="left: 20%; margin-top: 30% !important;">
              <img class="hand-icon" style="height: 110px;" src="assets/images/no-data.png">
              <h3>No Top Categories Found</h3>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="userstoragedata.roleid == 3" class="card project-task">
        <div class="card-block p-b-10 p-t-20">
          <div class="row">
            <span class="col-md-9 pt-2"><b>Ratings</b></span>
            <div class="col-md-3">
              <button class="btn btn-inverse f-right px-2 py-1 m-b-10"
                (click)="getData(filterRange, 'getDashboardBizCounts');">
                <i class="ti-reload p-0 middle mr-0 f-16"></i></button>
            </div>
          </div>
          <div *ngIf="bizcounts.length !== 0" class="table-responsive">
            <table class="table table-hover star-rating">
              <tbody>
                <tr *ngFor="let bcount of bizdefaultrating">
                  <td>
                    <div class="task-contain">
                      <bar-rating class="star-rating" [(rate)]="bcount.label" [max]="5" [readOnly]="true"></bar-rating>
                    </div>
                  </td>
                  <td>
                    <p class="d-inline-block">{{bcount?.count}}</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="bizcounts.length === 0" class="text-center no-data">
            <div class="nodata-text nodata-image" style="left: 20%; margin-top: 20% !important;">
              <img class="hand-icon" style="height: 110px;" src="assets/images/no-data.png">
              <h3>No Ratings Found</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ngbDropdown class="pos-fixed" style="bottom:25px; right:25px;">
  <button class="btn btn-primary btn-round px-3" id="dropdownConfig" ngbDropdownToggle><i
      class="fa fa-filter f-14 m-0"></i></button>
  <div ngbDropdownMenu aria-labelledby="dropdownConfig">
    <a class="cursor-pointer dropdown-item" (click)="getData('today');">Today</a>
    <a class="cursor-pointer dropdown-item" (click)="getData('week');">This week</a>
    <a class="cursor-pointer dropdown-item" (click)="getData('month');">This month</a>
  </div>
</div>
<app-loader [loadingIndicator]="loadingIndicator"></app-loader>