.card{
    box-shadow: 0 0 25px -5px #9e9c9e;
}
.card:hover{
    box-shadow: 0 0 50px -5px #9e9c9e;
    cursor: pointer;
}
.card.project-task{
    height: 430px;
}
.table-responsive {
    overflow: hidden !important;
}