<div class="page-body">
  <div class="row">
    <!-- order-card start -->
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-blue order-card">
        <div class="card-block">
          <h6 class="m-b-20">Total no.of business</h6>
          <h2 class="text-right"><i class="ti-shopping-cart f-left"></i><span>486</span></h2>
          <p class="m-b-0">This Month<span class="f-right">351</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-green order-card">
        <div class="card-block">
          <h6 class="m-b-20">Total no.of dealers</h6>
          <h2 class="text-right"><i class="ti-tag f-left"></i><span>1641</span></h2>
          <p class="m-b-0">This Month<span class="f-right">213</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-yellow order-card">
        <div class="card-block">
          <h6 class="m-b-20">Total no.of consumers</h6>
          <h2 class="text-right"><i class="ti-reload f-left"></i><span>641</span></h2>
          <p class="m-b-0">This Month<span class="f-right">441</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-pink order-card">
        <div class="card-block">
          <h6 class="m-b-20">Total no.of payments</h6>
          <h2 class="text-right"><i class="ti-wallet f-left"></i><span>562</span></h2>
          <p class="m-b-0">This Month<span class="f-right">542</span></p>
        </div>
      </div>
    </div>
    <div class="col-xl-8 col-md-12">
      <div class="card">
        <div class="card-header">
          <h5>Analytics</h5>
        </div>
        <div class="card-block">
          <div id="analythics-graph" style="height:365px"></div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-xl-4">
      <div class="card project-task">
        <!-- <div class="card-header">
          <div class="card-header-left ">
             <h5>Business details</h5>
          </div>
        </div> -->
        <div class="card-block p-b-10">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Category Name</th>
                  <th>Business %</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="task-contain">
                      <h6 class="bg-c-blue d-inline-block text-center">SM</h6>
                      <p class="d-inline-block m-l-20">Supermarket</p>
                    </div>
                  </td>
                  <td>
                    <p class="d-inline-block m-r-20">80%</p>
                    <div class="progress d-inline-block">
                      <div class="progress-bar bg-c-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                        style="width:80%">
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="task-contain">
                      <h6 class="bg-c-pink d-inline-block text-center">AM</h6>
                      <p class="d-inline-block m-l-20">Automobile</p>
                    </div>
                  </td>
                  <td>
                    <p class="d-inline-block m-r-20">60%</p>
                    <div class="progress d-inline-block">
                      <div class="progress-bar bg-c-pink" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                        style="width:60%">
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="task-contain">
                      <h6 class="bg-c-yellow d-inline-block text-center">SM</h6>
                      <p class="d-inline-block m-l-20">Shopping mall</p>
                    </div>
                  </td>
                  <td>
                    <p class="d-inline-block m-r-20">90%</p>
                    <div class="progress d-inline-block">
                      <div class="progress-bar bg-c-yellow" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                        style="width:50%">
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="task-contain">
                      <h6 class="bg-c-green d-inline-block text-center">ES</h6>
                      <p class="d-inline-block m-l-20">Electronics</p>
                    </div>
                  </td>
                  <td>
                    <p class="d-inline-block m-r-20">40%</p>
                    <div class="progress d-inline-block">
                      <div class="progress-bar bg-c-green" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                        style="width:20%">
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="task-contain">
                      <h6 class="bg-c-blue d-inline-block text-center">CA</h6>
                      <p class="d-inline-block m-l-20">Cinema</p>
                    </div>
                  </td>
                  <td>
                    <p class="d-inline-block m-r-20">50%</p>
                    <div class="progress d-inline-block">
                      <div class="progress-bar bg-c-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                        style="width:50%">
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
