<div class="page-body">
  <div class="row">
    <!-- order-card start -->
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-blue order-card">
        <div class="card-block">
          <h6 class="m-b-20">Total no. of business</h6>
          <h2 class="text-right"><i class="ti-shopping-cart f-left p-r-10"></i><span>{{counts[0]?.count}}</span></h2>
          <a class="text-white text-underline" [routerLink]="['/business/customers']">View Business</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-green order-card">
        <div class="card-block">
          <h6 class="m-b-20">Total no. of dealers</h6>
          <h2 class="text-right"><i class="ti-tag f-left p-r-10"></i><span>{{counts[2]?.count}}</span></h2>
          <a class="text-white text-underline" [routerLink]="['/business/dealer']">View Dealers</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-yellow order-card">
        <div class="card-block">
          <h6 class="m-b-20">Total no. of consumers</h6>
          <h2 class="text-right"><i class="ti-reload f-left p-r-10"></i><span>{{counts[1]?.count}}</span></h2>
          <a class="text-white text-underline" [routerLink]="['/business/consumers']">View Consumers</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-pink order-card">
        <div class="card-block">
          <h6 class="m-b-20">Total no. of users</h6>
          <h2 class="text-right"><i class="ti-wallet f-left p-r-10"></i><span>{{counts[3]?.count}}</span></h2>
          <a class="text-white text-underline" [routerLink]="['/masters/users']">View Users</a>
        </div>
      </div>
    </div>
    <div class="col-xl-8 col-md-12">
      <div class="card">
        <div class="card-header p-t-20 p-b-0">
          <h5>Analytics</h5>
          <!-- <div class="col-md-3 col-sm-3 f-right form-group">
            <input class="form-control" type="month" />
          </div> -->
        </div>
        <div class="card-block">
          <div id="analytics-graph" style="height:365px"></div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-xl-4">
      <div class="card project-task">
        <div class="card-block p-b-10 p-t-20">
          <button class="btn btn-primary f-right px-2 py-1 m-b-10" (click)= "getDashboardBizCounts();"><i class="ti-reload p-0 middle m-x-10 f-16"></i> Refresh</button>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Category Name</th>
                  <th>Business %</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor= "let bcount of bizcounts">
                  <td>
                    <div class="task-contain">
                      <!-- <h6 class="bg-c-blue d-inline-block text-center">SM</h6> -->
                      <p class="d-inline-block m-l-20">{{bcount?.categoryname}}</p>
                    </div>
                  </td>
                  <td>
                    <p class="d-inline-block m-r-20">{{( bcount?.count/counts[0]?.count ) *100 | number:'.0-0'}}%</p>
                    <div class="progress d-inline-block">
                      <div class="progress-bar bg-c-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                        [style.width]="(( bcount?.count/counts[0]?.count ) *100) + '%' ">
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
              <div *ngIf= "bizcounts?.length == 0">
                <h5 class="text-right f-16">No data to display</h5>
              </div>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ngbDropdown class="pos-fixed" style="bottom:25px; right:25px;">
  <button class="btn btn-primary btn-round px-3" id="dropdownConfig" ngbDropdownToggle><i class="fa fa-filter f-14 m-0"></i></button>
  <div ngbDropdownMenu aria-labelledby="dropdownConfig">
    <a class="dropdown-item" href="javascript:;" (click)="getData(0);">Today</a>
    <a class="dropdown-item" href="javascript:;" (click)="getData(7);">This week</a>
    <a class="dropdown-item" href="javascript:;" (click)="getData(30);">This month</a>
  </div>
</div>