<form [formGroup]="dealerProfileForm">
    <div class="user-form">
        <div class="card tenants-page tenants-pages m-b-10 m-t-50">


            <div class="row p-t-10 p-b-5">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group row required">
                        <label class="col-md-3 col-sm-6 col-form-label text-right">Dealer Name</label>
                        <div class="col-md-9 col-sm-6">
                            <input type="text" class="form-control" placeholder="Dealer Name" formControlName="dealername">
                        </div>
                    </div>
                    <div class="form-group row required">
                        <label class="col-md-3 col-sm-6 col-form-label text-right">Mobile No</label>
                        <div class="col-md-9 col-sm-6">
                            <input type="text" class="form-control" placeholder="Mobile No" formControlName="mobileno">
                        </div>
                    </div>
                    <div class="form-group row required">
                        <label class="col-md-3 col-sm-6 col-form-label text-right">Contact person</label>
                        <div class="col-md-9 col-sm-6">
                            <input type="text" class="form-control" placeholder="Contact Person" formControlName="contactperson">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-sm-6 col-form-label text-right">Phone No</label>
                        <div class="col-md-9 col-sm-6">
                            <input type="text" class="form-control" placeholder="Phone No" formControlName="phoneno">
                        </div>
                    </div>
                    <div class="form-group row required">
                        <label class="col-md-3 col-sm-6 col-form-label text-right">Location</label>
                        <div class="col-md-9 col-sm-6">
                            <ng-select [ngClass]="'ng-select'" placeholder="Select a Location" formControlName="locationid" [options]="locationList" [allowClear]="true">
                            </ng-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-sm-6 col-form-label text-right">Address</label>
                        <div class="col-md-9 col-sm-6">
                            <textarea rows="4" cols="4" class="form-control" formControlName="address" placeholder="Address"></textarea>
                        </div>
                    </div>
                    <div class="form-group row required">
                        <label class="col-md-3 col-sm-6 col-form-label text-right">Commission (%)</label>
                        <div class="col-md-9 col-sm-6">
                            <input type="text" class="form-control" placeholder="Commission (%)" formControlName="commissionpercent">
                        </div>
                    </div>
                    <div class="form-group row last-paid">
                        <label class="col-md-3 col-sm-6 col-form-label text-right">Last Paid</label>
                        <div class="col-md-9 col-sm-6">
                            <div class="static-text">
                                <div class="form-control-static">{{date|date:date_displayformat}}</div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="dealerid" class="form-group row">
                        <label class="col-md-3 col-sm-6 col-form-label text-right">Status</label>
                        <div class="col-md-9 col-sm-6">
                            <ui-switch class="js-small" color="#03ADED" switchColor="#fff" formControlName="status" size="small"></ui-switch>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>