<div class="modal-size addlocation employee-form" [hidden]="hideLocation">
    <app-modal-animation [modalID]="'locationmodal'" [modalClass]="'md-effect-7'">
        <h3 class="f-26">{{formTitle}}</h3>
        <form [formGroup]="locationForm">
            <div class="form-header pt-2">
                <div class="col-md-12">
                    <div class="form-group required">
                        <label>Pincode</label>
                        <input type="text" class="form-control" placeholder="Pincode" formControlName="pincode">
                    </div>
                    <div class="form-group required">
                        <label>Area</label>
                        <input type="text" class="form-control" placeholder="Area" formControlName="area">
                    </div>
                    <div class="form-group required">
                        <label>State</label>
                        <div class="input-box">
                            <ng-select [ngClass]="'ng-select'" formControlName="state" [options]="stateList" placeholder="Select state"></ng-select>
                        </div>
                    </div>
                    <div class="form-group required location-page">
                        <label>City</label>
                        <input type="text" class="form-control" placeholder="City" formControlName="city">
                    </div>
                    <div *ngIf="locationObj?.locationid" class="form-group ">
                        <label>Status <small>*</small></label>
                        <div class="form-radio">
                            <div class="radio radio-inline">
                                <label>
                                    <input type="radio" value='Active' formControlName="status">
                                    <i class="helper"></i>Active
                                </label>
                            </div>
                            <div class="radio radio-inline">
                                <label>
                                    <input type="radio" value='InActive' formControlName="status">
                                    <i class="helper"></i>Inactive
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <button (click)="closeMyModal($event)" type="button" placement="top" (click)="saveOrUpdateLocation()"
                    ngbTooltip="Click to {{buttonTxt}} location" class="btn pull-right btn-primary waves-effect 
                    m-b-10 m-r-15"
                    [disabled]="validatingLocation">{{buttonTxt}}</button>
            </div>
        </form>
        <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn"><i class="fa fa-close"></i></button>
    </app-modal-animation>
</div>