<div class="header-title addeditpage">
  <div class="row">
    <div class="col-md-10 col-sm-6">
      <input #followerSearch type="text"
        class="header-search form-control col-md-5 col-sm-5 p-l-0 p-r-0 input-sm full-data-search"
        placeholder="Search here" (keyup)='search($event)' placement="bottom" ngbTooltip="Type here to search">
      <button type="button" class="btn search-close col-md-1 col-sm-1 p-l-0 p-r-0"
        (click)="followerSearch.value='';search();"><i class="fa fa-close"></i></button>
    </div>
  </div>
</div>
<div class="header-block m-t-15">
  <div class="table-header fixed-table-header">
    <div class="card p-r-15 p-l-15">
      <ngx-datatable #couponstable class="table data-table expandable" [rows]='followerList' [columnMode]="'flex'"
        [headerHeight]="50" [footerHeight]="50" [limit]="10" [rowHeight]="'auto'" [reorderable]="false"
        [messages]="emptymessages">
        <ngx-datatable-column prop="consumer.fullname" name="Name" [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <img class="userimg" [src]="row.consumer?.user?.profileimg?.docurl" alt="Follower Image">
            <span>{{row.consumer.fullname}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="consumer.mobileno" name="Mobile" [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <span>{{row.consumer.mobileno}}</span>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>