
// $font-stack: 'Montserrat', sans-serif;
// $primary-color: #231f20;  // title heading color and list table color //
// $primaryTextColor: #20aee3; // table list heading color //
// $border-color: #d3d5d8; // box border color //
// $button-border-color: #20aee3; // all buttons border color, close icon and sidebar title bottom color //
// $background:#20aee3;

// header section //
p{
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;  
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito',sans-serif;
    font-weight: 300;
}
.w-100{
    width:100% !important;
}
.m-t_5{
    margin-top:-5px !important;
}
.m-t-0{
    margin-top:0 !important;
}
.m-b-2{
    margin-bottom: 2px !important;
}
.m-b-5{
    margin-bottom:5px !important;
}
.m-b-10{
    margin-bottom:10px !important;
}
.m-b-15{
    margin-bottom:15px !important;
}
.m-t-5{
    margin-top:5px !important;
}
.m-t-60{
    margin-top:60px;
}
.m-t-90{
    margin-top:90px;
}
.m-r-30{
    margin-right:30px !important;
}
.img-responsive{
    max-width:100%;
    display: inline-block;
    height: auto;
}
textarea {
    overflow: auto;
    resize: none;
    width: 90%;
    max-width: 100%;
    height: 72px;
    font-size: 13px;
    line-height: 18px;
    color: #2b2f33;
    border: 1px solid #dfe8f1;
    -webkit-box-shadow: inset 1px 1px 3px #f6f6f6;
    -moz-box-shadow: inset 1px 1px 3px #f6f6f6;
    box-shadow: inset 1px 1px 3px #f6f6f6;
}
.img-fluid {
    max-width: 100%;
    height: 50px;
}

.pcoded{
    .pcoded-header{
        background: linear-gradient(to right, #3b4650, #647688);
    } 
}
.common-img-bg{
    background-size: cover;
    background-image: url(assets/images/bg.jpg);
    background-repeat: no-repeat;
}
.logo-text{
    img{
        margin-top: 16%;
    }
    h1{
        font-size: 38px;
        color: #fff;
        margin-top: 35px;
    }
}
.pcoded-main-container{
    // background: #F6F9FA;
    background: rgba(202, 202, 202, 0.1);
}

.main-body{
    .page-wrapper {
        padding: 15px 25px;
        transition: all ease-in 0.3s;
    }
}
.header-title{
    display: inline-block;
    width: 100%;
    h2{
        font-size: 20px;
        text-transform: capitalize;
        padding: 0;
        font-weight: 500;
        margin: 0 15px;
        color: #03ADED;
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
    }
    p{
        font-size: 13px;
        color: #414C59;
        text-transform: capitalize;
        margin-left: 16px;
    }
    .btn{
        font-size: 14px;
        padding: 5px 8px;
        border-radius: .25rem;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.5px;
        margin-top: 5px;
        i{
            margin-right: 0;
        }
    }
    input{
        background-image: -webkit-gradient(linear, left top, left bottom, from(#20aee3), to(#20aee3)), -webkit-gradient(linear, left top, left bottom, from(#b1b8bb), to(#b1b8bb));
        background-image: -webkit-linear-gradient(#20aee3, #20aee3), -webkit-linear-gradient(#b1b8bb, #b1b8bb);
        background-image: -o-linear-gradient(#20aee3, #20aee3), -o-linear-gradient(#b1b8bb, #b1b8bb);
        background-image: linear-gradient(#20aee3, #20aee3), linear-gradient(#b1b8bb, #b1b8bb);
        background-size: 0 2px, 100% 1px;
        background-repeat: no-repeat;
        background-position: center bottom, center calc(100% - 1px);
        background-color: transparent;
        -webkit-transition: background 0s ease-out;
        -o-transition: background 0s ease-out;
        transition: background 0s ease-out;
        float: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        margin-left: 0px;
        border:0;
        &:focus{
            outline: none;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#20aee3), to(#20aee3)), -webkit-gradient(linear, left top, left bottom, from(#b1b8bb), to(#b1b8bb));
            background-image: -webkit-linear-gradient(#20aee3, #20aee3), -webkit-linear-gradient(#b1b8bb, #b1b8bb);
            background-image: -o-linear-gradient(#20aee3, #20aee3), -o-linear-gradient(#b1b8bb, #b1b8bb);
            background-image: linear-gradient(#20aee3, #20aee3), linear-gradient(#b1b8bb, #b1b8bb);
            background-size: 100% 2px, 100% 1px;
            -webkit-box-shadow: none;
            box-shadow: none;
            -webkit-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
        }
    }
    .form-control{
        &:focus{
            border-color: transparent;
            box-shadow: none;
        }
    }
    select.form-control{
        background: transparent;
        border-bottom: 1px solid #b1b8bb;
        padding: 0.275rem 0.50rem !important;
        border-top: 0;
        border-left: 0;
        border-right: 0;

        &:focus{
            background: transparent;
            border-bottom: 1px solid #b1b8bb;
            padding: 0.275rem 0.50rem !important;
            border-top: 0;
            border-left: 0;
            border-right: 0;
        }
    }
    .add-tenant{
        margin-top: 5px;
        vertical-align: -webkit-baseline-middle;
        display: inline-block;
    }
    .fa-calendar{
        border-right: 0;
        background: #fff;
        color:#448aff;
        border-left: 0;
        border-top: 0;
        border-bottom: 1px solid #b1b8bb;
        border-radius: 0;
        height: 29px;
    }
    .header-search{
        &:focus{
            border:0;
        }
    }

}

.table-header{
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: none;
    margin-bottom: 0;

    .card-body {
        padding: 0.25rem 0.85rem;
    }
    &:hover{
        box-shadow: none;
    }
}
.datatable-header-cell[title="Status"]{
    text-align: center;
    max-width: 100%;
}

.datatable-header-cell[title="Action"]{
    text-align: center;
    max-width: 100%;
}
.table-right-align{
    .datatable-header-cell-label{
        padding-right: 10px;
    }
}
.table-header{
    .table{
        tr{
            border: 1px solid #d3d5d8;
            border-top: 0;
            border-right: 0;
            border-left: 0 !important;
            th{
                border: 0px solid #d3d5d8;
                color: #4b5056;
                padding: 10px 10px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size: 13px;
                &:first-child{
                    padding-left: 5px;
                }    
            }
        }
        td{
            border: 0px solid #d3d5d8;
            font-size: 13px;
            color: #67757c;
            padding: 3px 10px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            vertical-align: middle;
           
            &:first-child{
                padding-left: 5px;
            }    
        }
        tbody{
            tr:nth-of-type(odd) {
                background: #f9fafe;
            }
        }
    }
    .data-table{
        border:1px solid #fff;
        
     .datatable-header {
        border-bottom: 1px solid hsl(216, 6%, 84%);
        margin-left:-11px;
            .datatable-header-cell{
                border: 0px solid #d3d5d8;
                color: #4b5056;
                padding: 0px 10px 0 0;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size: 13px;
                width:100%;

                &:first-child{
                 padding-left: 12px;
            }
            .datatable-header-cell-label {
                padding: 0.75rem 15px .75rem 3px;
            }    
        }
    }
}

.datatable-body{
        .datatable-body-row{
            border-bottom:1px solid #d3d5d8;
            .datatable-body-cell{
                border: 0px solid #d3d5d8;
                font-size: 13px;
                color: #67757c;
                padding: 3px 10px;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                display: inline-block;
                vertical-align: top;
                width:100%;
                line-height: 31px;

            &:first-child{
                 padding-left: 5px;
            }
            .datatable-body-cell-label{
                span{
                    display: block;
                }
            }
        }
       
    }
       
}    
    .page-nav{
        border-bottom: 0 none !important;
        td{
            padding: 2px 0;
            .pagination-main {
                display: inline-block;
                margin-top: 5px;
            }
        }
    }
}

.pcoded{
    .pcoded-navbar{
        .pcoded-item{
            li{
                a{
                    font-size: 13px;
                }
            }
        }
    }
}

// modal scss //

.form-header{
    .form-group{
        margin-bottom: 10px;
        label{
            width:100%;
            margin-bottom: 3px;
            color: #231f20;
            font-weight: 600;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
        }
    }
    .form-radio {
        position: relative;
        margin-top: 4px;
        margin-bottom: 15px;
    }
}
.img-circle{
    width: 40px;
    height: 40px;
}
.updatename{
    display: inherit;
    line-height:16px;
}
.updatedate{
    color: #bcc3d3;
    font-size: 12px;
    line-height: 20px;
    display: inherit;
}

.required{
   label{
    &:after {
        content: "*";
        color: #ff5370;
        margin-left: 2px;
        font-size: 12px;
    }
   }
}

 .required1{
     small{
        color: #ff5370;
        margin-left: 2px;
        font-size: 12px;
     }
 }

.company-logo{
    top: 22.5%;
    .custom-file{
        font-weight: normal;
        height: auto;
        cursor: pointer;
    }
    .custom-file-input{
        height: calc(3.5rem + 2px);
        cursor: pointer;
    }
}

.role-input{
    label{
        display: inline;
    }
    input{
        width:90% !important;
    }
}
.addrole-table{
    tbody{
        td{
            padding: 10px 10px !important;
        }
    }
}
.js-small{
    vertical-align: -webkit-baseline-middle;
    display: inline-flex;
}
.import-btn{
    background: #e8a820;
    border-color: #e8a820;
    &:hover{
        background: #e8a820;
        border-color: #e8a820;
    }
}
.export-btn{
    background: #8bb410;
    border-color: #8bb410;
    &:hover{
        background: #8bb410;
        border-color: #8bb410;
    }
}

// tenants //
.tenants-page{
    background: #fff;
    .form-group{
        margin-bottom: 9px;
       .form-control{
             padding: 0.275rem 0.75rem;
             width:90%;
             max-width:100%;
       }
       input{
           width:90% !important;
           max-width:100%;
       }
    }
    .input-group{
        width:90%; 
        margin-bottom: 0;
    }
    label{
        font-weight: bold;
    }
    // .dropdown-menu.show {
    //     top: -220px !important;
    // }
}
select.form-control:not([size]):not([multiple]){
    height: auto !important;
}
.tenants-pages{
    padding: 10px 15px;
    .basic{
        color: #03ADED;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        border-bottom-width: 1px;
        border-bottom-style: dashed;
        border-color: #03ADED;
    }
    .form-group {
        .form-control{
            font-size: 13px;
            display: block;
            float: none;
            background: #fff;
            padding: 6px 12px;
            color: #2b2f33;
            border: 1px solid #dfe8f1;
            -webkit-box-shadow: inset 1px 1px 3px #f6f6f6;
            -moz-box-shadow: inset 1px 1px 3px #f6f6f6;
            box-shadow: inset 1px 1px 3px #f6f6f6;
        }
        input{
            margin-left: 0;
        }
        label {
            font-weight: bold;
            color: #3e4855;
        }
    }
    .payment-type{
        .radio-inline{
            margin-top:5px;
        }
    }
}
.plus-button{
    .btn-inverse{
         padding: 5px 12px;
         border: 1px solid #dfe8f1;
        i{
            margin-right:0;
        }
    }
    .btn-danger{
        padding: 5px 12px;
       i{
           margin-right:0;
       }
   }
   .btn-primary{
    padding: 5px 12px;
    margin-top: -1px;
   i{
       margin-right:0;
   }
}
}
button{
    &:focus{
        outline: none;
    }
}
.tenant-id{
    input{
        margin-bottom: 10px;
    }
}
.association-table{
    .form-group{
        margin-bottom: 0;
    }
}
// tenants //

// employee //

.employee-header{
    overflow: auto;
    height: 78vh;
}

.employee-profile{
    top: 8%;
    .custom-file{
        font-weight: normal;
        height: auto;
        cursor: pointer;
    }
    .custom-file-input{
        height: calc(3.5rem + 2px);
        cursor: pointer;
    }
}
.employee-page{
    width: 255px;
    max-width: 100%;
    display: inline-block;
    height: 74vh;
}
.user-page{
    width: 255px;
    max-width: 100%;
    display: inline-block;
    height: 78vh;
}
// employee //
.modal-size{
    .md-modal{
         max-width:500px;
    }
}

.save-button{
    position: fixed;
    right: 10px;
    z-index: 10;
    .btn{
        margin-top:0;
    }
}
.associations{
    display: inline-block;
    width: 100%;
}

 // product setup //
.product-setup{
    .card{
        .card-block{
            padding: 0;
            .color-accordion{
                .card{
                    border-top: 0;
                }
            }
        }
    }
   .card-body {
        padding: 5px 13px;
        padding-top: 10px !important;
    }
    .card-header {
        padding: 0 !important;
        a{
            font-size: 16px;
            font-weight: bold !important;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            display: inline-block;
            padding: 10px 17px !important;
            width: 100%;
        }
    }
    #uom{
        .table-responsive{
            table{
                width:96%;
                margin-bottom: 0;
            }
        }
    }
    #brand{
        .table-responsive{
            table{
                width:96%;
                margin-bottom: 0;
            }
        }
    }
    #category{
        .table-responsive{
            table{
                width:97%;
                margin-bottom: 0;
            }
        }
    }
    .add-button{
       .btn-primary{
            width: 30px;
            height: 30px;
            line-height: 25px;
            font-size: 12px;
            margin-top: 5px;
            i{
                margin-right: 0;
            }
       }
    }
    .form-group{
        small{
            color: #ff5370;
            font-size: 12px;
            font-weight: bold;
        }
    }
    .table-header{
        .table-responsive{
            table{
                margin-bottom: 0;
            }
        }
    }
}
.form-group{
    small{
        color: #ff5370;
        font-size: 12px;
        font-weight: bold;
    }
}

// product setup //

// location //
.region-section{
    span{
        display: inline !important;
        font-size: 16px !important;
    }
    .crm-action-edit{
        i{
            color: #2f3d4a;
            &:hover{
                color: #fff;
            }
        }
    }
    ::placeholder{
        color:#fff;
    }
     input:focus::placeholder{
           color:#97A1A7 ;
    }
}

// fixed header //
.fixedheader{
         display:inline;
    .pos-fixed{
        width:77%;
        max-width: 100%;
        z-index: 9;
    }
}
// fixed header //

.generate-button{
    .btn{
        padding: 7px 25px;
    }
}
.select-input{
    .bootstrap{
        padding: 0px !important;
        height: 32px; 
        border: 1px solid #CCCCCC !important;
        border-radius: 3px;
    } 
    input{
        height: 30px !important; 
    }
    tag-input-form{
        padding: 0px !important;
    }
}
.donation-header{
    .input-box{
        .tag-select {
            .ng2-tag-input{
                padding:0px !important;
                border: 1px solid #DFE8F1 !important;
                margin-right:58px;
            }
        }
        ::placeholder{
            font-size:13px;
            padding-right:10px;
            color:#6C757D;
        }
        .ng-pristine{
            .ng2-tag-input__text-input{
                padding:0;
            }
        }
    }
}
.fixed-table-header{
    table{
        thead{
            display: block;
            // margin-right: 10px;
        }
        tbody{
            display: block;
            overflow: auto;
            height: 62vh;
        }
    }
     .datatable-header{
         display: block;
    }
    .datatable-body{
        display: block;
        overflow: auto;
        height: 62vh !important;
    }
     .card-block {
        padding: 0px 5px 0px 15px;
     }
}
.addlocation{
    .form-group{
        .tag-select{
            .ng-pristine{
                font-size: 14px !important;
                font-family: inherit !important;
                color: #3b4650;
            }
        }
    }
}
.tag-wrapper{
    height: 15px;
    line-height: 15px;
    padding-left: 3px;
    .ng-star-inserted{
        svg{
            margin-top:-5px;
        }
    }
}

@media screen and (max-width: 900px) {
    div {
        position: relative !important;
        right: 0px !important;
    }
}
#pcoded{
    &[vertical-nav-type="offcanvas"] {
        .header-title {
            width: 96%;
        }
    }
}
.addeditpage{
    .fixedheader{
        .header-title{
            background-color: #efefef;
            margin: -15px -15px 0px -15px;
            padding: 15px;
            width: 100%;
        }
    }
    .photo-close-btn {
        border: 0;
        position: absolute;
        top: -5px;
        right: 5px;
        cursor: pointer;
        background: transparent;
        .fa-close{
            border-radius: 50%;
            width: 25px;
            height: 25px;
            color: #fff;
            vertical-align: middle;
            line-height: 22px;
        }
    }
}
.floating-alert{
    .alert{
       margin-right: 33rem;
       margin-top:50px;
       font-size:14px;
       padding:12px 32px;
   }
   .alert-success{
    background-color:#2ed8b6;
    color:#fff;
    border-color:#2ed8b6;
    }
    .alert-danger{
        background-color:#FF5371;
        color:#fff;
        border-color:#FF5371;
        font-size:15px;
    }
    .alert-info{
        background-color:#00bcd4;
        border-color:#00bcd4;
        color:#fff;
        font-size:15px;
    }
    .alert-warning{
        background-color:#FFB64D;
        border-color:#FFB64D;
        color:#fff;
        font-size:15px;
    }
    .close{
        margin-top:0px;
        font-size:18px;
        margin-left:22px;
        color:#fff;
    }
}

    select.form-control:not([size]):not([multiple]){
    height: 38px !important;
}
.tag-chips {
    .ng2-tag-input{
        width: 90%;
        line-height: 24px;
        border: 1px solid #dfe8f1 !important;
        box-shadow: inset 1px 1px 3px #f6f6f6;
    }
}
.btn-inverse-active{
    background-color: #435769 !important;
    border-color: #435769;
    box-shadow: none;
    color: #fff;
}
.fa{
    cursor:pointer;
}
.dealer-tab-menu{
    .nav-tabs{
        top: 44%;
    }
}
.business-tab{
    .tab-content{
        position: static !important;
        display: contents !important;
    }
    .nav-tabs{
        position: fixed;
        bottom: 75px;
        right: 0px;
        min-width: 185px !important;
        li{
            border-radius: 50px 0px 0px 50px;
        }
    }
    .nav-item{
        .nav-link{
            margin: 0px 0px 5px 0px !important;
            border: 1px solid #435769;
            border-radius: 50px 0px 0px 50px;
        }
        .nav-link.active{
            background: #cccccc;
            border-radius: 50px 0px 0px 50px;
            color: #fff;
            &:hover{
                border-right: 4px solid #03ADED!important;
            }
        }
    } 
}
.table-padding{
    .datatable-body-cell-label{
        padding: 3px 15px !important;
    }
}
.placeholder-text{
    ::placeholder{
        font-size:13px;
        padding-right:10px;
        color:#6C757D;
    }
 }
.header-title.addeditpage{
    width: 100%;
}
#pcoded{
    &[vertical-nav-type="offcanvas"] {
        .header-title.addeditpage {
            width: 100%;
        }
    }
} 
.f-w-300{
    font-weight: 300 !important;
}