
$font-stack: 'ProximaNovaSemibold', sans-serif;
// $primary-color: #03ADED;  // title heading color and list table color //
$border-color: #004dff; // box border color //
$button-border-color: #004dff; // all buttons border color, close icon and sidebar title bottom color //
$primary-text-color: #2f3d4a; // table header color //
$white-txt: #ffffff;
$danger-color: #FF5370; // alert error //
$success-color:#2ed8b6; // alert success //
$warning-color:#FFB64D; // alert warning //
$info-color :#00bcd4;  // alert info //
$primary-color: #004dff;
$background: -webkit-linear-gradient(0deg, rgb(0, 77, 255) 50%, rgb(88, 139, 255) 100%);

@font-face {
	font-family: 'ProximaNovaRegular';
	src: url('/assets/fonts/ProximaNovaRegular.eot');
    src: url('/assets/fonts/ProximaNovaRegular.eot') format('embedded-opentype'), 
    url('/assets/fonts/ProximaNovaRegular.woff2') format('woff2'), 
    url('/assets/fonts/ProximaNovaRegular.woff') format('woff'), 
    url('/assets/fonts/ProximaNovaRegular.ttf') format('truetype'), 
    url('/assets/fonts/ProximaNovaRegular.svg#ProximaNovaRegular') format('svg');
}

@font-face {
	font-family: 'ProximaNovaSemibold';
	src: url('/assets/fonts/ProximaNovaSemibold.eot');
    src: url('/assets/fonts/ProximaNovaSemibold.eot') format('embedded-opentype'), 
    url('/assets/fonts/ProximaNovaSemibold.woff2') format('woff2'), 
    url('/assets/fonts/ProximaNovaSemibold.woff') format('woff'), 
    url('/assets/fonts/ProximaNovaSemibold.ttf') format('truetype'), 
    url('/assets/fonts/ProximaNovaSemibold.svg#ProximaNovaSemibold') format('svg');
}

@font-face {
	font-family: 'ProximaNovaBold';
	src: url('/assets/fonts/ProximaNovaBold.eot');
    src: url('/assets/fonts/ProximaNovaBold.eot') format('embedded-opentype'), 
    url('/assets/fonts/ProximaNovaBold.woff2') format('woff2'), 
    url('/assets/fonts/ProximaNovaBold.woff') format('woff'), 
    url('/assets/fonts/ProximaNovaBold.ttf') format('truetype'), 
    url('/assets/fonts/ProximaNovaBold.svg#ProximaNovaSemibold') format('svg');
}

// header section //
.btn-inverse {
    background: #2f3d4a !important;
    border-color: #2f3d4a !important;
    color: #fff;
    border-radius: 2px;
}
.btn-primary{
    border-radius: 2px;
    // box-shadow: 0px 5px 25px 0 rgba(0, 0, 0, 0.25);
}

p{
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;  
}
h1, h2, h3, h4, h5, h6 {
    font-family: $font-stack;
    font-weight: 300;
}
.w-100{
    width:100% !important;
}
.m-t_5{
    margin-top:-5px !important;
}
.m-t-20{
    margin-top:20px;
}
.m-t-25{
    margin-top:25px;
}
.m-t-15{
    margin-top:15px;
}
.m-t-35{
    margin-top:35px;
}
.m-t-0{
    margin-top:0 !important;
}
.m-b-0{
    margin-bottom: 0 !important;
}
.m-b-2{
    margin-bottom: 2px !important;
}
.m-b-5{
    margin-bottom:5px !important;
}
.m-b-10{
    margin-bottom:10px !important;
}
.m-b-15{
    margin-bottom:15px !important;
}
.m-t-5{
    margin-top:5px !important;
}
.m-l-0{
    margin-left: 0 !important;
}
.m-l-25{
    margin-left: 25px;
}
// .m-t-60{
//     margin-top:60px;
// }
.m-t-90{
    margin-top:90px;
}
.m-r-15{
    margin-right: 15px !important;
}
.m-r-30{
    margin-right:30px !important;
}
.img-responsive{
    max-width:100%;
    display: inline-block;
    height: auto;
}
.checked{
    background: $background !important;
    border-color: $border-color !important;
}

textarea {
    overflow: auto;
    resize: none;
    width: 90%;
    max-width: 100%;
    height: 72px;
    font-size: 13px;
    line-height: 18px;
    color: #2b2f33;
    border: 1px solid #dfe8f1;
    -webkit-box-shadow: inset 1px 1px 3px #f6f6f6;
    -moz-box-shadow: inset 1px 1px 3px #f6f6f6;
    box-shadow: inset 1px 1px 3px #f6f6f6;
}
.img-fluid {
    max-width: 100%;
    height: 50px;
}

.pcoded{
    .pcoded-header{
        background: linear-gradient(to right, #3b4650, #647688);
    } 
}
.common-img-bg{
    background-size: cover;
    background-image: url(assets/images/bg.jpg);
    background-repeat: no-repeat;
}
.logo-text{
    img{
        margin-top: 16%;
    }
    h1{
        font-size: 38px;
        color:  $white-txt;;
        margin-top: 35px;
    }
}
.pcoded-main-container{
    background: rgba(202, 202, 202, 0.1);
}

.main-body{
    .page-wrapper {
        padding: 15px 25px;
        transition: all ease-in 0.3s;
    }
}
.header-title{
    display: inline-block;
    width: 100%;
    h2{
        font-size: 20px;
        text-transform: capitalize;
        padding: 0;
        font-weight: 500;
        margin: 0 0 0 15px;
        color: $primary-color;
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
    }
    p{
        font-size: 13px;
        color: #414C59;
        text-transform: capitalize;
        margin-left: 16px;
        margin-bottom: 10px;
    }

    @media only screen and(max-width: 1300px) {
        .add-btn.btn{
            padding: 5px 6px !important;
        }
     }
    .btn{
        font-size: 14px;
        padding: 5px 7px;
        text-transform: uppercase !important;
        font-weight: bold;
        letter-spacing: 0.2px;
        margin-top: 5px;
        line-height: normal;
        
        i{
            margin-right: 0;
        }
    }
    input{
        background-image: -webkit-gradient(linear, left top, left bottom, from($primary-color), to($primary-color)), -webkit-gradient(linear, left top, left bottom, from(#b1b8bb), to(#b1b8bb));
        background-image: -webkit-linear-gradient($primary-color, $primary-color), -webkit-linear-gradient(#b1b8bb, #b1b8bb);
        background-image: -o-linear-gradient($primary-color, $primary-color), -o-linear-gradient(#b1b8bb, #b1b8bb);
        background-image: linear-gradient($primary-color, $primary-color), linear-gradient(#b1b8bb, #b1b8bb);
        background-size: 0 2px, 100% 1px;
        background-repeat: no-repeat;
        background-position: center bottom, center calc(100% - 1px);
        background-color: transparent;
        -webkit-transition: background 0s ease-out;
        -o-transition: background 0s ease-out;
        transition: background 0s ease-out;
        float: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        margin-left: 0px;
        padding-left: 12px;
        width: 100% !important;
        border:0;
        &:focus{
            outline: none;
            background-image: -webkit-gradient(linear, left top, left bottom, from($primary-color), to($primary-color)), -webkit-gradient(linear, left top, left bottom, from(#b1b8bb), to(#b1b8bb));
            background-image: -webkit-linear-gradient($primary-color, $primary-color), -webkit-linear-gradient(#b1b8bb, #b1b8bb);
            background-image: -o-linear-gradient($primary-color, $primary-color), -o-linear-gradient(#b1b8bb, #b1b8bb);
            background-image: linear-gradient($primary-color, $primary-color), linear-gradient(#b1b8bb, #b1b8bb);
            background-size: 100% 2px, 100% 1px;
            -webkit-box-shadow: none;
            box-shadow: none;
            -webkit-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
        }
    }
    .form-control{
        &:focus{
            border-color: transparent;
            box-shadow: none;
        }
    }
    select.form-control{
        background: transparent;
        border-bottom: 1px solid #b1b8bb;
        padding: 0.275rem 0.50rem !important;
        border-top: 0;
        border-left: 0;
        border-right: 0;

        &:focus{
            background: transparent;
            border-bottom: 1px solid #b1b8bb;
            padding: 0.275rem 0.50rem !important;
            border-top: 0;
            border-left: 0;
            border-right: 0;
        }
    }
    .add-tenant{
        margin-top: 5px;
        vertical-align: -webkit-baseline-middle;
        display: inline-block;
    }
    .fa-calendar{
        border-right: 0;
        background: $white-txt;;
        color:#448aff;
        border-left: 0;
        border-top: 0;
        border-bottom: 1px solid #b1b8bb;
        border-radius: 0;
        height: 29px;
    }
    .header-search{
        &:focus{
            border:0;
        }
    }
   

}

.table-header{
    min-width: 0;
    word-wrap: break-word;
    background-color: $white-txt;;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: none;
    margin-bottom: 0;

    .card-body {
        padding: 0.25rem 0.85rem;
    }
    &:hover{
        box-shadow: none;
    }
}

.table-right-align{
    .datatable-header-cell-label{
        padding-right: 10px;
    }
}
.table-header{
    .table{
        tr{
            border: 1px solid #d3d5d8;
            border-top: 0;
            border-right: 0;
            border-left: 0 !important;
            th{
                border: 0px solid #d3d5d8;
                color: $primary-text-color;
                padding: 10px 10px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size: 13px;
                &:first-child{
                    padding-left: 5px;
                }    
            }
        }
        td{
            border: 0px solid #d3d5d8;
            font-size: 13px;
            color: #67757c;
            padding: 3px 10px;
            font-family: $font-stack, sans-serif;
            font-weight: 500;
            vertical-align: middle;
           
            &:first-child{
                padding-left: 5px;
            }    
        }
        tbody{
            tr:nth-of-type(odd) {
                background: #f9fafe;
            }
        }
    }
    .data-table{
        border:1px solid $white-txt;;
        
     .datatable-header {
        border-bottom: 1px solid hsl(216, 6%, 84%);
        margin-left:0px;
            .datatable-header-cell{
                border: 0px solid #d3d5d8;
                color: $primary-text-color;
                padding: 0px 10px 0 0;
                font-family: 'ProximaNovaBold', sans-serif;
                font-weight: bold;
                font-size: 15px;
                width:100%;

                &:first-child{
                 padding-left: 0px;
            }  
        }
    }
}

.datatable-body{
        .datatable-body-row{
            border-bottom:1px solid #d3d5d8;
            .datatable-body-cell{
                border: 0px solid #d3d5d8;
                font-size: 14px;
                color: #2f3d4a;
                padding: 3px 10px;
                font-family: 'ProximaNovaRegular', sans-serif;
                font-weight: normal;
                display: inline-block;
                vertical-align: middle;
                width:100%;
                line-height: 26px;

            &:first-child{
                padding-left: 12px;
            }
            .datatable-body-cell-label{
                span{
                    display: block;
                }
            }
        }
       
    }
       
}    
    .page-nav{
        border-bottom: 0 none !important;
        td{
            padding: 2px 0;
            .pagination-main {
                display: inline-block;
                margin-top: 5px;
            }
        }
    }
}

.pcoded{
    .pcoded-navbar{
        .pcoded-item{
            li{
                a{
                    font-size: 14px;
                }
            }
        }
    }
}

// modal scss //

.form-header{
    .form-group{
        margin-bottom: 10px;
        label{
            width:100%;
            margin-bottom: 3px;
            color: #231f20;
            font-weight: 600;
            // font-family: 'Montserrat', sans-serif;
            font-family: 'ProximaNovaBold';
            font-size: 14px;
        }
    }
    .form-radio {
        position: relative;
        margin-top: 4px;
        margin-bottom: 15px;
    }
}
.img-circle{
    width: 40px;
    height: 40px;
}
.updatename{
    display: inherit;
    line-height:16px;
}
.updatedate{
    font-size: 12px ;
    line-height: 16px;
}
.table{
    margin-bottom: 10px;
}
.required{
   label{
    &:after {
        content: "*";
        color: #ff5370;
        margin-left: 2px;
        font-size: 12px;
    }
   }
}

 .required1{
     small{
        color: #ff5370;
        margin-left: 2px;
        font-size: 12px;
     }
 }

.company-logo{
    top: 22.5%;
    .custom-file{
        font-weight: normal;
        height: auto;
        cursor: pointer;
    }
    .custom-file-input{
        height: calc(3.5rem + 2px);
        cursor: pointer;
    }
}

.role-input{
    label{
        display: inline;
    }
    input{
        width:90% !important;
    }
}
.addrole-table{
    tbody{
        td{
            padding: 10px 10px !important;
        }
    }
}
.js-small{
    vertical-align: -webkit-baseline-middle;
    display: inline-flex;
}
.import-btn{
    background: #e8a820;
    border-color: #e8a820;
    &:hover{
        background: #e8a820;
        border-color: #e8a820;
    }
}
.export-btn{
    background: #8bb410;
    border-color: #8bb410;
    &:hover{
        background: #8bb410;
        border-color: #8bb410;
    }
}

// tenants //
.tenants-page{
    background: $white-txt;;
    .form-group{
        margin-bottom: 9px;
       .form-control{
             padding: 0.275rem 0.75rem;
             width:90%;
             max-width:100%;
       }
       input{
           width:90% !important;
           max-width:100%;
       }
    }
    .input-group{
        width:90%; 
        margin-bottom: 0;
    }
    @media only screen and(max-width: 1350px) {
        .input-group{
            width:89%; 
        }
     }
    label{
        font-weight: bold;
    }
}
select.form-control:not([size]):not([multiple]){
    height: auto !important;
}
.tenants-pages{
    padding: 10px 15px;
    .basic{
        color: $primary-color;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        border-bottom-width: 1px;
        border-bottom-style: dashed;
        border-color: $primary-color;
    }
    .form-group {
        .form-control{
            font-size: 13px;
            display: block;
            float: none;
            background: $white-txt;;
            padding: 6px 12px;
            color: #2b2f33;
            border: 1px solid #cccccc;
            -webkit-box-shadow: inset 1px 1px 3px #f6f6f6;
            -moz-box-shadow: inset 1px 1px 3px #f6f6f6;
            box-shadow: inset 1px 1px 3px #f6f6f6;
        }
        input{
            margin-left: 0;
        }
        label {
            font-weight: bold;
            color: #3e4855;
        }
    }
    .payment-type{
        .radio-inline{
            margin-top:5px;
        }
    }
}
.plus-button{
    .btn-inverse{
         padding: 5px 12px;
         border: 1px solid #dfe8f1;
        i{
            margin-right:0;
        }
    }
    .btn-danger{
        padding: 5px 12px;
       i{
           margin-right:0;
       }
   }
   .btn-primary{
        padding: 5px 12px;
        margin-top: -1px;
        i{
            margin-right:0;
        }
    }
}
button{
    &:focus{
        outline: none;
    }
}
.tenant-id{
    input{
        margin-bottom: 10px;
    }
}
.association-table{
    .form-group{
        margin-bottom: 0;
    }
}
// tenants //

// employee //

.employee-header{
    overflow: auto;
    height: 78vh;
}

.employee-profile{
    top: 8%;
    .custom-file{
        font-weight: normal;
        height: auto;
        cursor: pointer;
    }
    .custom-file-input{
        height: calc(3.5rem + 2px);
        cursor: pointer;
    }
}
.employee-page{
    width: 255px;
    max-width: 100%;
    display: inline-block;
    height: 74vh;
}
.user-page{
    width: 255px;
    max-width: 100%;
    display: inline-block;
    height: 78vh;
}
// employee //
.modal-size{
    .md-modal{
         max-width:500px;
    }
}

.save-button{
    position: fixed;
    right: 10px;
    z-index: 10;
    .btn{
        margin-top:0;
    }
}
.associations{
    display: inline-block;
    width: 100%;
}

 // product setup //
.product-setup{
    .card{
        .card-block{
            padding: 0;
            .color-accordion{
                .card{
                    border-top: 0;
                }
            }
        }
    }
   .card-body {
        padding: 5px 13px;
        padding-top: 10px !important;
    }
    .card-header {
        padding: 0 !important;
        a{
            font-size: 16px;
            font-weight: bold !important;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            display: inline-block;
            padding: 10px 17px !important;
            width: 100%;
        }
    }
    #uom{
        .table-responsive{
            table{
                width:96%;
                margin-bottom: 0;
            }
        }
    }
    #brand{
        .table-responsive{
            table{
                width:96%;
                margin-bottom: 0;
            }
        }
    }
    #category{
        .table-responsive{
            table{
                width:97%;
                margin-bottom: 0;
            }
        }
    }
    .add-button{
       .btn-primary{
            width: 30px;
            height: 30px;
            line-height: 25px;
            font-size: 12px;
            margin-top: 5px;
            i{
                margin-right: 0;
            }
       }
    }
    .form-group{
        small{
            color: #ff5370;
            font-size: 12px;
            font-weight: bold;
        }
    }
    .table-header{
        .table-responsive{
            table{
                margin-bottom: 0;
            }
        }
    }
}
.form-group{
    small{
        color: #ff5370;
        font-size: 12px;
        font-weight: bold;
    }
}

// product setup //

// location //
.region-section{
    span{
        display: inline !important;
        font-size: 16px !important;
    }
    .crm-action-edit{
        i{
            color: #2f3d4a;
            &:hover{
                color: $white-txt;;
            }
        }
    }
    ::placeholder{
        color:$white-txt;;
    }
     input:focus::placeholder{
           color:#97A1A7 ;
    }
}

// fixed header //
.fixedheader{
    display: block;
    width: 97%;
    margin: 0 15px;
    .pos-fixed{
        max-width: 100%;
        z-index: 9;
        display: contents;
    }
}
// fixed header //

.generate-button{
    .btn{
        padding: 7px 25px;
    }
}
.select-input{
    .bootstrap{
        padding: 0px !important;
        height: 32px; 
        border: 1px solid #CCCCCC !important;
        border-radius: 3px;
    } 
    input{
        height: 30px !important; 
    }
    tag-input-form{
        padding: 0px !important;
    }
}
.donation-header{
    .input-box{
        .tag-select {
            .ng2-tag-input{
                padding:0px !important;
                border: 1px solid #cccccc !important;
                box-shadow: inset 1px 1px 3px #f6f6f6;
                width: 90%;
            }
        }
        ::placeholder{
            font-size:13px;
            padding-right:10px;
            color:#6C757D;
        }
        .ng-pristine{
            .ng2-tag-input__text-input{
                padding:0;
            }
        }
    }
}
.fixed-table-header{
    table{
        thead{
            display: block;
            // margin-right: 10px;
        }
        tbody{
            display: block;
            overflow: auto;
            height: 62vh;
        }
    }
     .datatable-header{
         display: block;
    }
    .datatable-body{
        display: block;
    }
     .card-block {
        padding: 0px 15px 0px 15px;
     }
}

.tag-wrapper{
    padding-left: 3px;
    .ng-star-inserted{
        svg{
            margin-top:-5px;
        }
    }
}

@media screen and (max-width: 900px) {
    div {
        position: relative !important;
        right: 0px !important;
    }
}
#pcoded{
    &[vertical-nav-type="offcanvas"] {
        .header-title {
            width: 96%;
        }
    }
}
body[themebg-pattern="pattern1"]{
    background-color: #EFF1F6 !important;
}
.addeditpage{
    .fixedheader{
        .header-title{
            background-color: #efefef;
            margin: -15px -15px 0px -15px;
            padding: 15px;
            width: 100%;
        }
    }
    .photo-close-btn {
        border: 0;
        position: absolute;
        top: -5px;
        right: 5px;
        cursor: pointer;
        background: transparent;
        .fa-close{
            border-radius: 50%;
            width: 25px;
            height: 25px;
            color: $white-txt;;
            vertical-align: middle;
            line-height: 22px;
        }
    }
}
.floating-alert{
    z-index: 10000 !important;
    display: inline-block;
    left: 2%;
    width: 380px;
    margin: 0 auto;
    margin-top: -10px;
    max-width: 100%;

    .alert{
       font-size:14px;
       padding:12px 15px;
       margin-bottom: 5px;
   }
   .alert-success{
    background-color: $success-color;
    color:$white-txt;;
    border-color:$success-color;
    }
    .alert-danger{
        background-color:$danger-color;
        color:$white-txt;;
        border-color:$danger-color;
        font-size:15px;
    }
    .alert-info{
        background-color: $info-color;
        border-color: $info-color;
        color:$white-txt;;
        font-size:15px;
    }
    .alert-warning{
        background-color: $warning-color;
        border-color: $warning-color;
        color:$white-txt;
        font-size:15px;
    }
    .close{
        margin-top:0px;
        font-size:18px;
        margin-left:22px;
        color:$white-txt;;
    }
}

    select.form-control:not([size]):not([multiple]){
    height: 38px !important;
}
.tag-chips {
    delete-icon {
        svg{
            height: 30px !important;
        }
    }
    .ng2-tag-input{
        width: 90%;
        line-height: 24px;
        border: 1px solid #cccccc !important;
        box-shadow: inset 1px 1px 3px #f6f6f6;
        tag{
            background: $primary-color !important;
            border-radius: 4px !important;
        }
    }
}
.btn-inverse-active{
    background-color: #435769 !important;
    border-color: #435769;
    box-shadow: none;
    color: $white-txt;;
}
.fa{
    cursor:pointer;
}
.dealer-tab-menu{
    .nav-tabs{
        top: 44%;
    }
}
.business-tab{
    .tab-content{
        position: static !important;
        display: contents !important;
    }
    .nav-tabs{
        position: fixed;
        bottom: 75px;
        right: 0px;
        min-width: 185px !important;
        li{
            border-radius: 50px 0px 0px 50px;
        }
    }
    .nav-item{
        .nav-link{
            margin: 0px 0px 5px 0px !important;
            border: 1px solid #435769;
            border-radius: 50px 0px 0px 50px;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
        }
        .nav-link.active{
            background: #a9a9a9;
            border-radius: 50px 0px 0px 50px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: $white-txt;
            font-weight: 600;
            &:hover{
                border-right: 4px solid $primary-color !important;
            }
        }
    } 
}
.table-padding{
    .datatable-body-cell-label{
        padding: 3px 15px !important;
    }
}
.placeholder-text{
    ::placeholder{
        font-size:13px;
        padding-right:10px;
        color:#6C757D;
    }
 }
.header-title.addeditpage{
    width: 100%;
}
#pcoded{
    &[vertical-nav-type="offcanvas"] {
        .header-title.addeditpage {
            width: 100%;
        }
    }
} 
.f-w-300{
    font-weight: 300 !important;
}
.location-page{
    .input-tag{
        .tag-select {
            .ng2-tag-input{
                padding:0px !important;
                border: 1px solid #cccccc !important;
            }
        }
        ::placeholder{
            font-size:14px;
            color:#495057;
        }
        .ng2-tag-input__text-input{
            font-family: inherit !important;
            margin-left:-8px;
        }
    }
}
.ng-select{
    width: 90%;
    max-width: 100%;
    border-radius: 2px;
    border: 1px solid #cccccc;
    box-shadow: inset 1px 1px 3px #f6f6f6;
    .multiple{
        border: none !important;
        padding-bottom: 0px !important;
    }
    .single{
        background: transparent !important;
        padding: 3px 0px !important;
        color: #757575 !important;
        .placeholder{
            color: #757575 !important;
            font-size: 14px;
        }
        .clear{
            color: #2b2f33 !important;
        }
    }
}
 #pcoded{
    &[vertical-nav-type="offcanvas"] {
        .header-title.consumer-header {
            width: 95%;
            .text-right{
                padding-right:10px;
            }
        }
    }
}

// user //

.role-dropdown{
    select{
    font-size: 13px;
    display: block;
    float: none;
    background: $white-txt;;
    padding: 6px 12px;
    color: #2b2f33;
    border: 1px solid #dfe8f1;
    box-shadow: inset 1px 1px 3px #f6f6f6;
    width: 100%;
    }
}
.categoryimage{
    img{
        height:75px;
        margin-left: 10px;
    }
}
.search-close:focus{
    box-shadow: none !important;
}
.search-close{
    position: relative;
    right: 8%;
    margin-top: 0 !important;
    .fa-close{
        color: $primary-color;
    }
}

// report //

.report-table{
    .card-header{
        padding: 15px;
        h5{
            color: #2f3d4a;
            font-size: 15px;
            font-weight: bold;
            display: inline-block;
            text-transform: uppercase;
        }
        .card-header-right{
            padding: 0;
        } 
    }
   .card-block {
        padding: 15px;
    }
    .datatable-header{
        .datatable-header-cell{
            color: #2f3d4a; 
        }
    }
    .report-search{
        margin-top:-3px;
        width: auto !important;
        &:focus{
            border:1px solid transparent !important;
        }
    }
    .download-btn{
        margin-top: 0px;
        margin-left: 5px;
    }
    // .report-search::placeholder{
    //     color:#ccc;
    // }
    .card-option{
        display: none;
    }
    .header-title{
        position: absolute;
        top: 10px;
    }
    .fixed-table-header{
        .datatable-body{
            height: 50vh !important;
            overflow: auto;
        }
    }
}
.search-length{
    label{
        white-space: nowrap;
        input{
            margin-left: 5px;
            display: inline-block;
            width: 75%;
            max-width: 100%;
        }
    }
}
.show-length{
    .form-control{
        display: inline-block;
        width: auto;   
    }
}
.report-title{
    display: inline-block;
    width: 100%;
    h2{
        font-size: 20px;
        text-transform: capitalize;
        padding: 0;
        font-weight: 500;
        margin: 0 15px;
        color: $primary-color;
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
    }
    p{
        font-size: 13px;
        color: #414C59;
        text-transform: capitalize;
        margin-left: 16px;
    }
    .btn{
        font-size: 14px;
        padding: 0.375rem 0.75rem !important;
        border-radius: 0;
        text-transform: uppercase;
        font-weight: 500;
        margin-top: 4px;
        line-height: 24px;
        i{
            margin-right: 0;
        }
    }
    .form-control{
        &:focus{
            border-color:$primary-color;
            box-shadow: none;
        }
    }
    select.form-control{
        background: transparent;
        border-bottom: 1px solid #b1b8bb;
        padding: 0.275rem 0.50rem !important;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        &:focus{
            background: transparent;
            border-bottom: 1px solid #b1b8bb;
            padding: 0.275rem 0.50rem !important;
            border-top: 0;
            border-left: 0;
            border-right: 0;
        }
    }
    .fa-calendar{
        background: $primary-color;
        color:$white-txt;
        border: 1px solid $primary-color;
        border-radius: 0;
    }
    .header-search{
        &:focus{
            border:0;
        }
    }
    input{
        background: #FFFFFF;
        border-right: 0;
    }
    .form-group{
        margin-left: 15px;
    }
    .generate-button{
        padding: 7px 20px;
    }
}
.business-title{
    h2{
        font-size: 20px;
        text-transform: capitalize;
        padding: 0;
        font-weight: 500;
        margin: 0;
        color: $primary-color;
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
    }
    p{
        font-size: 13px;
        color: #414C59;
        text-transform: capitalize;
        margin-left: 1px;
        margin-bottom: 10px;
    }
}
.business-table{
    background: $white-txt;;
    padding: 10px 15px;
    margin-bottom: 10px;
    .form-control{
        font-size: 13px;
        display: block;
        float: none;
        background: $white-txt;;
        padding: 6px 12px;
        color: #2b2f33;
        border: 1px solid #cccccc;
        box-shadow: inset 1px 1px 3px #f6f6f6;
    }
    label {
        font-weight: bold;
        color: #3e4855;
    }
    .input-group{
        margin-bottom: 5px;
    }
    .form-group{
        margin-bottom: 0px;
    }
}
.customer-report{
    border:1px solid $white-txt !important;
    .datatable-header {
        border-bottom: 1px solid hsl(216, 6%, 84%);
        margin-left:0px;
        width:100vw !important;
        .datatable-header-cell{
            border: 0px solid #d3d5d8;
            color: $primary-text-color;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 13px;
            width:100vw;
            overflow: inherit !important;
            &:first-child{
                padding-left: 0px;
            }   
        }
    }
    .datatable-body-row {
        border-bottom: 1px solid #d3d5d8;
        .datatable-body-cell {
            border: 0px solid #d3d5d8;
            font-size: 13px;
            color: #67757c;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            white-space: nowrap;
            width: 100%;
            max-width:100%;
        }
    }
    .datatable-body{
        width:100% !important;
        height: auto;
        .datatable-row-wrapper:nth-child(){
            width:100%;
        }
    }
    .reg-date{
        .datatable-header-cell-label {
            padding: .75rem 15px .75rem 10px !important;
        }
    }
    .memberships-type{
        .datatable-header-cell-label {
            padding: .75rem 35px .75rem 10px !important
        }
    }
    .bizs-type{
        .datatable-header-cell-label {
            padding: .75rem 35px .75rem 0px !important;
        }
    }
    .category-type{
        .datatable-header-cell-label {
            padding: .75rem 35px .75rem 0px !important;
        }
    }
    .mobile-no{
        .datatable-header-cell-label {
            padding: .75rem 35px .75rem 18px !important;
        } 
    }
    .datatable-header-cell-label {
        padding: .75rem 35px .75rem 10px !important;
    }
    .datatable-body{
        .datatable-scroll {
            display: inline-block;
            width: 100vw !important;
        }
    }
}
.payment-report{
    width:98.5%;
    .form-group{
        margin-top: 10px;
    }
    .toggle{
        color: #2b2f33 !important;
        width:35px !important; 
    }
    .generate-button {
        padding: 7px 15px;
    }
    .card{
        margin-bottom: 8px;
        label {
            font-weight: bold;
            color: #3e4855;
        }
        .ng-select{
            width: 100%;
        }
    }  
}
.payment-table{
    .card-block {
        padding: 0px 15px 0;
    }
    .form-group{
        margin-bottom: 5px;
    }
    .card-header {
        padding: 15px 15px 8px 15px;
    }
    .header-title{
        position: relative;
    }
}
#pcoded{
    &[vertical-nav-type="offcanvas"] {
        .customer-report{
            .datatable-row-wrapper:nth-child(odd) {
                width: 100%;
            }
            .datatable-row-wrapper:nth-child(even) {
                width: 100%;
            }
            .datatable-body-cell{
                width:150px;
            }
        }
    }
}
.dealer-report{
    .option{
        width:100%;
    }
}
.btn.disabled, .btn:disabled{
    pointer-events: none;
}
// report //

.toggle{
    color: #2b2f33 !important;
    width:35px !important; 
}
.header-navbar {
    .navbar-wrapper {
        .navbar-container{
            .nav-right{
                 .user-profile{
                    img{
                        width: 50px;
                        height: 50px;
                        display:inline-block;
                        box-shadow: 0px 5px 25px 0 rgba(0, 0, 0, 0.25)
                    }
                }
            }
        }
    }
 }
.fixed-table{
    .card-block {
        padding: 0px 15px 0px 15px;
    }
}

.dt-picker{
    .form-control{
        &:focus{
            border-color: $primary-color !important;
        }
    }
}
.report-title.payment-report{
    .ng-select {
        div {
            .multiple{
                padding: 3px 10px !important;
            }
        }
    }
}
.hide-branch{
    display: none;
}
// consumer view //
.avatar-image{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    line-height: 90px;
    max-width: 100%;
    .img-responsive{
        vertical-align: bottom;
        height: 140px;
    }
}
.keytype{
    .ng-select{
        width:100%;
        border: 0;
        border-bottom: 1px solid #b1b8bb;
        box-shadow: none;
    }
}
.checkbox-column{
    display: inline-flex;
    width: 100px;
}
.fav-title{
    h3{
        color: #2f3d4a;
        font-family: "Nunito", sans-serif;
    }
}
.business-select{
    .ng-select{
        width:100%;
    }
    textarea{
        width:100%;
    }
}
.pay-online{
    display: inline-block;
}

// footer //
.datatable-footer-inner{
    height:40px !important;
}
.card{
    margin-bottom: 10px;
}
.checkbox-selection{
    .datatable-body-row{
        .datatable-body-cell{
            line-height: 28px !important;
        }
    }
}
// footer //

// view consumer //
.view-table{
    .data-table {
        .datatable-header {
            .datatable-header-cell{
                width:100%;
            }
        }
    }
}

.view-list-form{
    label {
        font-size: 16px;
        font-weight: bold;
        color: #2f3d4a;
    }
    span {
        display: inline-block;
        font-size: 15px;
        color: $primary-color;
        font-weight: 600;
        padding-top: calc(0.175rem + 1px);
        padding-bottom: calc(0.375rem + 1px);
    }
}
.border-bottom{
    border-bottom: 1px solid #d6d9de;
    margin-left: 20px;
}
// view consumer //

// no data //

.no-data {
    .nodata-text {
        position: absolute;
        top: 0;
        left: 30%;
        h3 {
            margin: 5px 0 15px;
            color: #5e6569;
            font-size: 20px;
            font-weight: bold;
        }
        .btn{
            font-size: 14px;
            padding: 5px 7px;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 0.2px;
            margin-top: 5px;
            margin-bottom: 10px;
            line-height: normal;
        }
        .hand-icon{
            margin-bottom: 25px;
        }
    }
    .nodata-image{
        margin-top:15% !important;
    }
}

.bg-c-green {
    background: linear-gradient(45deg, #00A8B0, #18C5A9);
}
.bg-c-pink {
    background: linear-gradient(45deg, #ff4081, #FF5370);
}
.bg-c-yellow {
    background: linear-gradient(45deg, #E67E22, #F39C12);
}
.reload-btn{
    padding: 3px 5px !important;
}
.f-60{
    font-size: 60px;
}
.ngb-dp-weekday{
    color: $primary-color !important;
}
// no data //
select-dropdown{
    div{
        z-index: 11 !important;
    }
}
// checkbox
.checkbox-column{
    .border-checkbox-section {
        .border-checkbox-group {
            display: block;
            line-height: normal;
            margin-left: 16px;    
            .border-checkbox-label{
                margin-bottom: 12px;
                &:before {
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .border-checkbox-label {
            padding-left:5px;
            height:auto;
        }
    }
}

.profile-page{
    .md-close-btn{
        right:36px;
    }
    .custom-file-control:lang(en):empty::after {
        content: "Browse";
    }
}

.gigs-modal{
    .md-effect-7{
        top: 60px;
        .gig-modal-height{
            max-height: 70vh;
            overflow-y: scroll;
        }
    }
    // .saveupdate{
    //     position: fixed;
    //     right: 0;
    //     bottom: 0px;
    // }
}
.coupon-modal{
    .md-effect-7{
        top: 60px;
    }
}
.card.project-task{
    .amcharts-chart-div{
        a{
            display:none !important;
        }
    }
}
.denied{
    width: 35%;
    margin: auto;
}
.star-rating{
    tr{
        border-top: none !important;
    }
    .br{
        margin: 0px !important;
    }
}
.fullname {
    display: inline-block;
    width: auto;
    margin-left: 5px;
    font-weight: 500 !important;
    color: #2f3d4a !important;
    font-family: $font-stack;
    margin-right: 5px;
}
.profile-image {
    width: 45px;
    display: inline-block;
    text-align: center;
    background: #ccc;
    border-radius: 100%;
    line-height: 45px;
    max-width: 100%;
}
.f-14 {
    font-size: 14px !important;
}
.cursor-pointer {
    cursor: pointer;
}
.cursor-text {
    cursor: text;
}

.video-responsive{
    display: inline-block;
    max-width: 100%;
    padding: 10px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button{ 
  -webkit-appearance: none; 
  margin: 0; 
}
.obscure-eye {
    &:focus {
        box-shadow: none !important;
    }
    border: 1px solid #cdcdcd;
    border-left: none;
}
.expandable{
    overflow: inherit !important;
}
.no-padding {
    .datatable-header-cell-label {
        padding-left: 0px !important;
    }
}
.image.form-control {
    height: auto !important;
}
.customertable {
    .w-55 {
        width: 55% !important;
    }
    .datatable-body-cell{
        &:first-child{
            width: 55% !important; 
        }
    }
}
.subscriptionplan-label {
    color: $white-txt !important;
    width: 22%;
}
.subscriptionplan-label.active {
    transform: scale(1.1);
    box-shadow: 0px 2px 5px 1px #777;
    background-color: $success-color !important;
    border-color: $success-color !important;
}
.business-settings {
    label {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 800;
        p {
            font-size: 13px;
            color: #aaa;
            font-weight: 400;
            text-transform: none;
            margin-bottom: 0px;
        }
    }    
    .setting-action {
        position: relative;
        .js-medium {
            position: absolute;
            top: 40%;
            right: 0;
        }
    }
}
.table-header .data-table .datatable-row-wrapper:nth-child(odd) {
    background-color: #ffffff !important;
}
